@import 'preloader.json';
/// Preloader
///
/// @access public
/// @group objects
///
/// @param {map} $custom - where custom config will be passed
@mixin preloader($custom: custom('preloader')) {

    // Configuration
    $preloader: config($preloader, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************

        @include fill-parent(fixed);

        transform: scale(1);

        @media (max-width: this('visible-at')) {
            display: none;
        }

        //*********************************************************
        // Components
        //*********************************************************

        @include component('spinner') {
            @include spinner(this('spinner')...);
            @include vertical-center();
            @include horizontal-center();
        }

        @include component('close') {
            @include horizontal-center();

            position: absolute;
            text-align: center;
        }

        //*********************************************************
        // Modifiers
        //*********************************************************

        @include modifier('hidden') {
            transform: scale(0);
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin preloader