
/* Alert Bars
================================================================ */

%alert {
	padding: 0.85em;
	border: 1px solid;
	font-size: 0.9em;
	border-radius: 0.25em;
	font-weight: lighter;
	position: relative;
	border: 1px solid rgba(0,0,0,0.15);
	&.notice {
		border-radius: 0;
		padding: 1.5em;
		font-weight: normal;
		h3, h4 {
			margin-bottom: 0;
			line-height: 1;
		}
		p {
			margin: 0;
		}
		.fa {
			position: absolute;
			right: 1.25rem;
			top: 50%;
			font-size: 1.4em;
			transform: translateY(-50%);
		}
	}
	a {
		color: inherit;
		border-bottom: 1px dotted;
		&:hover {
			text-decoration: none;
		}
	}
}

.alert-help {
	@extend %alert;
	background: desaturate(lighten($alert-yellow, 20%), 20%) !important;
	color: darken(desaturate($alert-yellow, 25%), 25%);
}

.alert-info {
	@extend %alert;
	background: lighten($alert-blue, 20%) !important;
	color: darken(desaturate($alert-blue, 15%), 15%);
}

.alert-error {
	@extend %alert;
	background: desaturate(lighten($alert-red, 20%), 20%);
	color: darken(desaturate($alert-red, 10%), 10%);
}

.alert-success {
	@extend %alert;
	background: lighten($alert-green, 20%) !important;
	color: darken(desaturate($alert-green, 15%), 15%);
}