
/* Fonts
================================================================ */

// Declare actual typefaces in skeleton/_variables.scss

/******************************************************************
Font 1
******************************************************************/

@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700,900);

.font-1 {
    font-family: $font-1;
}

/******************************************************************
Font 2
******************************************************************/

@import url(http://fonts.googleapis.com/css?family=Cookie);

.font-2 {
    font-family: $font-2;
}

/******************************************************************
Font 3
******************************************************************/

@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700);

.font-3 {
	font-family: $font-3;
}