
/* Links
================================================================ */

a {
    color: $brand-1;
    transition: all 0.5s;
    text-decoration: none;
    &:hover {
    	text-decoration: underline;
    }
}

.icon-cta {
	display: block;
	background: $brand-1;
	height: 32px;
	width: 32px;
	text-decoration: none;
	position: relative;
	text-align: center;
	&:after {
		content: "\f0c9";
		font-family: FontAwesome;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		margin: auto;
		color: white;
		font-size: 1.1rem;
	}
	&:hover {
		text-decoration: none;
	}
}