
/* Blockquotes
================================================================ */

.pull-quote {

	font-family: $font-3;
	font-style: italic;
	position: relative;
	&:before {
		position: absolute;
		font-family: FontAwesome;
		font-size: 1.75rem;
		color: rgba(0,0,0,0.15);
		top: -0.25rem;
	}
	&.left, &.right {
		margin-top: 1em;
		margin-bottom: 1em;
		width: 260px;
	}
	&.left {
		margin-right: 1em;
		padding-left: 2em;
		&:before {
			content: "\f10d";
			left: 0;
		}
	}
	&.right {
		margin-left: 1em;
		padding-right: 2em;
		text-align: right;
		&:before {
			content: "\f10e";
			right: 0;
		}
	}

	@media (max-width: $breakpoint-2) {
		display: block;
		&.left, &.right {
			float: none;
			margin: 2em auto;
			width: 100%;
		}
	}

}