@import '../../modules/elements/modals/modals.json';
/// Modals
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
@mixin modals($custom: custom('modals')) {

    // Configuration
    $modals: config($modals, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {
        
        @include vertical-center();
        @include horizontal-center();
        
        // Private styles 
        position: fixed;
        overflow: auto;
        width: 650px;
        max-width: 90%;
        max-height: 90%;

        // hide by default
        opacity: 0;
        visibility: hidden;

        //*********************************************************
        // Modifiers
        //*********************************************************
        
        @include modifier('visible') {
            opacity: 1;
            visibility: visible;
        }
        
        @include modifier('animate') {
            
            transition: core('transition');
            
            @include modifiers(('top', 'bottom')) {
                @include modifier('visible') {
                    top: 50%;
                }
            }
            
            @include modifier('top') {
                top: 45%;
            }
            
            @include modifier('bottom') {
                top: 55%;
            }
            
            @include modifiers(('left', 'right')) {
                @include modifier('visible') {
                    transform: translateX(0) translateY(-50%);
                }
            }
            
            @include modifier('left') {
                transform: translateX(-15%) translateY(-50%);
            }
            
            @include modifier('right') {
                transform: translateX(15%) translateY(-50%);
            }
            
            @include modifier('zoom') {
                transform: scale(0.5) translateY(-75%);
                @include modifier('visible') {
                    transform: scale(1) translateY(-50%);
                }
            }
            
        }

        //*********************************************************
        // Components
        //*********************************************************
        
        @include component('content');
        
        @include component('close') {
            cursor: pointer;
            position: absolute;
            font-size: this('close', 'size');
            &:hover {
                color: this('close', 'hover-color');
            }	
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;
        
    } // module
    
    @include module('overlay') {
        &[class*="dialog-visible"] {
            z-index: 12;
        }
    }

} // @mixin modals