@import 'accordion.json';
/// Accordion
///
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
@mixin accordion($custom: custom('accordion')) {

    // Configuration
    $accordion: config($accordion, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Components
        //*********************************************************

        @include component('section') {
            &:not(:last-child) {
                margin-bottom: this('section', 'vertical-rhythm');
            }

            @if (this('section', 'vertical-rhythm') == 0) {
                &:not(:last-child) {
                    > *:first-child, > *:last-child {
                        border-bottom: 0 !important;
                    }
                }
            }

            @include modifier('active') {
                @include component('toggle') {
                    transform: rotate(90deg) translateZ(0);
                }

                @include component('content') {
                    display: block;
                }
            }
        }

        @include component('title', (
            display: block,
            margin: 0,
            backface-visibility: hidden,
            font-weight: normal,
            line-height: 1,
            cursor: pointer
        ));

        @include component('toggle', (
            float: right,
            line-height: 0.75
        ));

        @include component('content', (
            display: none,
            margin: 0,
            margin-top: -1px
        ));

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin accordion