@import 'ui/modules/elements/accordions/accordions.json';
/// Accordions
///
/// @access public
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
@mixin accordions($custom: custom('accordions')) {

    // Configuration
    $accordions: config($accordions, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************

        @include vertical-rhythm('bottom');

        margin-bottom: core('margin');

        //*********************************************************
        // Components
        //*********************************************************

        @include component('section') {
            &:not(:last-child) {
                margin-bottom: this('section', 'vertical-rhythm');
            }

            @if (this('section', 'vertical-rhythm') == 0) {
                &:not(:last-child) {
                    > *:first-child, > *:last-child {
                        border-bottom: 0 !important;
                    }
                }
            }
        }

        @include component('title') {

            display: block;
            margin: 0;
            backface-visibility: hidden;
            font-weight: normal;
            line-height: 1;
            cursor: pointer;

            @include modifier('active') {
                // open/close icon
                &::after {
                    transform: rotate(90deg) translateZ(0);
                    color: this('title', 'hover', 'color');
                }
            }

            // open/close icon
            &::after {
                content: this('icon', 'glyph');
                float: right;
                transition: core('transition');
                color: this('icon', 'color');
                font-family: FontAwesome;
                line-height: 0.75;
            }

            &:hover {
                &::after {
                    color: this('title', 'active', 'color');
                }
            }
        }

        @include component('content') {
            display: none;
            margin: 0;
            margin-top: -1px;

            @include modifier('active') {
                display: block;
            }
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin accordions