@import 'carousels.json';
/// Carousels
///
/// @access public
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
@mixin carousels($custom: custom('carousels')) {

    // Configuration
    $carousels: config($carousels, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Components
        //*********************************************************

        @include component('slide') {
            width: 100%;
        }

        @include component('navigationItem') {
            width: this('navigationItem', 'size');
            height: this('navigationItem', 'size');

            @if this('navigationItem', 'shape') == 'circle' {
                border-radius: 50%;
            }
            @else if this('navigationItem', 'shape') == 'square' {
                border-radius: 0;
            }

            @if this('navigationItem', 'disable') {
                display: none;
            }

            svg {
                @include horizontal-center();
                @include vertical-center();

                width: this('navigationItem', 'arrow-size');
                height: this('navigationItem', 'arrow-size');
            }

            .arrow {
                fill: this('navigationItem', 'arrow-color');
            }
        }

        @include component('pagination') {
            bottom: auto;
            margin-top: this('bullet', 'gutter');
        }

        @include component('bullet') {
            width: this('bullet', 'size');
            height: this('bullet', 'size');
            background-color: this('bullet', 'fill');
            @if this('bullet', 'disable') {
                display: none;
            }

            &.is-selected {
                background-color: this('bullet', 'active-fill');
            }
        }

        //*********************************************************
        // Modifiers
        //*********************************************************

        @include modifier('hide-pagination') {
            @include component('pagination') {
                visibility: hidden;
                opacity: 0;
                content: 'fizzbuzz';
            }
        }

        @include modifier('hide-navigation') {
            @include component('navigationItem') {
                display: none;
            }
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin carousels