
/* Header
================================================================ */

header.page-header {
	background: $dark-grey;
	.container {
		position: relative;
	}
	.download {
		margin-left: 1em;
		display: none;
		&:hover {
			background: $brand-2;
		}
		.fa {
			position: relative;
			top: 1px;
		}
	}	
	@media (min-width: $breakpoint-3) {
		width: 100%;
		.button {
			display: inline-block;
		}
		.header-wrapper {			
			display: table;
			width: 100%;
		}	
		.logo, .main-nav {
			display: table-cell;
			vertical-align: middle;
		}
	}
	/* The below media query is for the mobile menu to work properly */
	@media (max-width: $breakpoint-3) {
		.container {
			max-width: 100%;
		}
		.logo {
			padding-left: (100% - $max-width)/2;
		}
	}
}

