
/* Logo
======================================================================= */

.logo {	

	font-size: 1.5rem;
	padding: 0.85rem 0;
	a {
		color: white;
		&:hover {
			text-decoration: none;
			.fa {
				transform: none;
				background: $brand-3;
				&:before {					
					content: "\f015";
				}
			}
		}
	}
	.fa {
		background: $brand-1;
		line-height: 32px;
		width: 32px;
		border-radius: 3px;
		font-size: 0.8em;
		text-align: center;
		transition: 0.5s;
		vertical-align: top;
		backface-visibility: hidden;
		transform: rotate(180deg);
	}
	img {
		max-height: 35px;
		display: inline-block;
		vertical-align: middle;
	}

}