
/* Main Navigation
================================================================ */

.main-nav {

	text-align: right;
	/* Mobile Menu Trigger */
	@import "menu-trigger";
	ul {
		@extend ul.reset;
		display: none;
	    position: relative;
		font-size: 0;
	    li {
		    ul {
		    	padding-left: 2em;
		    }  
		    &:hover {
		    	> a {		    		
					color: white;
					background: darken($brand-1, 10%);
		    	}
		    }
	    }
    	a {
			text-decoration: none;
			display: block;	
			line-height: 4em;
			color: $grey;
			padding: 0 1em;
			font-size: 1rem;
    	}
	}

/* Desktops only beyond this point ==================================== */

	@media (min-width: $breakpoint-3) {

		ul {
			white-space: nowrap;
		    li {
		    	@import "dropdown-nav";
				display: inline-block;
				position: relative;
		    }
		}

		> ul {
			display: inline-block;
			> li {
				margin-left: 1px;
			    &.current-page-ancestor, &.current-menu-item {
			    	> a {		    		
						color: white;
						background: $brand-1;
			    	}
			    }
			}
		}

	}

} /* End ".main-nav" */
