
/* Main Slider
================================================================ */

#main-slider {

	background: $grey;
	color: white;
	position: relative;
	section {		
		height: 375px;
		background: $brand-1;
		background-repeat: no-repeat;
		background-position: center top;
	}
	.container {
		@extend %vam;
	}
	.graphic {
		text-align: center;
		display: none;
		.fa {
			font-size: 15em;
			color: rgba(0,0,0,0.45);
		}
		.fa-download {
			margin-top: 1.75rem;
		}
		.fa-pencil-square-o {
			margin-top: 1.45rem;
		}
		.fa-puzzle-piece {
			margin-top: 1.2rem;
		}
	}
	.owl-item {
		&:nth-child(2) {
			section {
				background-image: url(../../images/slide-2-bg.jpg);
			}
			.meta {
				.button {
					&:hover {
						color: #286472;
					}
				}
			}
		}
		&:nth-child(3) {
			section {
				background-color: $brand-3;
			}
			h1 {
				text-transform: none;
			}
			.meta {
				.button {
					&:hover {
						color: $brand-3;
					}
				}
			}
		}
		&:nth-child(4) {
			section {
				background-color: $brand-2;
			}
			.meta {
				.button {
					&:hover {
						color: $brand-2;
					}
				}
			}
		}
	}
	h1 {
		line-height: 1;
		text-transform: uppercase;
		.font-2 {
			text-transform: none;
		}
	}
	.button, a {
		color: white;
	}
	.meta {
		.button {
			margin-right: 0.5rem;
			&:hover {
				background: white;
				border-color: transparent;
				color: $brand-1;
			}
		}
	}

/******************************************************************
Pagination
******************************************************************/

	.owl-pagination {
		position: absolute;
		bottom: 1.5em;
		left: 0;
		right: 0;
	}
	.owl-prev, .owl-next {
		display: none;
		position: absolute;
		top: 50%;		
  		transform: translateY(-50%);
  		height: 2.5em;
  		width: 2.5em;
  		background: white;
  		transition: 0.4s;
  		&:after {
			font-family: FontAwesome;
			position: absolute;
			top: 50%;
  			transform: translateY(-50%);
  			left: 0;
  			right: 0;
  			margin: auto;
  			color: $grey;
  			font-size: 1.2em;  			
  		}
	}
	.owl-prev {
		left: -2.75em;
		&:after {
			content: "\f0d9";
			left: -0.1em;
		}
	}
	.owl-next {
		right: -2.75em;
		&:after {
			content: "\f0da";
			right: -0.1em;
		}
	}
	&:hover {
		.owl-prev {
			left: 0;
		}
		.owl-next {
			right: 0;
		}
	}

/******************************************************************

******************************************************************/

	@media (min-width: $breakpoint-3) {
		section {
			height: 450px;
		}
		.graphic {
			display: inline-block;
		}
		.owl-prev, .owl-next {
			display: block;
		}
	}

	@media (min-width: $breakpoint-4) {
		section {
			background-size: cover;
		}
	}

}