
/* Mobile Menu Trigger
   Used in: "modules/_main-nav.scss"
================================================================ */

.menu-trigger {

	position: absolute;
	right: 5%;
	top: 1em;
	outline: 0;
	backface-visibility: hidden;
	transition: 0.6s;
	&:after {
		top: 50%;
	}
	&.active {
		background: $brand-3;
		transform: rotate(-90deg);
		outline: 0;
		&:after {
			content: "\f00d";
		}
	}

} /* End .menu-trigger */