
/* Sidebar
======================================================================= */

.sidebar {
	h4 {
		line-height: 1;
		padding-bottom: 0.5rem;
		margin-bottom: 0.5rem;
		border-bottom: 1px solid rgba(0,0,0,0.15);
	}
	.widget_advanced_menu {		
		padding: 1.5em;
		background: rgba(0,0,0,0.05);
		margin-bottom: 1em;
	}
	ul {
		@extend ul.reset;
		a {
			line-height: 1.8;
			display: block;
		}
		ul {
			li {
				position: relative;
				&:before {
					content: "-";
					position: absolute;
					left: 0;
					opacity: 0.5;
				}
				&.current_page_item {
					> a {
						background: rgba(0,0,0,0.1);
						color: $grey;
						&:before, &:after {
							background: rgba(0,0,0,0.1);
						}
					}
				}
			}
			a {
				color: $grey;
				padding-left: 1em;
			}
			ul {
				li {
					&:before {
						left: 1em;
						content: "\f105";
						font-family: FontAwesome;
						top: 50%;
						transform: translateY(-50%);
					}
				}
				a {
					padding-left: 2rem;
					font-size: 0.9em;
				}
			}
		}
	}
	li {
		&.current_page_item, &.current-page-parent {
			> a {
				background: $brand-1;
				color: white;
				position: relative;
				&:before, &:after {
					content: "";
					width: 1.5em;
					height: 100%;
					background: $brand-1;
					position: absolute;
					top: 0;
				}
				&:before {
					left: -1.5em;
				}
				&:after {
					right: -1.5em;
				}
			}
		}
	}
	&.active {
		position: fixed;
		width: 23.125%;
		top: 1em;
	}
}
#searchform {
	margin-bottom: 1em;
	@extend .cf;
	input, button {
		float: left;
	}
	input {
		width: 80%;
		width: calc(100% - 40px);
		height: 40px;
		padding: 0 0.75em;
		line-height: 40px;
		border: 1px solid rgba(0,0,0,0.15);
		transition: 0.4s;
		background: #E4E4E4;
		font-size: 0.9em;
		box-sizing: border-box;
		&:focus, &:hover {
			border-color: $brand-1;
		}
		&:focus {
			background: white;
		}
	}
	button {
		height: 40px;
		width: 40px;
		padding: 0;
		border: none;
		position: relative;
		transition: 0.4s;
		.fa {			
			position: absolute;
			top: 47%;
			transform: translateY(-50%);
			left: 0;
			right: 0;
			margin: auto;
			color: white;
		}
	}
}

.social-menu {
	ul {		
		padding: 0;
		a {
			display: block;
			background: $grey;
			color: white;
			text-align: center;
			line-height: 3;
			margin-bottom: 0.5em;
			position: relative;
			&.facebook {
				background: #507CBD;
				&:hover {
					background: darken(#507CBD, 10%);
				}
			}
			&.twitter {
				background: #63CEF2;
				&:hover {
					background: darken(#63CEF2, 10%);
				}
			}
			&.github {
				background: #B43047;
				&:hover {
					background: darken(#B43047, 10%);
				}
			}
			&.codepen {
				background: #707070;
				&:hover {
					background: darken(#707070, 10%);
				}
			}
			&:hover {
				text-decoration: none;
			}
			.fa {
				margin-right: 2px;
			}
		}
	}
}

::placeholder {
  opacity: 0.35;
}