
/* Subheader
======================================================================= */

.sub-header {
	background-color: $grey;
	background-image: url(../../images/further-bg.jpg);
	background-position: center 26%;
	padding: 3.5em 0;
	color: white;
	h1 {		
		font-size: 3em;
		font-weight: lighter;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
	}
	@media (min-width: $breakpoint-3) {
		background-size: cover;
	}
}