/// Headings
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
/// @outputs all heading styles
///
/// @example
///     @include headings((
///         'font'      : 'Times New Roman',
///         'icon-size' : 24px
///     ));
@mixin headings($custom: ()) {

    //*************************************************************
    // Configuration
    //*************************************************************

    $headings: config((
        'name': 'heading',
        'group_heading-lineHeight': 0.8,
        'sizes':(
            'sizes': typography-config('sizes'),
            'optional-sizes': (),
            'responsive-sizes': typography-config('sizes'),
            'breakpoints': (
                'break-3': 0.85
            )
        )
    ), $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************

        line-height: 1;

        //*********************************************************
        // Sizes
        //*********************************************************

        @include font-sizes(this('sizes'));

        //*********************************************************
        // Modifiers
        //*********************************************************

        @include modifier('heavy') {
            font-weight: bolder;
            font-weight: 900;
        }

        @include modifier('light') {
            font-weight: lighter;
            font-weight: 300;
        }

        @include modifier('uppercase') {
            text-transform: uppercase;
        }
        
        @include modifier('flush') {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }

        //*********************************************************
        // Components
        //*********************************************************

        @include component('group') {
        
            @include vertical-rhythm('bottom');
            margin-bottom: core('margin');
            font-size: 1rem;
            position: relative;
            background-size: cover;

            @include overwrite('heading') {
                @include vertical-rhythm;
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                line-height: this('group_heading-lineHeight');
            }
        
        }

    } // module

} // @mixin headings