//=================================================================
// Alert Bars
//=================================================================

@mixin alert-bars($custom: ()) {

    //-------------------------------------------------------------
    // Config
    //-------------------------------------------------------------

    $alert-bars: config((
        'name'          : 'alert-bar',
        'border-radius' : 0.25em,
        'border-width'  : 1px,
        'padding'       : 0.85em,
        'font-size'     : 0.9em,
        'font-weight'   : lighter
    ), $custom);

    //-------------------------------------------------------------
    // Module
    //-------------------------------------------------------------

    @include module {

    // Core Styles
    //-------------------------------------------------------------

        padding: this('padding');
        border: this('border-width') solid;
        font-size: this('font-size');
        border-radius: this('border-radius');
        font-weight: this('font-weight');
        
        border-color: rgba(black, 0.15);
        position: relative;

        &:hover {
            text-decoration: none;
        }

        a {
            border-bottom: 1px dotted;
            &:hover {
                text-decoration: none;
            }
        }
        
        a, b {
            color: inherit;
        }

    // Modifiers
    //-------------------------------------------------------------

        @each $name, $color in palette('alert') {
            @include modifier($name) {
                background-color: $color;
                color: alert-text($color);
                border-color: alert-border($color);
            }
        }

    } // module

} // @mixin alert-bars

//-----------------------------------------------------------------
// Utilities
//-----------------------------------------------------------------

@function alert-text($color) {
    @return desaturate(darken($color, 50%), 25%);
}   
  
@function alert-border($color) {
    @return desaturate(darken($color, 30%), 25%);
}