/// Alert Bars
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
/// @outputs all alert bar styles
///
/// @example
///     @include alert-bars((
///         'title-bg'    : blue,
///         'title-color' : white
///     ));
@mixin alert-bars($custom: ()) {

    //*************************************************************
    // Configuration
    //*************************************************************

    $alert-bars: config((
        'name'       : 'alert-bar',
        'colors'     : palette('alert'),
        'text-color' : color('greyscale', 'white'),
        'padding'    : 0.85em
    ), $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************
        
        // Private styles
        position: relative;

        // Public styles
        padding: this('padding');
        color: this('text-color');

        // Pseudo States
        //*********************************************************

        &:hover {
            text-decoration: none;
        }

        // Child Elements
        //*********************************************************

        a {
            border-bottom: 1px dotted;
            &:hover {
                text-decoration: none;
            }
        }
        
        a, b {
            color: inherit;
        }

        //*********************************************************
        // Modifiers
        //*********************************************************

        @each $name, $color in this('colors') {
            @include modifier($name) {
                background-color: $color;
            }
        }

        //*********************************************************
        // Components
        //*********************************************************

        @include component('icon') {
            margin-right: 0.5em;
            @include modifier('right') {
                float: right;
                margin-left: 0.5em;
                margin-right: 0;
            }
        }

    } // module

} // @mixin alert-bars