//=================================================================
// Progress Bars
//=================================================================

@mixin progress-bars($custom: ()) {

    //-------------------------------------------------------------
    // Config
    //-------------------------------------------------------------

    $progress-bars: config((
        'name'            : 'progress-bar',
        'background'      : rgba(black, 0.15),
        'fill-background' : color('brand', 'primary'),
        'bar-height'      : 1.5em,
        'bar-radius'      : 0.25em,
        'value-color'     : color('greyscale', 'white'),
        'value-size'      : font-size('size-2'),
        'group-spacing'   : 0.5em
    ), $custom);

    //-------------------------------------------------------------
    // Module
    //-------------------------------------------------------------

    @include module {
        height: this('bar-height');
        border-radius: this('bar-radius');
        background: this('background');
        display: block;
        position: relative;
        width: 100%;
        border: none;
        overflow: hidden;
        &:before {
            @include vertical-center(absolute);
            left: 0.5em;
            content: attr(data-progress);
            color: this('value-color');
            font-size: this('value-size');
        }

        // Components
        //-------------------------------------------------------------

        @include component('group') {
            @include overwrite('heading') {
                margin-bottom: this('group-spacing');
            }
        }
    
    }

    .progress {
        background: this('fill-background');
        display: block;
    }

    // HTML5 Progress
    //-------------------------------------------------------------

    progress {

        &::-webkit-progress-bar {
            background: this('background');
            height: this('bar-height');
        }

        &::-webkit-progress-value {
            background: this('fill-background');
            height: this('bar-height');
        }
        
        &::-moz-progress-bar {	
            background: this('fill-background');
        }

    } // progress

} // @mixin progress-bars