@import '../../modules/elements/progress-bars/progress-bars.json';
/// Progress Bars
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
@mixin progress-bars($custom: custom('progress-bars')) {

    // Configuration
    $progress-bars: config($progress-bars, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        height: this('bar-height');
        border-radius: this('bar-radius');
        background: this('background');
        display: block;
        position: relative;
        width: 100%;
        border: none;
        overflow: hidden;
        
        &:before {
            @include vertical-center(absolute);
            left: 0.5em;
            content: attr(data-progress);
            color: this('value-color');
            font-size: this('value-size');
        }

        //*********************************************************
        // Components
        //*********************************************************

        @include component('group') {
            @include module('heading') {
                margin-bottom: this('group-spacing');
            }
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;
    
    }

    .progress {
        background: this('fill-background');
        display: block;
    }

    //*************************************************************
    // HTML5 Progress
    //*************************************************************

    progress {

        &::-webkit-progress-bar {
            background: this('background');
            height: this('bar-height');
        }

        &::-webkit-progress-value {
            background: this('fill-background');
            height: this('bar-height');
        }
        
        &::-moz-progress-bar {	
            background: this('fill-background');
        }

    }

} // @mixin progress-bars