@import 'search.json';
/// Search
///
/// @access public
/// @group objects
///
/// @param {map} $custom - where custom config will be passed
@mixin search($custom: custom('searchBox')) {

    // Config
    $search: config($search, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        // Core Styles
        position: fixed;
        z-index: 16;
        top: 0;
        width: 100%;
        transform: translateY(-100%);
        text-align: center;

        @include component('wrapper') {
            @include _module('container');

            height: 100%;
        }

        @include modifier('visible') {
            transform: translateY(0);
        }

        @include component('input') {
            width: 100%;
            height: 100%;
            padding: 0;
            border: none;
            outline: 0;

            &:focus {
                &::placeholder {
                    //opacity: 0;
                }
            }
        }

        @include components(('go', 'close')) {
            cursor: pointer;

            &:focus {
                outline: 0;
            }
        }

        @include module('button') {
            @include component('group') {
                @include vertical-center();

                right: 0;
            }
        }

        ::placeholder {
            @include get-styles(this('placeholder'));
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin search