<nav class="breadcrumb">
    <ul>
        {{#each breadcrumb}}
            {{#is this ../page.basename}}
                <li>{{.}}</li>
            {{else}}
                <li><a href="">{{.}}</a></li>
            {{/is}}
        {{/each}}
    </ul>
</nav>