<footer class="footer{{#each footer.modifiers}}-{{.}}{{/each}}">
    <div class="footer_wrapper container">
        <div class="footer_copyright">
            &copy; <script>document.write(new Date().getFullYear())</script> Edmund Reed
        </div>
        <nav class="footer_nav">
            <ul class="list-reset-inline">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
            </ul>
        </nav>
    </div>
</footer>