<footer class="footer{{#each footer.modifiers}}-{{.}}{{/each}}">
    <div class="footer_wrapper{{#if wide}}-wide{{/if}}">
        <div class="footer_copyright">2016 Edmund Reed</div>
        <nav class="footer_nav">
            <ul>
                <li>
                    <a href="#">Link 1</a>
                </li>
                <li>
                    <a href="#">Link 2</a>
                </li>
                <li>
                    <a href="#">Link 3</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>