<header class="app-header">
    <div class="app-header_wrapper">
        <div class="logo">
            <img src="logo.png" alt="One Nexus Logo">
        </div>
        <nav class="navigation">
            <ul>
                <li>
                    <a href="#">Link 1</a>
                </li>
                <li>
                    <a href="#">Link 2</a>
                </li>
                <li>
                    <a href="#">Link 3</a>
                </li>
            </ul>
        </nav>
    </div>
</header>