<header class="appHeader{{#each header.modifiers}}-{{.}}{{/each}}">
    <div class="appHeader_wrapper">
        <div class="logo">
            <a href="{{assets}}" alt="One-Nexus logo">
                <img src="{{assets}}assets/images/logo-light.png" alt="One-Nexus Logo">
            </a>
        </div>
        <nav class="navigation">
            <ul>
                <li>
                    <a href="#">Link 1</a>
                    <ul>
                        <li>
                            <a href="#">Link 1</a>
                            <ul>
                                <li><a href="#">Link 3</a></li>
                                <li>
                                    <a href="#">Link 1</a>
                                    <ul>
                                        <li><a href="#">Link 2</a></li>
                                        <li><a href="#">Link 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Link 3</a></li>
                    </ul>
                </li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
            </ul>
        </nav>
        <div class="sideNav_toggle button-icon-primary">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>