<div class="preloader">
    <div class="preloader_spinner"></div>
    <div class="preloader_close">
        <div class="button-round-border-size-2-thin-grey-3">Disable Preloader</div>
    </div>
</div>