/// Vertical Center
///
/// @access public
/// @group Tools
///
/// @param {string} $position - the value to use for the `position` property
@mixin vertical-center($position: absolute) {
    position: $position;
    top: 50%;
    transform: translateY(-50%);
}

%vertical-center {
    @include vertical-center();
}