/// Carousels
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
/// @outputs all carousel styles
///
/// @example
///     @include carousels((
///     ));
@mixin carousels($custom: ()) {

    //*************************************************************
    // Configuration
    //*************************************************************

    $carousels: config((
        'name'                 : 'carousel',
        'output-json'          : true,
        'nav-icon-size'        : font-size('size-6'),
        'nav-icon-transition'  : core('transition'),
        'prev-icon'            : '\f137',
        'next-icon'            : '\f138',
        'pager-icon-size'      : 10px,
        'pager-icon-bg'        : rgba(black, 0.4),
        'pager-icon-transiton' : core('transition'),
        'pager-icon-active-bg' : grey
    ), $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************

        position: relative;

        //*********************************************************
        // Modifiers
        //*********************************************************

        @include modifier('no-nav') {
            @include overwrite-component('nav') {
                display: none;
            }
        }


        @include modifier('no-pager') {
            @include overwrite-component('pagination') {
                display: none;
            }
        }

        //*********************************************************
        // Components
        //*********************************************************

        @include component('nav') {

            position: relative;

            @include component('item') {
                cursor: pointer;
                transition: this('nav-icon-transition');
                font-size: this('nav-icon-size');
                &:before {
                    font-family: FontAwesome;
                }
                @include modifier('prev') {
                    display: inline-block;
                    &:before {
                        content: this('prev-icon');
                    }
                }
                @include modifier('next') {
                    position: absolute;
                    top: 0;
                    right: 0;
                    &:before {
                        content: this('next-icon');
                    }
                }
            }

        }

        @include component('pagination') {
            text-align: center;
        }

    } // module

    //*************************************************************
    // Owl-Carousel Overwrites
    //*************************************************************

    .owl-dot {
        cursor: pointer;
        cursor: hand;
        user-select: none;
        display: inline-block;
        &:not(:first-child) {
            margin-left: 0.5em;
        }
        &.active {
            span {
                background: this('pager-icon-active-bg');
            }
        }
        span {
            display: block;
            border-radius: 50%;
            height: this('pager-icon-size');
            width: this('pager-icon-size');
            background: this('pager-icon-bg');
            transition: this('pager-icon-transition');
        }
    }

} // @mixin carousels
