/// Carousels
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
/// @outputs all carousel styles
///
/// @example
///     @include carousels((
///     ));
@mixin carousels($custom: ()) {

    //*************************************************************
    // Configuration
    //*************************************************************

    $carousels: config((
        'name'             : 'carousel',
        'output-json'      : true,
        'nav-buttons':(
            'enabled'      : true,
            'size'         : font-size('size-6'),
            'transition'   : core('transition'),
            'prev'         : '\f137',
            'next'         : '\f138'
        ),
        'bullets':(
            'enabled'      : true,
            'size'         : 10px,
            'color'        : rgba(black, 0.4),
            'transition'   : core('transition'),
            'active-color' : grey
        )
    ), $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************

        position: relative;

        //*********************************************************
        // Components
        //*********************************************************

        @include component('nav') {

            position: relative;

            @include component('item') {
                position: absolute;
                cursor: pointer;
                transition: this('nav-buttons', 'transition');
                font-size: this('nav-buttons', 'size');
                &:before {
                    font-family: FontAwesome;
                }
                @include modifier('prev') {
                    display: inline-block;
                    left: 0;
                    &:before {
                        content: this('nav-buttons', 'prev');
                    }
                }
                @include modifier('next') {
                    top: 0;
                    right: 0;
                    &:before {
                        content: this('nav-buttons', 'next');
                    }
                }
            }

        }

        @include component('bullets') {
            text-align: center;
        }

        //*************************************************************
        // Owl-Carousel Overwrites
        //*************************************************************

        .owl-dot {
            cursor: pointer;
            cursor: hand;
            user-select: none;
            display: inline-block;
            &:not(:first-child) {
                margin-left: 0.5em;
            }
            &.active {
                span {
                    background: this('bullets', 'active-color');
                }
            }
            span {
                display: block;
                border-radius: 50%;
                height: this('bullets', 'size');
                width: this('bullets', 'size');
                background: this('bullets', 'color');
                transition: this('bullets', 'transition');
            }
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin carousels
