
/* Grid System
======================================================================= */

[class*="span"] {
    display: inline-block;
    zoom: 1; *display: inline; /* IE < 8: fake inline-block */
    vertical-align: top;
	margin-left: $gutter;
	&:first-of-type {
		margin-left: 0;
	}
}

/* Custom Column Grid */

@for $i from 1 through $columns {
	.span-#{$i} {			
		width: ( (100/$columns) * $i) - ( ( ((100 / ((100/$columns) * $i)) - 1) * $gutter ) / ( $columns / $i ) )
	}
}

.row {

	@media (max-width: $breakpoint-1) {
		&.bp1 {
			[class*="span"] {
				margin-left: 0;
				width: 100%;
			}
			&.block-columns {
				> [class*="span"] {
					display: inline-block;
				}
			}
		}
	}	

	@media (max-width: $breakpoint-2) {
		&.bp2 {
			[class*="span"] {
				margin-left: 0;
				width: 100%;
			}
			&.block-columns {
				> [class*="span"] {
					display: inline-block;
				}
			}
		}
	}	

	@media (max-width: $breakpoint-3) {
		&.bp3, &:not([class*="bp"]) {
			> [class*="span"] {
				margin-left: 0;
				width: 100%;
			}
			&.block-columns {
				> [class*="span"] {
					display: inline-block;
				}
			}
		}
	}

	@media (max-width: $breakpoint-4) {
		&.bp4 {
			[class*="span"] {
				margin-left: 0;
				width: 100%;
			}
			&.block-columns {
				> [class*="span"] {
					display: inline-block;
				}
			}
		}
	}	

	@media (max-width: $breakpoint-5) {
		&.bp5 {
			[class*="span"] {
				margin-left: 0;
				width: 100%;
			}
			&.block-columns {
				> [class*="span"] {
					display: inline-block;
				}
			}
		}
	}	

	&.block-columns {
		> [class*="span"] {
			display: table-cell;
		}
	}

} /* End Row */

