---
layout: base.hbs
header:
    modifiers:
    - fixed
    - hidden
    - dark
scripts:
    - <%=assets%>assets/scripts/jquery.stellar
    - <%=assets%>assets/themes/<%=theme%>/app
Prism: 1.6.0
---

<h1>Hello Space!</h1>

<div class="accordion">
    <div class="accordion_section">
        <div class="accordion_title">Accordion Title</div>
        <div class="accordion_content">
            <p>Lorem ipsum.</p>
        </div>
    </div>
    <div class="accordion_section">
        <div class="accordion_title">Accordion Title</div>
        <div class="accordion_content">
            <p>Lorem ipsum.</p>
        </div>
    </div>
</div>

<div class="carousel" id="foo" data-carousel='{"initialIndex": 1}'>
    <div class="carousel_slide">lorem ipsum</div>
    <div class="carousel_slide">Dolor sit amet</div>
    <div class="carousel_slide">lorem ipsum</div>
    <div class="carousel_slide">Dolor sit amet</div>
</div>

<a href="#fizz">Fizz Modal Trigger</a>
<div class="modal" data-modal-style="zoom" id="fizz">Fizz Modal</div>

<a href="#buzz">Buzz Modal Trigger</a>
<div class="modal"  id="buzz">Buzz Modal</div>

<div data-modal-target="modal-demo-10">Foo Bar</div>
<a href="#modal-demo-10" data-modal-content="Lorem ipsum dolor sit amet." data-modal-style="zoom">Click Me</a>

<div data-modal-content="<p>Modal Content</p>">Click Me</div>