---
layout: base.hbs
header:
    modifiers:
    - fixed
    - hidden
    - dark
scripts:
    - <%=assets%>assets/scripts/jquery.stellar
    - <%=assets%>assets/themes/<%=theme%>/app
Prism: 1.6.0
---

<h1>Hello Space!</h1>