---
layout: base.hbs
header:
    modifiers:
    - sticky
    - hidden
    - dark
scripts:
    - <%=assets%>assets/themes/<%=theme%>/app
Prism: 1.6.0
---

<h1>Hello Space!</h1>

<div class="accordion" id="foo">
    <div class="accordion_section">
        <div class="accordion_title">Accordion Title</div>
        <div class="accordion_content">
            <p>Lorem ipsum.</p>
        </div>
    </div>
    <div class="accordion_section">
        <div class="accordion_title">Accordion Title</div>
        <div class="accordion_content">
            <p>Lorem ipsum.</p>
        </div>
    </div>
</div>

<div class="carousel" id="foo" data-carousel='{"initialIndex": 1}'>
    <div class="carousel_slide">lorem ipsum</div>
    <div class="carousel_slide">Dolor sit amet</div>
    <div class="carousel_slide">lorem ipsum</div>
    <div class="carousel_slide">Dolor sit amet</div>
</div>

<a href="#fizz">Fizz Modal Trigger</a>
<div class="modal" data-modal-style="zoom" id="fizz">Fizz Modal</div>

<a href="#buzz">Buzz Modal Trigger</a>
<div class="modal" id="buzz">Buzz Modal</div>

<div data-modal-target="modal-demo-10">Foo Bar</div>
<a href="#modal-demo-10" data-modal-content="Lorem ipsum dolor sit amet." data-modal-style="zoom">Click Me</a>

<div data-modal-content="<p>Modal Content</p>">Click Me</div>

<progress class="progress-bar" max="100" data-progress="75%">foo</progress>

<br><br>

<div class="tabs">
    <ul class="tabs_nav">
        <li class="tabs_nav_item active">Latest</li>
        <li class="tabs_nav_item">Popular</li>
        <li class="tabs_nav_item">Comments</li>
    </ul>
    
    <div class="tabs_content-block">
        <section class="tabs_item active">
            tab item
        </section>
        
        <section class="tabs_item">
            ...
        </section>
        
        <section class="tabs_item">
            <div class="tabs">
                <ul class="tabs_nav">
                    <li class="tabs_nav_item active">Latest</li>
                    <li class="tabs_nav_item">Popular</li>
                    <li class="tabs_nav_item">Comments</li>
                </ul>
                
                <div class="tabs_content-block">
                    <section class="tabs_item active">
                        tab item
                    </section>
                    
                    <section class="tabs_item">
                        ...
                    </section>
                    
                    <section class="tabs_item">
                        foo
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>

<br />

<a href="#" class="button-icon tooltip-left" data-tooltip="Facebook">
    <i class="fa fa-facebook"></i>
</a>

<br />
<br />

<div class="google-map" data-google-map='{
    "height": "80vh",
    "zoom": 12,
    "longitude": 37.773675, 
    "latitude": -122.421450
}'></div>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<div class="preloader">
    <div class="preloader_spinner"></div>
    <div class="preloader_close">
        <div class="button-round-border-size-2-thin-grey-3">Disable Preloader</div>
    </div>
</div>

<a class="button-icon-border scroll-top" href="#site-content">
    <i class="fa fa-angle-up"></i>
</a>

<span class="searchBox_trigger">
    <i class="fa fa-search"></i>
</span>

<span class="side-nav_trigger button-icon-primary">
    <i class="fa fa-bars"></i>
</span>