---
bodyID: 'top'
layout: base.hbs
billboard:
    heading: One-Nexus
    subHeading: Welcome to your new copy of One-Nexus
header:
    modifiers:
    - sticky
    - dark
---

<div id="react"></div>

<p><i>This page is just to confirm that your copy of One-Nexus is compiling properly. For a complete reference of the One-Nexus modules, visit the <a href="https://github.com/esr360/One-Nexus/wiki/UI-Modules" target="blank">UI Modules Wiki Page</a></i>.</p>

<h2 class="heading-size-6">Element Samples</h2>

<h3 class="heading-size-4-uppercase">Breadcrumb</h2>

<nav class="breadcrumb">
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="further-page.html">Further Page</a></li>
    </ul>
</nav>

<h3 class="heading-size-4-uppercase">Accordions</h2>

<div class="accordion">
    <div class="accordion_section">
        <div class="accordion_title">Accordion Title</div>
        <div class="accordion_content">
            <p>Lorem ipsum.</p>
        </div>
    </div>
    <div class="accordion_section">
        <div class="accordion_title">Accordion Title</div>
        <div class="accordion_content">
            <p>Lorem ipsum.</p>
        </div>
    </div>
</div>

<h3 class="heading-size-4-uppercase">Carousels</h2>

<div class="carousel" id="foo" data-carousel='{"initialIndex": 1}'>
    <div class="carousel_slide">lorem ipsum</div>
    <div class="carousel_slide">Dolor sit amet</div>
    <div class="carousel_slide">lorem ipsum</div>
    <div class="carousel_slide">Dolor sit amet</div>
</div>

<h3 class="heading-size-4-uppercase">Modals</h2>

<a href="#fizz" rel="modal">Modal 1 Trigger</a>
<div class="modal-zoom" id="fizz">Modal 1 Content</div>

<br><br>

<div data-modal-content="<p>Modal 2 Content</p>">Modal 2 Trigger</div>

<br>

<a href="#buzz" rel="modal">Modal 3 Trigger</a>
<div class="modal-animate-right" id="buzz">Modal 3 Content</div>

<br><br>

<div data-modal-target="modal-demo-10">Modal 4 Trigger</div>

<a rel="modal" href="#modal-demo-10" data-modal-content="Modal 4 Content" data-modal-style="zoom">
    Modal 4 Trigger
</a>

<h3 class="heading-size-4-uppercase">Progress Bars</h2>

<progress class="progress-bar" max="100" data-progress="75%">foo</progress>

<h3 class="heading-size-4-uppercase">Tabs</h2>

<div class="tabs">
    <ul class="tabs_nav">
        <li class="tabs_nav_item-active">Latest</li>
        <li class="tabs_nav_item">Popular</li>
        <li class="tabs_nav_item">Comments</li>
    </ul>
    
    <div class="tabs_content-block">
        <section class="tabs_item-active">
            tab item
        </section>
        
        <section class="tabs_item">
            ...
        </section>
        
        <section class="tabs_item">
            <div class="tabs">
                <ul class="tabs_nav">
                    <li class="tabs_nav_item-active">Latest</li>
                    <li class="tabs_nav_item">Popular</li>
                    <li class="tabs_nav_item">Comments</li>
                </ul>
                
                <div class="tabs_content-block">
                    <section class="tabs_item-active">
                        tab item
                    </section>
                    
                    <section class="tabs_item">
                        ...
                    </section>
                    
                    <section class="tabs_item">
                        foo
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>

<h3 class="heading-size-4-uppercase">Button With Tooltip</h2>

<a href="#" class="button-icon tooltip-left" data-tooltip="Facebook">
    <i class="fa fa-facebook"></i>
</a>

<h3 class="heading-size-4-uppercase">Google Map</h2>

<div id="map" class="google-map" data-google-map='{
    "height": "80vh",
    "zoom": 12,
    "longitude": 37.773675, 
    "latitude": -122.421450
}'></div>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<h3 class="heading-size-4-uppercase">Search Toggle</h2>

<span class="searchBox_toggle">
    <i class="fa fa-search"></i>
</span>

<h3 class="heading-size-4-uppercase">Side-Nav Toggle</h2>

<div class="sideNav_toggle button-icon-primary">
    <i class="fa fa-bars"></i>
</div>

<h3 class="heading-size-4-uppercase">Forms</h2>

<form class="form">
    <div class="form_group-validate-hasIcon">
        <input required type="text" class="form_input" placeholder="E.g. John Doe">
        <label class="form_label">Your Name</label>
    </div>
    <div class="form_group-validate">
        <textarea required class="form_input" placeholder="Enter your message..."></textarea>
        <label class="form_label">Your Message</label>
    </div>
    <button type="submit" class="button">Submit</button>
</form>