---
layout: base-wide.hbs
billboard:
    modifiers:
    - fullscreen
    heading: Build better websites with One Nexus
    subHeading: A unique, scalable & modular approach to front-end development
breadcrumb: false
container: false
---

<div class="container-large-section">

    <h2 class="heading-size-6 text-center">What is One Nexus?</h2>

</div>