---
bodyID: 'top'
layout: base.hbs
header:
    modifiers:
    - sticky
    - dark
---

<nav class="breadcrumb">
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="further-page.html">Further Page</a></li>
    </ul>
</nav>

<div class="scrollSpy_links">
    <a href="#scrollSpy_link-1">Link 1</a>
    <a href="#scrollSpy_link-2">Link 1</a>
    <a href="#scrollSpy_link-3">Link 1</a>
</div>

<a href="#map">map</a>

<h1>Hello Space!</h1>

<div id="scrollSpy_link-1"></div>

<div class="accordion" id="foo">
    <div class="accordion_section">
        <div class="accordion_title">Accordion Title</div>
        <div class="accordion_content">
            <p>Lorem ipsum.</p>
        </div>
    </div>
    <div class="accordion_section">
        <div class="accordion_title">Accordion Title</div>
        <div class="accordion_content">
            <p>Lorem ipsum.</p>
        </div>
    </div>
</div>

<div class="carousel" id="foo" data-carousel='{"initialIndex": 1}'>
    <div class="carousel_slide">lorem ipsum</div>
    <div class="carousel_slide">Dolor sit amet</div>
    <div class="carousel_slide">lorem ipsum</div>
    <div class="carousel_slide">Dolor sit amet</div>
</div>

<div id="scrollSpy_link-2"></div>

<a href="#fizz" rel="modal">Fizz Modal Trigger</a>
<div class="modal-zoom" id="fizz">Fizz Modal</div>

<br><br>

<div data-modal-content="<p>Modal Content</p>">Click Me</div>

<br>

<a href="#buzz" rel="modal">Buzz Modal Trigger</a>
<div class="modal-animate-right" id="buzz">Buzz Modal</div>

<br><br>

<div data-modal-target="modal-demo-10">Foo Bar</div>
<a rel="modal" href="#modal-demo-10" data-modal-content="Lorem ipsum dolor sit amet." data-modal-style="zoom">Click Me</a>

<progress class="progress-bar" max="100" data-progress="75%">foo</progress>

<br><br>

<div class="tabs">
    <ul class="tabs_nav">
        <li class="tabs_nav_item-active">Latest</li>
        <li class="tabs_nav_item-foo">Popular</li>
        <li class="tabs_nav_item">Comments</li>
    </ul>
    
    <div class="tabs_content-block">
        <section class="tabs_item active">
            tab item
        </section>
        
        <section class="tabs_item">
            ...
        </section>
        
        <section class="tabs_item">
            <div class="tabs">
                <ul class="tabs_nav">
                    <li class="tabs_nav_item-active">Latest</li>
                    <li class="tabs_nav_item">Popular</li>
                    <li class="tabs_nav_item">Comments</li>
                </ul>
                
                <div class="tabs_content-block">
                    <section class="tabs_item active">
                        tab item
                    </section>
                    
                    <section class="tabs_item">
                        ...
                    </section>
                    
                    <section class="tabs_item">
                        foo
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>

<br />

<a href="#" class="button-icon tooltip-left" data-tooltip="Facebook">
    <i class="fa fa-facebook"></i>
</a>

<br />
<br />

<div id="scrollSpy_link-3">spy link</div>

<div id="map" class="google-map" data-google-map='{
    "height": "80vh",
    "zoom": 12,
    "longitude": 37.773675, 
    "latitude": -122.421450
}'></div>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<a class="button-icon-border scroll-top" href="#top">
    <i class="fa fa-angle-up"></i>
</a>

<span class="searchBox_toggle">
    <i class="fa fa-search"></i>
</span>

<div class="sideNav_toggle button-icon-primary">
    <i class="fa fa-bars"></i>
</div>

<form class="form">
    <div class="form_group-validate-hasIcon">
        <input required type="text" class="form_input" placeholder="E.g. John Doe">
        <i class="form_icon fa fa-user"></i>
        <label class="form_label">Your Name</label>
    </div>
    <div class="form_group-validate">
        <textarea required class="form_input" placeholder="Enter your message..."></textarea>
        <label class="form_label">Your Message</label>
    </div>
    <button type="submit" class="button">Submit</button>
</form>

<hr class="hrule" />

<div id="sandbox" contenteditable="true">
    document.body.style.background = APPUI.config.colors.brand['brand-1'];
</div>

<script>
    var MutationObserver = window.MutationObserver || window.WebKitMutationObserver;

    var observer = new MutationObserver(function(mutations) {
        eval(document.getElementById('sandbox').innerHTML);
    });

    observer.observe(sandbox, {
        characterData: true,
        subtree: true,
        attributeOldValue: true,
    });
</script>   