---
layout: core.hbs
wide: false 
header:
    modifiers:
    - absolute
    - sticky
parallax: true
---

<div class="spacestation">
    <div class="spacestation_layers">
        <div class="spacestation_layer spacestation_layer1"></div>
        <div data-stellar-ratio="0.02" class="spacestation_layer spacestation_layer2"></div>
        <div class="spacestation_layer spacestation_layer3"></div>
        <div class="spacestation_layer spacestation_layer4"></div>
        <div data-stellar-ratio="0.3" class="spacestation_layer spacestation_layer5"></div>
        <div class="spacestation_layer spacestation_layer6"></div>
        <div data-stellar-ratio="0.4" class="spacestation_layer spacestation_layer7"></div>
        <div data-stellar-ratio="0.5" class="spacestation_layer spacestation_layer8"></div>
        <div data-stellar-ratio="0.6" class="spacestation_layer spacestation_layer9"></div>
        <div data-stellar-ratio="0.7" class="spacestation_layer spacestation_layer10"></div>
        <div class="spacestation_layer spacestation_layer11"></div>
        <div class="spacestation_layer spacestation_layer12"></div>
        <div data-stellar-ratio="2" class="spacestation_layer spacestation_layer13"></div>
    </div>
</div>

<div class="homepage_section1">
    <div class="homepage_section1_panel"></div>
</div>