---
layout: base.hbs
header:
    modifiers:
    - fixed
    - hidden
    - dark
scripts:
    - <%=assets%>assets/scripts/jquery.stellar
    - <%=assets%>assets/themes/<%=theme%>/app
Prism: 1.6.0
---

<h1>Hello Space!</h1>

<div class="accordion">
    <div class="accordion_section">
        <div class="accordion_title">Accordion Title</div>
        <div class="accordion_content">
            <p>Lorem ipsum.</p>
        </div>
    </div>
    <div class="accordion_section">
        <div class="accordion_title">Accordion Title</div>
        <div class="accordion_content">
            <p>Lorem ipsum.</p>
        </div>
    </div>
</div>

<div class="accordion-keepOpen">
    <div class="accordion_section">
        <div class="accordion_title">Accordion Title</div>
        <div class="accordion_content">
            <p>Lorem ipsum.</p>
        </div>
    </div>
    <div class="accordion_section">
        <div class="accordion_title">Accordion Title</div>
        <div class="accordion_content">
            <p>Lorem ipsum.</p>
        </div>
    </div>
</div>