---
layout: core.hbs
header:
    modifiers:
    - absolute
    - sticky
billboard:
    modifiers:
    heading: Lorem Ipsum Dolor Sit Amet
container:
    wide: false
breadcrumb: true
---

{{> billboard}}

<main id="{{contentID}}">
    <div class="container-section{{#if container.wide}}-large{{/if}}">
        {{#if 'breadcrumb'}}
            {{> breadcrumb}}
        {{/if}}
        {{> body}}
    </div>
</main>