---
layout: core.hbs
header:
    modifiers:
    - dark
billboard:
    heading: <%title%>
container:
    modifiers:
    - section
breadcrumb: true
---

{{> header}}

{{#if billboard}}
    {{> billboard}}
{{/if}}

<main id="{{contentID}}">
    {{#if container}}
        <div class="container{{#each container.modifiers}}-{{.}}{{/each}}">
    {{/if}}

    {{#if breadcrumb}}
        {{> breadcrumb}}
    {{/if}}

    {{> body}}

    {{#if container}}
        </div>
    {{/if}}
</main>

{{> footer}}