---
layout: core.hbs
header: 
    modifiers:
    - absolute
    - sticky
billboard:
    modifiers:
    - fullscreen
    heading: Lorem Ipsum Dolor Sit Amet
breadcrumb: true
---

{{> billboard}}

<main id="{{contentID}}">
    <div class="container-large-section">
        {{#if 'breadcrumb'}}
            {{> breadcrumb}}
        {{/if}}
    </div>
</main>