---
layout: core.hbs
header:
    modifiers:
    - dark
billboard:
    heading: <%title%>
container:
    modifiers:
    - section
breadcrumb: true
---

{{> header}}

<div class="searchBox">
    <form class="container">
        <input class="searchBox_input" required type="search" placeholder="Enter search query..." />
        <div class="button_group-small">
            <button class="searchBox_go button-icon-primary" type="submit">
                <i class="fa fa-search"></i>
            </button>
            <span class="searchBox_close button-icon">
                <i class="fa fa-times"></i>
            </span>
        </div>
    <form>
</div>

<div class="side-nav">
    <span class="side-nav_trigger button-icon-primary">
        <i class="fa fa-bars"></i>
    </span>
    <nav>
        <ul>
            <li class="active">
                <a href="#"><i class="navigation_icon fa fa-home"></i> Home</a>
            </li>
            <li>
                <a href="#">
                    <i class="side-nav_openClose fa fa-chevron-circle-down"></i> Features
                </a>
                <ul>
                    <li><a href="#">100% Modular UI</a></li>
                    <li><a href="#">Drag &amp; Drop Page Builder</a></li>
                    <li><a href="#">Unique Configuration</a></li>
                    <li><a href="#">Custom Grid System</a></li>
                    <li><a href="#">Intelligent Theming</a></li>
                    <li><a href="#">Mobile Optimized</a></li>
                </ul>
            </li>
            <li>
                <a href="#" target="blank">
                    <i class="side-nav_openClose fa fa-chevron-circle-down"></i> Documentation
                </a>
                <ul>
                    <li><a href="#" target="blank">Getting Started</a></li>
                    <li><a href="#" target="blank">Configure</a></li>
                    <li><a href="#" target="blank">Build</a></li>
                    <li><a href="#" target="blank">Deploy</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>

{{#if billboard}}
    {{> billboard}}
{{/if}}

<main id="{{contentID}}">

    {{#if container}}
        <div class="container{{#each container.modifiers}}-{{.}}{{/each}}">
    {{/if}}

    {{#if breadcrumb}}
        {{> breadcrumb}}
    {{/if}}

    {{> body}}

    {{#if container}}
        </div>
    {{/if}}
</main>

{{> footer}}