---
layout: core.hbs
header:
    modifiers:
    - dark
billboard:
    heading: <%title%>
container:
    modifiers:
    - section
breadcrumb: true
---

{{> header}}

<div class="searchBox">
    <form class="container">
        <input class="searchBox_input" required type="search" placeholder="Enter search query..." />
        <div class="button_group-small">
            <button class="searchBox_go button-icon-primary" type="submit">
                <i class="fa fa-search"></i>
            </button>
            <span class="searchBox_close button-icon">
                <i class="fa fa-times"></i>
            </span>
        </div>
    <form>
</div>

<div class="sideNav">
    <nav></nav>
</div>

{{#if billboard}}
    {{> billboard}}
{{/if}}

<main>

    {{#if container}}
        <div class="container{{#each container.modifiers}}-{{.}}{{/each}}">
    {{/if}}

    {{#if breadcrumb}}
        {{> breadcrumb}}
    {{/if}}

    {{> body}}

    {{#if container}}
        </div>
    {{/if}}
</main>

{{> footer}}