---
layout: base.hbs
---

{{> body}}

<div id="demoConfig"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/monokai-sublime.min.css" />
<script>hljs.initHighlightingOnLoad();</script>
<style>
    .hljs code { 
        font-family : monospace;
        font-size: 1em; 
    }
</style>