@import 'ui/modules/objects/scroll-top/scroll-top.json';
/// Scroll Top
///
/// @access public
/// @group objects
///
/// @param {map} $custom - where custom config will be passed
@mixin scroll-top($custom: custom('scroll-top')) {

    // Config
    $scroll-top: config($scroll-top, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        display: none;
        visibility: hidden;
        position: fixed;
        top: nth(this('position'), 1);
        right: nth(this('position'), 2);
        bottom: nth(this('position'), 3);
        left: nth(this('position'), 4);
        transform: translateZ(0);
        opacity: 0;


        @media (min-width: this('hide-below')) {
            display: block;
        }

        @include modifier('visible') {
            visibility: visible;
            opacity: 1;
        }

        &:hover {
            opacity: 1;
            text-decoration: none;
        }

        &.visible {
            visibility: visible;
            opacity: 1;
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin scroll-top