@import '../../modules/utilities/grid/grid.json';
/// Grid System
///
/// @access public
/// @group utilities
///
/// @param {map} $custom - where custom config will be passed
///
/// @require {mixin} kayzen-gs - http://esr360.github.io/Kayzen-GS/
///
/// @example
///     @include grid((
///         'options':(
///             'max-width' : 90% 
///         ),
///         'breakpoints':(
///             'break-3'   : 840px,
///             'break-5'   : 1600px
///         )
///     ));
@mixin grid($custom: custom('grid')) {

    // Configuration - https://git.io/vX7Re
    $grid: map-merge-deep($kayzenGS, $grid);

    // Merge default config with custom options
    $grid: config($grid, $custom) !global;

    // Load Kayzen-GS styles
    @include kayzen-gs($grid);

    $row:    this('options', 'row-namespace');
    $column: this('options', 'col-namespace');
    $gutter: this('options', 'gutter');

    // Row
    @include module($row) {

        @include modifier('breathe') {
            margin-bottom: -#{core('margin')};

            @include module($column) {
                margin-bottom: core('margin');
            }

            @media (min-width: this('options', 'col-break')) {
                margin-bottom: -#{$gutter};

                @include module($column) {
                    margin-bottom: $gutter;
                }
            }
        }

    }

} // @mixin grid

/// Get a breakpoint value
/// @access public
/// @group utilities
/// @param {string} $breakpoint - the key of your desired breakpoint
/// @return {number} - your desired breakpoint value
@function breakpoint($breakpoint) {
    @return map-get-deep($grid, 'breakpoints', $breakpoint);
}