@import '../../modules/objects/footer/footer.json';
/// Footer
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group objects
///
/// @param {map} $custom - where custom config will be passed
@mixin footer($custom: custom('footer')) {

    // Configuration
    $footer: config($footer, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************

        background: this('background');

        //*********************************************************
        // Components
        //*********************************************************

        @include component('wrapper') {
            @include _module('container');

            display: table;
            padding-top: this('wrapper-slug');
            padding-bottom: this('wrapper-slug');
            font-size: this('wrapper-font-size');
            color: this('wrapper-color');
        }

        @include component('nav') {
            ul {
                @include _module('list', ('reset', 'inline'), false);
            }
            a {
                color: this('nav-link-color');
                &:hover {
                    text-decoration: none;
                    color: this('nav-link-hover-color');
                }
            }
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin footer