/// Footer
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group objects
///
/// @param {map} $custom - where custom config will be passed
/// @outputs all footer styles
///
/// @example
///     @include footer((
///         'round-radius' : 4px,
///         'weight'       : bold
///     ));
@mixin footer($custom: ()) {

    //*************************************************************
    // Configuration
    //*************************************************************

    $footer: config((
        'name'                 : 'footer',
        'output-json'          : true,
        'background'           : color('greyscale', 'grey-6'),
        'wrapper-slug'         : 4em,
        'wrapper-font-size'    : 0.9em,
        'wrapper-color'        : color('greyscale', 'grey-3'),
        'logo-height'          : 34px,
        'nav-link-color'       : color('greyscale', 'grey-3'),
        'nav-link-hover-color' : color('greyscale', 'white')
    ), $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************

        background: this('background');

        //*********************************************************
        // Components
        //*********************************************************

        @include component('wrapper') {

            @include _module('container');

            display: table;
            padding-top: this('wrapper-slug');
            padding-bottom: this('wrapper-slug');
            font-size: this('wrapper-font-size');
            color: this('wrapper-color');

            @include modifier('wide') {
                @include _module('container', 'large');
            }

            @include module('logo') {
                img {
                    height: this('logo-height');
                }
            }

        }

        @include component('nav') {
            ul {
                @include extend(
                    $parent: 'list', $modifiers: ('reset', 'inline')
                );
            }
            a {
                color: this('nav-link-color');
                &:hover {
                    text-decoration: none;
                    color: this('nav-link-hover-color');
                }
            }
        }

    } // module

} // @mixin footer