/// Billboard
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group objects
///
/// @param {map} $custom - where custom config will be passed
/// @outputs all billboard styles
///
/// @example
///     @include billboard((
///         'round-radius' : 4px,
///         'weight'       : bold
///     ));
@mixin billboard($custom: ()) {

    //*************************************************************
    // Configuration
    //*************************************************************

    $billboard: config((
        'name'                : 'billboard',
        'output-json'         : true,
        'min-height'          : 500px,
        'padding'             : 6em 0,
        'color'               : color('greyscale', 'white'),
        'bg-color'            : color('brand', 'brand-1'),
        'bg-image'            : '',
        'wrapper-gutter'      : $gutter,
        'fullscreen':(
            'enabled'         : false, // {bool} | 'displace'
            'min-height'      : 700px,
            'height-displace' : option($header, 'height')
        ),
        'overlay':(
            'enabled'         : false,
            'color'           : color('brand', 'brand-1'),
            'opacity'         : 0.6
        )
    ), $custom) !global;

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************

        position: relative;
        min-height: this('min-height');
        background-color: this('bg-color');
        padding: this('padding');
        
        @if this('bg-image') {
            background-image: url(this('bg-image'));
            background-size: cover;
        }

        //*********************************************************
        // Options
        //*********************************************************
        
        @include option('fullscreen') {

            height: 100%;
            height: 100vh;
            min-height: this('fullscreen', 'min-height');

            @include value('displace') {
                height: calc(100% - #{
                    this('fullscreen', 'height-displace')
                });
                height: calc(100vh - #{
                    this('fullscreen', 'height-displace')
                });
            }

        }
        
        @include option('overlay') {
            @include bg-overlay(rgba(
                this('overlay', 'color'), 
                this('overlay', 'opacity')
            ));
        }

        //*********************************************************
        // Components
        //*********************************************************

        @include component('wrapper') {
            @extend %horizontal-center;
            @include vertical-center(absolute);
            @include content-guttter(this('wrapper-gutter'));
            color: this('color');
        }

    } // module

} // @mixin billboard