//=================================================================
// Images
//=================================================================

@mixin images($custom: ()) {

    //-------------------------------------------------------------
    // Config
    //-------------------------------------------------------------

    $images: config((
        'name' : 'image'
    ), $custom);

    //-------------------------------------------------------------
    // Responsive Images
    //-------------------------------------------------------------

    img {
        max-width: 100%;
        display: block;
    }
        
    //-------------------------------------------------------------
    // Horizontal & Vertical Centered Images
    //-------------------------------------------------------------

    .center-xy {
        position: relative;
        > img {
            @include vertical-center(absolute);
            @extend %horizontal-center;
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }

    //-------------------------------------------------------------
    // Square Image
    //-------------------------------------------------------------

    .image-square {
        position: relative;
        height: 0;
        padding-top: 20%;
        overflow: hidden;
        > img {
            position: absolute;
            top: -25%;
        }
    }

    //-------------------------------------------------------------
    // Background Image
    //-------------------------------------------------------------

    .bg-img {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        transition: core('transition');
    }

} // @mixin images