@import 'dropdown.json';
/// Dropdown
///
/// @access public
/// @group objects
///
/// @param {map} $custom - where custom config will be passed
@mixin dropdown($custom: custom('dropdown')) {

    // Config
    $dropdown: config($dropdown, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module('#{retrieve-value(('navigation', $navigation), 'name')}') {

        // parent menus
        ul {

            margin: 0;

            // show the dropdown
            li {

                position: relative;

                &:hover {
                    > ul {
                        visibility: visible;
                        z-index: 8;
                        opacity: 1;
                    }
                }
            }

            // dropdown menus
            ul {

                @include _module('list', ('reset'), false);
                visibility: hidden;
                position: absolute;
                z-index: 7;
                opacity: 0;

                li {

                    position: relative;

                    a {
                        @include get-styles(this('link'));

                        &::before, &::after {
                            font-family: FontAwesome;
                        }

                        &:not(:only-child) {
                            padding-right: this('link', 'padding') + 1rem;

                            &::after {
                                content: this('dropdown-icon');
                                right: 0.75em;
                                @include vertical-center();
                            }
                        }
                    }

                    // remove top border on first item
                    &:first-child {
                        > a {
                            border-top-color: transparent;
                        }
                    }

                    // remove bottom border on last item
                    &:last-child {
                        > a {
                            // border-bottom-color: transparent;
                        }
                    }

                    &:hover {
                        > a {
                            @include get-styles(this('link', 'hover'));
                        }

                        + li {
                            > a {
                                border-top-color: this('link', 'background');
                            }
                        }

                        > ul {
                            left: 50%;
                        }
                    }

                    &.active {
                        > a {
                            @include get-styles(this('link', 'active'));
                        }
                    }

                    ul {
                        top: 0;
                        left: 80%;
                        box-shadow: 1px 1px 6px 1px color('opaque', 'dark-2');

                        li {
                            a {
                                border-left: this('link', 'border-top');
                                border-left-color: this('link', 'border-top-color');
                            }
                        }
                    }

                } // li

            } // ul

            // first level only
            > ul {
                padding-top: this('top-position');
            }

        } // ul (parent)

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin dropdown