///****************************************************************
/// One-Nexus - A toolkit for architecting and constructing
/// front-end user-interfaces - https://github.com/esr360/One-Nexus
///
/// @author [@esr360](http://twitter.com/esr360)
///****************************************************************

//*****************************************************************
// Vendor Files
//*****************************************************************

// Sass librarys
@import '../../node_modules/normalize-scss/sass/normalize';
@import '../../node_modules/Kayzen-GS/dist/kayzen-gs.scss';
@import '../../node_modules/Sass-Boost/dist/sass-boost';
@import '../../node_modules/spinners/stylesheets/spinners';
@import '../../node_modules/Synergy/dist/synergy';

// CSS librarys
@import 'flickity.css';

//*****************************************************************
// Configuration
//*****************************************************************

// Import global app configuration
// Path is relative to ../app.scss at compile-time
@import 'ui/ui.json';

// Merge UI config with app-level config
$ui: map-merge-deep($ui, map-get($app, 'ui'));

// Synergy variables
$modifier-glue     : map-get($ui, 'modifier-glue');
$component-glue    : map-get($ui, 'component-glue');
$sass-config-parser: map-get($ui, 'sass-config-parser');

//*****************************************************************
// Tools
//*****************************************************************

@import 'tools/scss/background';
@import 'tools/scss/custom';
@import 'tools/scss/eval-config';
@import 'tools/scss/fill-parent';
@import 'tools/scss/font-sizes';
@import 'tools/scss/horizontal-center';
@import 'tools/scss/overlay';
@import 'tools/scss/retrieve-value';
@import 'tools/scss/triangle';
@import 'tools/scss/vertical-center';
@import 'tools/scss/vertical-rhythm';

//*****************************************************************
// Utilities
//*****************************************************************

@import 'modules/utilities/grid/grid';
@import 'modules/utilities/colors/colors';
@import 'modules/utilities/container/container';
@import 'modules/utilities/typography/typography';
@import 'modules/utilities/core/core';
@import 'modules/utilities/helpers/helpers';
@import 'modules/utilities/print/print';

//*****************************************************************
// Elements
//*****************************************************************

@import 'modules/elements/accordions/accordions';
@import 'modules/elements/alert-bars/alert-bars';
@import 'modules/elements/buttons/buttons';
@import 'modules/elements/blockquotes/blockquotes';
@import 'modules/elements/carousels/carousels';
@import 'modules/elements/forms/forms';
@import 'modules/elements/headings/headings';
@import 'modules/elements/images/images';
@import 'modules/elements/lists/lists';
@import 'modules/elements/modals/modals';
@import 'modules/elements/progress-bars/progress-bars';
@import 'modules/elements/tables/tables';
@import 'modules/elements/tabs/tabs';
@import 'modules/elements/tooltips/tooltips';
@import 'modules/elements/wells/wells';

//*****************************************************************
// Objects
//*****************************************************************

@import 'modules/objects/billboard/billboard';
@import 'modules/objects/breadcrumb/breadcrumb';
@import 'modules/objects/footer/footer';
@import 'modules/objects/google-map/google-map';
@import 'modules/objects/header/header';
@import 'modules/objects/logo/logo';
@import 'modules/objects/navigation/navigation';
@import 'modules/objects/dropdown/dropdown';
@import 'modules/objects/overlay/overlay';
@import 'modules/objects/preloader/preloader';
@import 'modules/objects/scroll-top/scroll-top';
@import 'modules/objects/search/search';
@import 'modules/objects/side-nav/side-nav';

//*****************************************************************
// Themes
//*****************************************************************

@import 'themes/One-Nexus/theme';