//=================================================================
// Scroll to Top
//=================================================================

@mixin scroll-top($custom: ()) {

    //-------------------------------------------------------------
    // Config
    //-------------------------------------------------------------

    $scroll-top: config((
        'name'            : 'scroll-top',
        'output-json'     : true,
        'position'        : (auto, 2rem, 2rem, auto),
        'hide-below'      : breakpoint('break-5')
    ), $custom);

    //-------------------------------------------------------------
    // Component
    //-------------------------------------------------------------

    @include module {

        display: none;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: nth(this('position'), 1);
        right: nth(this('position'), 2);
        bottom: nth(this('position'), 3);
        left: nth(this('position'), 4);
        transform: translateZ(0);
        &.visible {
            opacity: 1;
            visibility: visible;
        }
        &:hover {
            text-decoration: none;
            opacity: 1;
        }

        @media (min-width: this('hide-below')) {
            display: block;
        }

    } // module
	
} // @mixin scroll-top