@import '../../modules/objects/overlay/overlay.json';
/// Overlay
///
/// @access public
/// @group objects
///
/// @param {map} $custom - where custom config will be passed
@mixin overlay($custom: custom('overlay')) {

    // Config
    $overlay: config($overlay, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        visibility: hidden;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateZ(0);
        opacity: 0;
        cursor: pointer;

        @include modifier('visible') {
            visibility: visible;
            opacity: 1;
        }

        @include modifier('light') {
            background: this('light-background');
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    }

} // @mixin overlay