@import 'image.json';
/// Image
///
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
@mixin image($custom: custom('image')) {

    // Configuration
    $image: config($image, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Modifiers
        //*********************************************************

        @include modifier('center-xy') {
            position: relative;

            @include component('figure') {
                @include horizontal-center();
                @include vertical-center();

                margin-right: auto !important;
                margin-left: auto !important;
            }
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    }

    //*************************************************************
    // Responsive Images
    //*************************************************************

    img {
        display: block;
        max-width: 100%;
    }

} // @mixin image