//=================================================================
// Flyout Navigation
//=================================================================

@mixin flyout-nav($custom: ()) {

    //-------------------------------------------------------------
    // Config
    //-------------------------------------------------------------

    $flyout-nav: config((
        'name'                : 'flyout-nav',
        'output-JSON'         : true,
        // Options
        'width'               : 400px,
        'font-size'           : font-size('size-2'),
        'background'          : color('greyscale', 'grey-5'),
        'box-shadow'          : 1px 0 25px 0px rgba(black, 0.4),
        'transition'          : core('transition'),
        'z-index'             : 14,
        // Settings
        'show-y-scrollbar'    : option($side-nav, 'show-y-scrollbar'),
        'collapsible'         : (
            'enabled'         : option($side-nav, 'collapsible', 'enabled'),
            'open-by-default' : option($side-nav, 'collapsible', 'open-by-default')
        )
    ), $custom);

    //-------------------------------------------------------------
    // Component
    //-------------------------------------------------------------

    @include module {
        
        position: fixed;
        top: 0;
        height: 100%;
        transition: core('transition');
        background: this('background');
        width: this('width');
        font-size: this('font-size');
        left: -#{this(width)};
        z-index: this('z-index');
        
        ul {
            display: block;
        }
        
        // Reveal the flyout navigation
        @include modifier('visible') {
            left: 0;
            box-shadow: this('box-shadow');
        }
        
        @include option('show-y-scrollbar') {
            overflow-y: scroll;
        }
        
    }

    // site-overlay
    .flyout_visible {
        z-index: (this('z-index') + 1) !important;
    }

} // mixin flyout-nav()