@import '../../modules/objects/breadcrumb/breadcrumb.json';
/// Breadcrumb
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group objects
///
/// @param {map} $custom - where custom config will be passed
@mixin breadcrumb($custom: custom('breadcrumb')) {

    // Configuration
    $breadcrumb: config($breadcrumb, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        @include object;
        
        // the breadcrumb may or may not be a ul itself
        &, & > ul {
            @include extend($parent: 'list', $modifiers: 'reset');
            margin-left: 0;
        }

        a {
            @each $property, $value in this('link') {
                #{$property}: $value;
            }
        }
        
        li {
            display: inline;
            &:not(:last-child) {
                margin-right: 0.2em;
                &:after {
                    font-family: FontAwesome;
                    content: this('divider-icon');
                    color: this('icon-color');
                    margin-left: 0.4em;
                }
            }
            &:hover {
                a {
                    @each $property, $value in this('link-hover') {
                        #{$property}: $value;
                    }
                }
            }
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin breadcrumb