/// Breadcrumb
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group objects
///
/// @param {map} $custom - where custom config will be passed
/// @outputs all breadcrumb styles
///
/// @example
///     @include breadcrumb((
///         'min-height'     : 350px
///     ));
@mixin breadcrumb($custom: ()) {

    //*************************************************************
    // Configuration
    //*************************************************************

    $breadcrumb: config((
        'name'         : 'breadcrumb',
        'font-size'    : 0.9em,
        'divider-icon' : '\f105',
        'icon-color'   : core('text-color')
    ), $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        font-size: this('font-size');
        
        // the breadcrumb may or may not be a ul itself
        &, & > ul {
            @include extend($parent: 'list', $modifiers: 'reset');
            margin: 0;
        }
        
        li {
            display: inline;
            &:not(:last-child) {
                margin-right: 0.2em;
                &:after {
                    font-family: FontAwesome;
                    content: this('divider-icon');
                    color: this('icon-color');
                    margin-left: 0.4em;
                }
            }
        }

    } // module

} // @mixin breadcrumb