@import 'tooltip.json';

/// tooltip
///
/// @access public
/// @group elements
/// @see https://github.com/esr360/K-tooltip
///
/// @param {map} $custom - where custom config will be passed
@mixin tooltip($custom: custom('tooltip')) {

    // Configuration
    $tooltip: config($tooltip, $custom);

    // Positions
    $tooltip-positions: ('top', 'bottom', 'left', 'right');

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************

        cursor: pointer;
        position: relative;

        //*********************************************************
        // Modifiers
        //*********************************************************

        @include modifier('inline') {
            display: inline-block;

            @include component('content') {
                white-space: nowrap;
            }
        }

        //*********************************************************
        // Components
        //*********************************************************

        @include component('wrapper') {
            text-align: center;
        }

        @include component('content') {
            display: inline-block;
            visibility: hidden;
            position: absolute;
            opacity: 0;
            white-space: nowrap;

            // Show when parent component is hovered/touched
            @include context('parent-hovered') {
                visibility: visible;
                opacity: 1;
            }

            // Direction Arrow
            @include triangle-core;

            // Positions
            @each $tooltip-position in $tooltip-positions {
                [class*="tooltip_wrapper"][class*="-#{$tooltip-position}"] & {
                    #{$tooltip-position}: this('distance');
                    @include triangle((
                        'core'     : false,
                        'position' : #{$tooltip-position},
                        'color'    : this('arrow-color'),
                        'size'     : this('arrow-size')
                    ));

                    @if $tooltip-position == top {
                        transform: translateX(-50%) translateY(-100%);
                    }
                    @else if $tooltip-position == bottom {
                        transform: translateX(-50%) translateY(100%);
                    }
                    @else if $tooltip-position == left {
                        top: 50%;
                        transform: translateX(-100%) translateY(-50%);
                    }
                    @else if $tooltip-position == right {
                        top: 50%;
                        transform: translateX(100%) translateY(-50%);
                    }
                }
            }
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin tooltip