
/* Base
================================================================ */

//-----------------------------------------------------------------
// General
//-----------------------------------------------------------------

html, body {
	padding: 0;
	margin: 0;
}

html {
    overflow-x: hidden;
}

body {
    line-height: $base-line-height;
    font-family: $font-1;
    color: $base-text-color;
	background-color: $background-color;
    font-size: $base-font-size;
}

a {
    color: $brand-1;
    transition: 0.4s;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

//-----------------------------------------------------------------
// Structure
//-----------------------------------------------------------------

.container {
	width: $base-width;
	max-width: $max-width;
	margin: 0 auto;
}

.site-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    background: rgba(0,0,0,0.4);
    transform: translateZ(0);
    transition: 0.4s;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    &.visible {
        visibility: visible;
        opacity: 1;
    }
}

//-----------------------------------------------------------------
// Layout
//-----------------------------------------------------------------

* {
    &, &:before, &:after {
        box-sizing: border-box;
    }
}

h1, h2, h3, h4, h5, h6, 
p, ul, ol, 
fieldset, legend, 
figure, table, 
pre, 
hr {
    margin: $base-margin 0;
    &:first-child {
    	margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

::selection {
	background-color: $brand-1;
	color: $white;
	text-shadow: none;
}