
/* Config
// Global configuration only; some .scss files may also contain 
// module-specific configuration
================================================================ */

//-----------------------------------------------------------------
// Skeleton
//-----------------------------------------------------------------

$base-width            :   1200px !default;
$max-width             :   90% !default;

$columns               :   12 !default;
$gutter                :   2.5% !default;

// leave as false if you require the support of old browsers
// FLEX IS CURRENTLY NOT SUPPORTED IN ONE NEXUS, LEAVE AS FALSE!
$flex                  :   false !default;

//-----------------------------------------------------------------
// Breakpoints
//-----------------------------------------------------------------

$breakpoint-0          :   0px !default;
$breakpoint-1          :   460px !default;
$breakpoint-2          :   720px !default;
$breakpoint-3          :   940px !default;
$breakpoint-4          :   1200px !default;
$breakpoint-5          :   1400px !default;

$col-collapse          :   $breakpoint-3 !default;

$breakpoints: (
	break-1            :   $breakpoint-1,
	break-2            :   $breakpoint-2,
	break-3            :   $breakpoint-3,
	break-4            :   $breakpoint-4,
	break-5            :   $breakpoint-5
);

//-----------------------------------------------------------------
// Typography
//-----------------------------------------------------------------

// Fonts

$font-1                :   'Lato', sans-serif !default;
$font-2                :   'Raleway', sans-serif !default;

// Font Sizes

$base-font-size        :   1rem !default;

$font-size-1           :   0.9rem !default;
$font-size-2           :   1rem !default;
$font-size-3           :   1.2rem !default;
$font-size-4           :   1.4rem !default;
$font-size-5           :   1.6rem !default;
$font-size-6           :   2rem !default; 

//-----------------------------------------------------------------
// Color Palettes
//-----------------------------------------------------------------

// Greyscale Colors

$white                 :   #ffffff !default;
$dark-white            :   #f1f1f1 !default;
$light-grey            :   #b1b1b1 !default;
$grey                  :   #707070 !default;
$dark-grey             :   #111111 !default;
$black                 :   #000000 !default;

// Branding Colors

$brand-1               :   #F62459 !default;
$brand-2               :   #22A7F0 !default;
$brand-3               :   #03C9A9 !default;

$colors-brand: (
	brand-1            :   $brand-1,
	brand-2            :   $brand-2,
	brand-3            :   $brand-3
);

// Alert Colors

$alert-error           :   #CB8888 !default;
$alert-help            :   #e7d16c !default;
$alert-info            :   #79a9c0 !default;
$alert-success         :   #9cc079 !default;

$colors-alert: (
	error              :   $alert-error,
	help               :   $alert-help,
	info               :   $alert-info,
	success            :   $alert-success
);

// Validation Colors

$valid                 :   #00B16A !default;
$invalid               :   #D91E18 !default;

// Social Network Colors

$facebook              :    #507CBD !default;
$twitter               :    #63CEF2 !default;
$linkedin              :    #117BB8 !default;
$github                :    #1C1C1C !default;
$skype                 :    #63CEF2 !default;
$pinterest             :    #CD2129 !default;
$instagram             :    #5280A5 !default;
$rss                   :    #FBA933 !default;
$youtube               :    #CB312E !default;
$flickr                :    #ED1384 !default;
$vimeo                 :    #1EB8EB !default;
$dribbble              :    #EB4C89 !default;
$behance               :    #0595FC !default;
$deviantart            :    #B3C434 !default;
$reddit                :    #0D7CCD !default;
$google-plus           :    #dd4b39 !default;

//-----------------------------------------------------------------
// Theming
//-----------------------------------------------------------------

$base-margin           :   2rem !default;
$base-line-height      :   1.4 !default;

$background-color      :   $dark-white !default;
$base-text-color       :   $grey !default;
$heading-color         :   $dark-grey !default;
