@if $flex == false {

/* Grid System
================================================================ */

.row { 
    letter-spacing: -0.31em; // Webkit: collapse white-space between units
    *letter-spacing: normal; // reset IE < 8
    *word-spacing: -0.43em; // IE < 8: collapse white-space between units
    text-rendering: optimizespeed; // Webkit: fixes text-rendering: optimizeLegibility
}

.opera-only :-o-prefocus,
.row {
    word-spacing: -0.43em;
}

* {        
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
}

//-----------------------------------------------------------------
// Individual Column
//-----------------------------------------------------------------

[class*="span"] {
    display: inline-block;
    zoom: 1; *display: inline; // IE < 8: fake inline-block
    vertical-align: top;
	margin-left: $gutter;
	&:first-child {
		margin-left: 0;
	}
}

//-----------------------------------------------------------------
// Custom Column Grid
//-----------------------------------------------------------------

@for $i from 1 through $columns {
	.span-#{$i} {			
		width: ( (100/$columns) * $i) - ( ( ((100 / ((100/$columns) * $i)) - 1) * $gutter ) / ( $columns / $i ) )
	}
}

.row {

	display: table;
	width: 100%;

//-----------------------------------------------------------------
// Default Column Stacking
//-----------------------------------------------------------------

	@media (max-width: $col-collapse) {
		&:not([class*="bp"]) {
			> [class*="span"] {
				margin-left: 0;
				width: 100%;
			}
			&.block-columns {
				> [class*="span"] {
					display: inline-block;
				}
			}
		}
	}

//-----------------------------------------------------------------
// Custom Column Stacking
//-----------------------------------------------------------------

	@each $bp, $width in $breakpoints {
		@media (max-width: $width) {
			&.#{$bp} {
				[class*="span"] {
					margin-left: 0;
					width: 100%;
				}
				&.block-columns {
					> [class*="span"] {
						display: inline-block;
					}
				}
			}
		}
	} 	

//-----------------------------------------------------------------
// Magic Columns
//-----------------------------------------------------------------

	@media (min-width: $col-collapse) {
		.span-m {
			&:first-child {
				@for $i from 1 through $columns {
					&:nth-last-child(#{$i}) {
						&, ~ .span-m {		
							width: (100/$i) - ( ( ( (100 / (100/$i) ) - 1) * $gutter ) / $i );
						}
					}
				}
			}
		}
	}
	
//-----------------------------------------------------------------
// Adaptive Columns
//-----------------------------------------------------------------

	&.adaptive-columns {
		.span {
			width: 100%;
			margin-left: 0;
		}
	}

//-----------------------------------------------------------------
// Flow Columns
//-----------------------------------------------------------------

	&.flow-columns {
		margin-left: -$gutter;
		width: 100% + $gutter;
		[class*="span"] {
			&:first-child {
				margin-left: $gutter;
			}
		}
		@for $i from 1 through $columns {
			.span-#{$i} {		
				width: ((100/12) * $i) - $gutter;
			}
		}
	}

//-----------------------------------------------------------------
// Block Columns
//-----------------------------------------------------------------

	&.block-columns {
		display: table;
		width: 100%;
		> [class*="span"] {
			display: table-cell;
		}
	}


} // end .row

} // end if $flex