
/* Helper Classes
================================================================ */

//-----------------------------------------------------------------
// Visibility
//-----------------------------------------------------------------

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    &.focusable {
        &:active, &:focus {
            clip: auto;
            height: auto;
            margin: 0;
            overflow: visible;
            position: static;
            width: auto;
        }
    }
}

//-----------------------------------------------------------------
// Clearfix
//-----------------------------------------------------------------

.cf,
.clearfix {
    zoom: 1;
    &:before, 
    &:after { 
        content: ""; 
        display: table; 
    }
    &:after { 
        clear: both; 
    }
}

//-----------------------------------------------------------------
// Aligning
//-----------------------------------------------------------------

// Text Aligning

.text-left { 
    text-align: left !important; 
}
.text-center { 
    text-align: center !important; 
}
.text-right { 
    text-align: right !important; 
}

// Vertical Aligning

.va-top {
    vertical-align: top !important;
}
.va-middle {
    vertical-align: middle !important;
}
.va-bottom {
    vertical-align: bottom !important;
}

//-----------------------------------------------------------------
// Positioning
//-----------------------------------------------------------------

// Vertical Centering
//http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/

%vam {    
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

//-----------------------------------------------------------------
// Horizontal Rules
//-----------------------------------------------------------------

hr.line {
    color: rgba(0,0,0,0.2);
    margin: $base-margin 0;
}
hr.dotted {
    color: rgba(0,0,0,0.2);
    border-top: 1px dotted;
    margin: $base-margin 0;
}

//-----------------------------------------------------------------
// Responsive Visiblity
//-----------------------------------------------------------------

// Show only when resolution is at most X

@each $bp, $width in $breakpoints {
    .max-#{$bp} {
        @media (min-width: $width) {
            display: none !important;
        }
    }
}

// Show only when resolution is at least X

@each $bp, $width in $breakpoints {
    .min-#{$bp} {
        @media (max-width: $width) {
            display: none !important;
        }
    }
}