
/* Utilities
================================================================ */

//-----------------------------------------------------------------
// Placeholder
//-----------------------------------------------------------------

@mixin placeholder {
	&::-webkit-input-placeholder {@content};
	&:-moz-placeholder           {@content};
	&::-moz-placeholder          {@content};
	&:-ms-input-placeholder      {@content};
}

//-----------------------------------------------------------------
// Vertical Positioning
//-----------------------------------------------------------------

@mixin vertical-center ($position) {
    position: $position;
    top: 50%;
    transform: translateY(-50%);
}