@import '../../modules/objects/header/header.json';
/// Header
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group objects
///
/// @param {map} $custom - where custom config will be passed
/// @outputs all header styles
///
/// @example
///     @include header((
///         'round-radius' : 4px,
///         'weight'       : bold
///     ));
@mixin header($custom: custom('header')) {

    // Configuration
    $header: config((
        'name'             : 'appHeader',
        'output-json'      : true,
        'background'       : core('background'),
        'height'           : 85px,
        'font-size'        : 1em,
        'z-index'          : 5,
        'bar'              : true,
        'absolute':(
            'enabled'      : false,
            'top-position' : 0
        ),
        'dark':(
            'enabled'      : false,
            'background'   : color('greyscale', 'grey-6')
        ),
        'sticky':(
            'enabled'      : false,
            'background'   : color('greyscale', 'grey-6'),
            'height'       : 70px,
            'logo-height'  : 28px,
            'font-size'    : font-size('size-2')
        )
    ), $custom) !global;

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************

        overflow: visible;
        font-size: this('font-size');
        background: this('background');

        //*********************************************************
        // Settings
        //*********************************************************

        // Header Bar
        //*********************************************************
        
        @include option('bar') {
            @include module {
                @include component('wrapper') {	
                    display: table;
                }
            }
            @include modules(('logo', 'navigation')) {
                display: table-cell;
                vertical-align: middle;
            }
        }
        
        // Absolute Position Header
        //*********************************************************
        
        @include option('absolute') {
            position: absolute;
            width: 100%;
            margin-top: this('absolute', 'top-position');
            z-index: this('z-index');
        }
        
        // Dark Header
        //*********************************************************

        @include option('dark') {
            background-color: this('dark', 'background');
        }
        
        // Sticky Header
        //*********************************************************
        
        @include option('sticky') {
            @include module {
                @include modifier('fixed') {
                    position: fixed;
                    top: 0;
                    margin-top: 0;
                    width: 100%;
                    z-index: 12;
                    background: this('sticky', 'background');
                    font-size: this('sticky', 'font-size');
                    @include component('wrapper') {
                        height: this('sticky', 'height');
                    }
                    @include module('logo') {
                        img {
                            height: this('sticky', 'logo-height');
                        }
                    }
                }
            }
        }

        //*********************************************************
        // Components
        //*********************************************************

        @include component('wrapper') {
            @include _module('container');
            height: this('height');
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;
        
    } // module

} // @mixin header