//=================================================================
// Sections
//=================================================================

@mixin sections($custom: ()) {

	//-------------------------------------------------------------
	// Config
	//-------------------------------------------------------------

	$sections: config((
		'name'                    : 'section',
        'padding'                 : 6em 0,
        'banner-padding'          : 5em 0,
        'block-padding'           : 7%,
        'panel-background'        : color('greyscale', 'white'),
        'secondary-background'    : color('brand', 'brand-1'),
        'secondary-color'         : color('greyscale', 'white'),
        'overlay-color'           : color('greyscale', 'white'),
        'overlay-background'      : rgba(color('brand', 'brand-1'), 0.4),
        'overlay-deep-background' : rgba(color('brand', 'brand-1'), 0.75),
        'overlay-dark-background' : rgba(color('greyscale', 'grey-5'), 0.75),
        'overlay-alt-background'  : rgba(color('greyscale', 'grey-5'), 0.5)
 	), $custom);

	//-------------------------------------------------------------
	// Module
	//-------------------------------------------------------------
	
	@include module {

	// Core Styles
	//-------------------------------------------------------------
	
		background-size: cover;	
		background-position: center;

	// Modifiers
	//-------------------------------------------------------------

		//---------------------------------------------------------
		// Primary/Secondary
		//---------------------------------------------------------
		
		@include modifiers(('primary', 'secondary')) {
			padding: this('padding');
		}

        @include modifier('panel') {
			border-top: 1px solid color('greyscale', 'grey-2');	
			background: this('panel-background');
        }
	
		//---------------------------------------------------------
		// Secondary
		//---------------------------------------------------------
		
		@include modifier('secondary') {
			background-color: this('secondary-background');
		}
		
		//---------------------------------------------------------
		// Full Screen
		//---------------------------------------------------------
		
		@include modifier('fullscreen') {
			height: 100vh;
			@if option($header, 'sticky') {
				height: calc(100vh - #{option($header, 'height')});
			}
		}
		
		@at-root {
			@include overwrite('appHeader', $is: 'sticky') {
				@include overwrite($special: 'general-sibling', $is: 'fullscreen') {
					height: calc(100vh - #{option($header, height)});
				}
			}
		}
	
		//---------------------------------------------------------
		// Overlay
		//---------------------------------------------------------
		
		@include modifier('overlay') {
			@include bg-overlay(
                this('overlay-background')
            );
			@include modifier('dark') {
				@include bg-overlay(
                    this('overlay-dark-background')
                );
			}
		}
	
		//---------------------------------------------------------
		// Banner
		//---------------------------------------------------------
		
		@include modifier('banner') {
			padding: this('banner-padding');
		}
		
		//---------------------------------------------------------
		// Block
		//---------------------------------------------------------
		
		@include modifier('block') {
            overflow: hidden;
			& + & {
				border-top: 1px solid color('greyscale', 'grey-2');
                position: relative;
			}
		}
	
	} // module
	
} // @mixin sections