@import 'header.json';
/// Header
///
/// @access public
/// @group objects
///
/// @param {map} $custom - where custom config will be passed
@mixin header($custom: custom('header')) {

    // Configuration
    $header: config($header, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************

        overflow: visible;

        //*********************************************************
        // Settings
        //*********************************************************

        // Header Bar
        @include option('bar') {
            @include component('wrapper') {
                display: table;
            }

            @include modules(('logo', 'navigation')) {
                display: table-cell;
                vertical-align: middle;
            }
        }

        // Absolute Position Header
        @include option('absolute') {
            @include get-styles(this('absolute'));
            position: absolute;
            width: 100%;
        }

        // Dark Header
        @include option('dark') {
            @include get-styles(this('dark'));
        }

        // Fixed Header
        @include option('fixed') {
            position: fixed;
            z-index: 12;
            top: 0;
            width: 100%;
            margin-top: 0;
        }

        // Sticky Header
        @include option('sticky') {
            @include get-styles(this('sticky'));

            @include modifier('fixed') {
                @include component('wrapper') {
                    @include get-styles(this('sticky', 'wrapper'));
                }

                @include module('logo') {
                    img {
                        height: this('sticky', 'logo-height');
                    }
                }
            }

            @include module('logo') {
                img {
                    transition: height core('transition');
                }
            }
        }

        //*********************************************************
        // Components
        //*********************************************************

        @include component('wrapper') {
            @include _module('container');
            transition: height core('transition');
        }

        @include module('sideNav') {
            @include component('toggle') {
                @include vertical-center();
                right: 0;
            }
        }

        // For JS - will be applied to body element
        @include component('isFixed') {
            padding-top: this('sticky', 'wrapper', 'height');
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin header