
/* Main Page Layout
======================================================================= */

#inner-content {
	padding: ($base-margin * 2) 0 ($base-margin * 4);
	p, ul {
		font-weight: 100;
	}
	h2 {
		font-size: 1.75em;
	}
	.walkthrough {
		.dotted {
			margin-bottom: 0.6rem;
			.fa {
				color: inherit;
			}
		}
		p {
			margin-top: 0;
			margin-bottom: 2.5em;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	@media (max-width: $breakpoint-3) {
		[class*="alert"] {
			margin-bottom: 1em;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}