/// Cause an element to fill its parent
///
/// @access public
/// @group Tools
///
/// @param {string} $position - the value to use for the `position` property
@mixin fill-parent($position: absolute) {
    position: $position;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

%fill-parent {
    @include fill-parent();
}