/// One Nexus - modules\utilities\core
///
/// @author Edmund Reed
/// @access public
/// @group utilities
/// @param {map} $custom - where custom config will be passed
/// @example
///     @include core((
///         'default-sizes'  : ('size-2', 'sze-4'),
///         'optional-sizes' : ('size-5'),
///         'breakpoints'    : (
///             'break-3'    : 0.85
///         )
///     ));
@mixin core($custom: ()) {

    //*************************************************************
    // Configuration
    //*************************************************************

	$core: config((
		'name'        : 'base',
		'output-json' : true,
		'background'  : color('greyscale', 'grey-1'),
		'font-family' : typography('typefaces', 'primary'),
		'text-color'  : typography('colors', 'base'),
		'font-size'   : typography('sizes', 'base'),
		'margin'      : 2rem,
		'line-height' : 1.4,
		'radius'      : 0.4em,
		'oval-radius' : 1.5em,
		'transition'  : 0.4s
	), $custom) !global;

    //*************************************************************
    // General
    //*************************************************************
	
	html, body {
		padding: 0;
		margin: 0;
	    height: 100%;
	}
	
	html {
	    overflow-x: hidden;
	}
	
	body {
		background: core('background');
	    font-family: core('font-family');
	    color: core('text-color');
	    font-size: core('font-size');
	    line-height: core('line-height');
	}
	
	ins {
		font-weight: bold;
		color: color('brand', 'brand-1');
		text-decoration: none;
	}
    
    h1, h2, h3, h4, h5, h6 {
        font-size: core('font-size');
    }
    
    // code tags
    code {
        background: white;
        border-radius: 0.3em;
        //color: #C7254F;
        font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
        font-style: normal;
        font-size: font-size('size-2');
        font-weight: 300;
        padding: 0.1em 0.3em;
        &.value {
            color: inherit;
        }
    }
    
    #site-content {
		transition: core('transition');
    }

    //*************************************************************
    // Structure
    //*************************************************************
	
	@include module('container') {
        width: option($grid, 'options', 'base-width');
        max-width: option($grid, 'options', 'medium-width');
        margin: 0 auto;
		position: relative;
	    @include modifier('large') {
	        max-width: option($grid, 'options', 'large-width');
	    }
		@include modifier('section') {
			padding-top: 4em;
			padding-bottom: 4em;
		}
	}
	
	@include module('hrule') {
		margin: core('margin') 0;
        border-color: rgba(black, 0.15);
		@include modifier('line') {
			border-top: 1px solid rgba(0, 0, 0, 0.15);
			border-bottom: 0;
		}
		@include modifier('dotted') {
			border-top: 1px dotted rgba(0, 0, 0, 0.15);
			border-bottom: 0;
		}
	}

	.wrapper {
	    padding-left: option($grid, 'options', 'gutter');
		padding-right: option($grid, 'options', 'gutter');
	}

    //*************************************************************
    // Layout
    //*************************************************************
	
	* {
	    &, &:before, &:after {
	        box-sizing: border-box;
	    }
	}
	
	h1, h2, h3, h4, h5, h6, 
	p, ul, ol, 
	form, fieldset, legend, figure, table, 
	pre, hr,
	.object {
	    margin: core('margin') 0;
	    @include vertical-rhythm;
	}
    
    .object-small {
	    margin: (core('margin') / 2) 0;
	    @include vertical-rhythm;
    }
    
    .object-large {
	    margin: (core('margin') * 2) 0;
	    @include vertical-rhythm;
    }
	
	::selection {
		background-color: color('brand', 'brand-1');
		color: color('greyscale', 'white');
		text-shadow: none;
	}

} // @mixin base

//*****************************************************************
// Tools & Utilities
//*****************************************************************

/// Function to get configuration group
/// @access public
/// @group utilities
/// @param {map} $group - the group you are interested in
/// @return {map} - new map containing desired group
@function core($key) {
    @return map-get($core, $key);
}

.auto-resizable-iframe {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background: rgba(black, 0.2);
	> div { 
		position: relative;
		padding-bottom: 58.5%;
		height: 0px;           
	}
	iframe {
		position: absolute;
		border: 0px;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
	}
}

//*****************************************************************
// Hacks
//*****************************************************************

span.enlighterEnlighterJS {
    white-space: nowrap;
}

.owl-carousel .owl-item img {
    transform-style: flat;
    width: auto;
}

.owl-carousel .owl-item > img {
    transform-style: preserve-3d;
    width: 100%;
}