@import 'tabs.json';
/// Tabs
///
/// @access public
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
@mixin tabs($custom:  custom('tabs')) {

    // Configuration
    $tabs: config($tabs, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Components
        //*********************************************************

        @include component('nav') {

            @include _module('list', ('reset'), false);

            display: table;
            position: relative;
            z-index: 2;
            margin-bottom: 0;

            @include modifier('round') {
                @include component('item') {
                    &:first-child {
                        border-top-left-radius: this('nav', 'item', 'round-radius');
                    }

                    &:last-child {
                        border-top-right-radius: this('nav', 'item', 'round-radius');
                    }
                }
            }

            @include modifier('center') {
                margin-right: auto;
                margin-left: auto;
            }

            @include modifier('left') {
                margin-right: auto;
            }

            @include modifier('right') {
                margin-left: auto;
            }

            @include modifier('full') {
                width: 100%;
            }

            @include component('item') {
                display: table-cell;
                cursor: pointer;

                @include modifier('active') {
                    + li {
                        border-left-color: this('nav', 'item', 'active', 'border-color');
                    }

                    &:hover {
                        background: this('nav', 'item', 'active', 'background');
                        color: this('nav', 'item', 'active', 'color');
                    }
                }

                &:not(:last-child) {
                    border-right: none;
                }

                @include modifier('round') {
                    &:first-child {
                        border-top-left-radius: this('nav', 'item', 'round-radius');
                        border-bottom-left-radius: this('nav', 'item', 'round-radius');
                    }

                    &:last-child {
                        border-top-right-radius: this('nav', 'item', 'round-radius');
                        border-bottom-right-radius: this('nav', 'item', 'round-radius');
                    }
                }
            }

        } // component(nav)

        @include component('content') {
            position: relative;
            top: -1px;

            @include modifier('glue') {
                $tabs-glue: this('content', 'glueHeight');

                z-index: 2;
                top: -2px;
                margin-top: $tabs-glue;

                &::before {
                    content: '';
                    position: absolute;
                    top: -$tabs-glue;
                    left: -1px;
                    width: calc(100% + 2px);
                    height: $tabs-glue;
                    border: 1px solid this('content', 'glueColor');
                    background: this('content', 'glueColor');
                }
            }
        }

        @include component('item') {
            display: none !important;

            @include modifier('active') {
                display: block !important;
            }
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin tabs