@import 'wells.json';
/// Wells
///
/// @access public
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
@mixin wells($custom:  custom('wells')) {

    // Configuration
    $wells: config($wells, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************

        position: relative;

        //*********************************************************
        // Components
        //*********************************************************

        @include component('content') {
            @include vertical-center(relative);
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin wells