@import '../../modules/utilities/container/container.json';
/// Container
///
/// @access public
/// @group utilities
///
/// @param {map} $custom - where custom config will be passed
@mixin container($custom: custom('container')) {

    // Configuration
    $container: config($container, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {
        position: relative;
        width: this('base-width');
        max-width: this('max-width');
        margin: 0 auto;

        @include modifier('large') {
            max-width: this('large-width');
        }

        @include modifier('section') {
            padding-top: 4em;
            padding-bottom: 4em;
        }
    }

} // @mixin container