@import '../../modules/objects/google-map/google-map.json';
/// Google Map
///
/// @access public
/// @group objects
///
/// @param {map} $custom - where custom config will be passed
@mixin google-map($custom: custom('google-map')) {

    // Config
    $google-map: config($google-map, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        display: block;
        width: 100%;
        background: color('opaque', 'dark-2');

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    }// module

} // @mixin google-map