
/* Alert Bars
================================================================ */

[class*="alert-"] {

	padding: 0.85em;
	border: 1px solid;
	font-size: 0.9em;
	border-radius: 0.25em;
	font-weight: lighter;
	position: relative;
	border: 1px solid rgba(0,0,0,0.15);

	a {
		color: inherit;
		border-bottom: 1px dotted;
		&:hover {
			text-decoration: none;
		}
	}

	.fa {
		position: absolute;
		color: inherit;
		right: 0;
	    top: 50%;
	    transform: translateY(-50%);
	}

	&[class*="-help"] {		
		background: desaturate(
			lighten($alert-help, 20%)
		, 20%) !important;
		color: darken(
			desaturate($alert-help, 25%)
		, 25%);
	}

	&[class*="-info"] {		
		background: lighten($alert-info, 20%) !important;
		color: darken(
			desaturate($alert-info, 15%)
		, 15%);
	}

	&[class*="-error"] {		
		background: desaturate(
			lighten($alert-error, 20%)
		, 20%) !important;
		color: darken(
			desaturate($alert-error, 10%)
		, 10%);
	}
	
	&[class*="-success"] {		
		background: lighten($alert-success, 20%) !important;
		color: darken(
			desaturate($alert-success, 15%)
		, 15%);
	}

} // end [class^="alert"]