
/* Buttons
================================================================ */

.button,
[class*="button-"] {

//-----------------------------------------------------------------
// Core Layout
//-----------------------------------------------------------------

	background: $grey;
	color: $white;
	display: inline-block;
	vertical-align: middle;
	padding: 0 1.2em;
	line-height: 2.4em;
	transition: 0.4s;
    border: 1px solid;
    border-color: transparent;
	cursor: pointer;
	text-decoration: none;
	&:hover {
		background: darken($grey, 10%);
		color: $white;
		text-decoration: none;
	}

//-----------------------------------------------------------------
// Sizes
//-----------------------------------------------------------------

	&[class*="-small"] {
		font-size: 0.8em;
	}

	&[class*="-large"] {
		font-size: 1.2em;
	}

//-----------------------------------------------------------------
// Styles
//-----------------------------------------------------------------

	&[class*="-block"] {
		width: 100%;
		text-align: center;
	} 

	&[class*="-border"] {
		background: none;
		color: $grey;
		border-color: $grey;
		&:hover {
			color: $white;
		}
	}

	&[class*="-disabled"] {
		opacity: 0.6;
		cursor: not-allowed;
		transition-delay: 999s;
	}

	&[class*="-round"] {
		border-radius: 0.4em;
	}

	&[class*="-oval"] {
		border-radius: 1.5em;
	}

//-----------------------------------------------------------------
// Colors
//-----------------------------------------------------------------
 
	// Brand Colors

	@each $brand, $color in $colors-brand {
		&[class*="-#{$brand}"] {
			background: $color;
			&:hover {
				background: darken($color, 10%);
			}
			&[class*="-border"] {
				background: transparent;
				border-color: $color;
				color: $color;
				&:hover {
					background: $color;
					color: $white;
				}
			}
		}
	}

} // end .button

// Button Group
.buttons {
	.button,
	[class*="button-"] {
		margin-left: 0.5em;
		&:first-child {
			margin-left: 0;
		}
	}
}

// Makes input, button and .button elements equal height in Firefox
input::-moz-focus-inner,
button::-moz-focus-inner { 
    border: 0;
    padding: 0;
	margin-top: 1px; 
	margin-bottom: 1px;
}