
/* Carousels
================================================================ */

// http://www.owlcarousel.owlgraphic.com/

//-----------------------------------------------------------------
// Mixins
//-----------------------------------------------------------------

@mixin transform($prop){
    transition: $prop;
}

//-----------------------------------------------------------------
// Owl Core
//-----------------------------------------------------------------

.carousel {

    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1;
    
    .owl-stage {
        position: relative;
        -ms-touch-action: pan-Y;
    }

    .owl-stage:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    .owl-stage-outer {
        position: relative;
        overflow: hidden;
        // fix for flashing background
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    
    .owl-item {
        position: relative;
        min-height: 1px;
        float: left;
        -webkit-backface-visibility: hidden;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        > img {
            display: block;
            width: 100%;
            -webkit-transform-style: preserve-3d;
        }
    }

    .owl-nav.disabled,
    .owl-dots.disabled {
        display: none;
    }

    .owl-nav .owl-prev,
    .owl-nav .owl-next,
    .owl-dot {
        cursor: pointer;
        cursor: hand;
        user-select: none;
    }

    &.owl-loaded {
        display: block;
    }

    &.owl-loading {
        opacity: 0;
        display: block;
    }

    &.owl-hidden {
        opacity: 0;
    }

    &.owl-refresh .owl-item {
        display: none;
    }
    
    &.owl-drag .owl-item {
        user-select: none;
    }

    &.owl-grab {
        cursor: move;
        cursor: grab;
    }

    &.owl-rtl {
        direction: rtl;
    }

    &.owl-rtl .owl-item {
        float: right;
    }
}

// No Js
.no-js .carousel {
    display: block;
}

//-----------------------------------------------------------------
// Owl Theme
//-----------------------------------------------------------------

.owl-nav {
    height: 2em;
    margin-top: 1rem;
    .owl-prev,
    .owl-next {
        position: relative;
        z-index: 2;
        height: 2em;
        width: 2em;
        border: 1px solid;
        border-radius: 50%;
        text-align: center;
        transition: 0.4s;
        &:before {
            font-family: FontAwesome;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            margin: auto;
        }
        &:hover {
            background: $brand-1;
            border-color: $brand-1;
            color: white;
        }
    }
    .owl-prev {
        float: left;
        &:before {
            content: "\f104";
        }
    }
    .owl-next {
        float: right;
        &:before {
            content: "\f105";
        }
    }
    &:not(.disabled) + .owl-dots {
        margin-top: 0;
        position: relative;
        margin-top: -2em;
    }
}

.owl-dots {
    height: 2em;
    text-align: center;
    position: relative;
    margin-top: 1rem;
    -webkit-tap-highlight-color: transparent;
    .owl-dot {
        display: inline-block;
        margin-left: 0.5rem;
        position: relative;
        top: 0.6em;
        transform: translateY(-50%);
        zoom: 1;
        *display: inline;
        &:first-child {
            margin-left: 0;
        }
        span {
            width: 10px;
            height: 10px;
            background: rgba($black, 0.15);
            display: block;
            transition: 0.4s;
            -webkit-backface-visibility: visible;
            border-radius: 50%;
        }
        &.active,
        &:hover {
            span {
                background: rgba($black, 0.5);
            }
        }
    }
}

//-----------------------------------------------------------------
// Adaptive Columns Navigation
//-----------------------------------------------------------------

.adaptive-columns {
    .owl-nav {
        margin-top: 0;
        height: 0;
        width: 100%;
        .owl-prev,
        .owl-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            float: none;
            opacity: 0.35;
            &:hover {
                opacity: 1;
            }
        }
        .owl-prev {
            left: 0.5rem;
        }
        .owl-next {
            right: 0.5rem;
        }
    }
}