
/* Forms
================================================================ */

//-----------------------------------------------------------------
// Configuration
//-----------------------------------------------------------------

$field-height : 2.6em;

// resets

input,
textarea,
select {	
	width: 100%;
}

fieldset {
	padding: 0;
	margin: 0;
	border: none;
}

.form {

//-----------------------------------------------------------------
// Core Styles
//-----------------------------------------------------------------

	%input {		
		padding: 0.5em 0.6em;
		border: 1px solid rgba(0,0,0,0.2);
		font-size: 1rem;
	}

	.inline-field {	
		margin-left: 0.5rem;
		&:first-child {
			margin-left: 0;
		}
		&, 
		label,
		input {
			display: inline-block;
			vertical-align: middle;
			width: auto;
		}
	}

	label {
		font-size: $font-size-1;
	}

	legend {
		margin-bottom: 0;
	}
 
	input,
	textarea,
	select {	
	    transition: 0.4s;
		outline: 0;
		display: block;
	    @include placeholder {
	        font-weight: lighter;
	        opacity: 1;
	        transition: 0.4s;
	    }
		&:focus {
			border-color: $brand-1;
		    @include placeholder {
		        opacity: 0.5;
		        transition: 0s;
		    }	
			&:valid {
				border-color: $valid;
			}
			&:invalid {
				border-color: $invalid;
			}		
		}
	}

	textarea,
	select {		
		@extend %input;
	}

	input {

		&[type="text"],
		&[type="password"],
		&[type="search"],
		&[type="email"],
		&[type="url"],
		&[type="tel"],
		&[type="range"],
		&[type="date"],
		&[type="time"],
		&[type="number"] {
			@extend %input;
			height: $field-height;
		}

		&[type="color"] {
			display: inline-block;
			padding: 0.25em 0.3em;
			width: 50px;
			height: $field-height;
		}

		&[type="checkbox"],
		&[type="radio"] {
			display: inline-block;
			vertical-align: middle;
			width: auto;
		}

		&[type="submit"], 
		button {
			background: $brand-1;
			border: none;
			color: white;
			padding: 0.5em 1em;
			display: inline-block;
			width: 100%;
		}

		&:required {
			box-shadow: none;
		}

	} // end input

	textarea {
		@extend %input;
		&:focus {
			border-color: $brand-1;			
		}
	}

	select {		
		color: $base-text-color;
		height: $field-height;
	}

//-----------------------------------------------------------------
// Larger Resolutions
//-----------------------------------------------------------------

	@media (min-width: $breakpoint-3) {}

} // end form