
/* Headings
================================================================ */

.heading,
[class*="heading-"] {

    line-height: 1;
    font-family: $font-2;

    b,
    &[class*="-heavy"] {
        font-weight: bolder;
        font-weight: 900;
    }

    i,
    &[class*="-brand-1"] {
        font-style: normal;
        color: $brand-1;
    }

    strong,
    &[class*="-uppercase"] {
        text-transform: uppercase;
    }

    em,
    &[class*="-light"] {
        font-weight: lighter;
        font-weight: 100;
        font-style: normal;
    } 

    &[class*="-highlight"] {
        margin-left: 0.3em;
        margin-right: 0.3em;
        > b {
            background: $brand-1;
            color: white;
            font-weight: lighter;
            padding-bottom: 1px;
            box-shadow: 0.3em 0 0 $brand-1, -0.3em 0 0 $brand-1;
            text-shadow: none;            
        }      
        @-moz-document url-prefix() {
            box-shadow: none;
            margin-left: 0;
            margin-right: 0;
            padding: 0 0.3em;
            > b {                
                box-decoration-break: clone;
            }
        }
    }

    &.dotted {
        border-bottom: 1px dotted rgba(0,0,0,0.2);
        padding-bottom: 0.75rem;
        a {
            color: inherit;
        }
    }

} // end .heading

//-----------------------------------------------------------------
// Hgroup
//-----------------------------------------------------------------

.hgroup {
    .heading,
    [class*="heading-"] {
        margin: 0.25em 0;
        line-height: 0.8;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}