
/* Images
================================================================ */

//-----------------------------------------------------------------
// Responsive3 Images
//-----------------------------------------------------------------

img {
	max-width: 100%;
	height: auto;
} 

//-----------------------------------------------------------------
// Thumbnails
//-----------------------------------------------------------------

.thumbnail {
	border: 5px solid white;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
}

//-----------------------------------------------------------------
// Shaped Images
//-----------------------------------------------------------------

.square, 
.circle {	
	position: relative;
	height: 0;
	padding-top: 100%;
	overflow: hidden;
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		display: block;
		height: 100%;
		width: auto;
		max-width: none;
	}
}

.circle {
	border-radius: 50%;
}