
/* Links
================================================================ */

a {
    color: $brand-1;
    transition: 0.4s;
    text-decoration: none;
    &:hover {
    	text-decoration: underline;
    }
}