
/* Lists
================================================================ */

ul.reset, 
ol.reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.clear, 
ol.clear {
	padding-left: 1em;
}

.arrow-list {
	@extend ul.reset;
	li {
		line-height: 1.8;
		margin-bottom: 0 !important;
		&:before {
			content: "\f138";
			font-family: FontAwesome;
			margin-right: 0.5em;
		}
	}
}