
/* Progress Bars
================================================================ */

//-----------------------------------------------------------------
// Configuration
//-----------------------------------------------------------------

$progress-radius : 0.4rem;
$progress-height : 1rem;

%progress-bar {
	background: rgba($black,0.15);
	border-radius: $progress-radius;	
}

//-----------------------------------------------------------------
// HTML5 Progress
//-----------------------------------------------------------------

progress {

	width: 100%;
	height: $progress-height;
	display: block;
	color: $brand-1;
	border-radius: $progress-radius;
	border: none;
	-webkit-appearance: none;

	&::-webkit-progress-bar {
		@extend %progress-bar;
	}

	&::-webkit-progress-value {
		background: $brand-1;
		border-radius: $progress-radius;
	}
	
	&::-moz-progress-bar {	
		background: $brand-1;
		border-radius: $progress-radius;	
	}

	&.progress-alt {
		color: $brand-2;
		&::-webkit-progress-value {
			background: $brand-2;		
		}		
		&::-moz-progress-bar {
			background: $brand-2;		
		}

	}

} // end progress

//-----------------------------------------------------------------
// Fallback
//-----------------------------------------------------------------

.progress-bar {
	@extend %progress-bar;
	width: 100%;
	height: $progress-height;
	overflow: hidden;
	.progress {
		background: $brand-1;
		height: 100%;
	}
}
