@import 'form.json';
/// Form
///
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
@mixin form($custom: custom('form')) {

    // Configuration
    $form: config($form, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Components
        //*********************************************************

        @include component('checkbox') {
            height: 1em;
        }

        @include component('inputWrapper') {
            position: relative;
            display: inline-block;
            width: 100%;
        }

        @include component('group') {

            @include object(core('margin') / 2);

            position: relative;

            @include modifier('compound') {
                margin-bottom: (core('margin') / 4);
            }

            @include modifier('has-icon') {
                @include component('input') {
                    padding-left: 2em;
                }
            }

            @include modifier('validate') {
                @include modifier('isValid') {
                    @include components(('label', 'icon', 'input')) {
                        color: this('valid-color');
                        border-color: currentColor;
                    }
                }

                @include modifier('isInvalid') {
                    @include components(('label', 'icon', 'input')) {
                        color: this('invalid-color');
                        border-color: currentColor;
                    }
                }
            } // modifier('validate')

        } // component('group')

        @include component('field') {
            position: relative;
            display: inline-block;
            width: 100%;
        }

        @include component('icon') {
            @include vertical-center();

            left: 0.75em;
            color: this('input', 'color');
            transition: core('transition');
        }

        @include component('input') {
            display: block;
            width: 100%;

            &::placeholder {
                transition: core('transition');
                color: this('input', 'color');
            }

            &:focus {
                outline: 0;
            }
        }

        @include component('legend');

        @include component('label');

        @include component('submit');

        //*********************************************************
        // Child Elements
        //*********************************************************

        fieldset {
            padding: 0;
            border: none;
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin form