@import 'progress-bar.json';

/// Progress Bars
///
/// @access public
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
@mixin progress-bar($custom: custom('progress-bar')) {

    // Configuration
    $progress-bar: config($progress-bar, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        // Core Styles
        display: block;
        position: relative;
        width: 100%;
        overflow: hidden;
        border: none;

        //*********************************************************
        // Components
        //*********************************************************

        @include component('group') {
            @include module('heading') {
                margin-bottom: this('group-spacing');
            }
        }

        //*********************************************************
        // Pseudo Elements
        //*********************************************************

        &::before {
            @include vertical-center();

            content: attr(data-progress);
            left: 0.5em;
            color: this('value-color');
            font-size: this('value-size');
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    }

    .progress {
        display: block;
        background: this('fill-background');
    }

    //*************************************************************
    // HTML5 Progress
    //*************************************************************

    progress {
        &::-webkit-progress-bar {
            height: this('height');
            background: this('background');
        }

        &::-webkit-progress-value {
            height: this('height');
            background: this('fill-background');
        }

        &::-moz-progress-bar {
            background: this('fill-background');
        }
    }

}