@import 'billboard.json';

/// Billboard
///
/// @group objects
///
/// @param {map} $custom - where custom config will be passed
@mixin billboard($custom: custom('billboard')) {

    // Configuration
    $billboard: config($billboard, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************

        @include background();

        position: relative;
        overflow: hidden;
        background-size: cover;

        //*********************************************************
        // Options
        //*********************************************************

        @include option('fullscreen') {
            height: 100%;
            height: 100vh;
            min-height: this('fullscreen', 'min-height');
        }

        @include option('overlay') {
            @include bg-overlay(rgba(
                this('overlay', 'color'),
                this('overlay', 'opacity')
            ));
        }

        //*********************************************************
        // Components
        //*********************************************************

        @include component('wrapper') {
            @include horizontal-center();
            @include vertical-center();

            @include _module('container');

            color: this('color');

            a {
                border-bottom: 1px dotted;
                color: this('color');

                &:hover {
                    color: this('active-color');
                }
            }
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    }

}