.spacestation {

    $image-path: '../images/spacestation';

    background-color: #0d0e1f;
    overflow: hidden;

    &_layers {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100vh;
    }

    &_layer {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    @for $i from 1 through 13 {
        &_layer#{$i} {
            background-image: url('#{$image-path}/layer#{$i}.svg');
        }
    }

}