.spacestation {

    $image-path: '../images/spacestation';

    background-color: #0d0e1f;
    overflow: hidden;

    &_layers {
        position: relative;
        z-index: 0;
        overflow: hidden;
        width: 100%;
        height: 0;
        padding-top: 80%;
    }

    &_layer {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    @for $i from 1 through 15 {
        &_layer#{$i} {
            background-image: url('#{$image-path}/layer#{$i}.svg');
        }
    }

    &_layer1 {
        position: fixed;
    }

    &_layer2 {
        position: fixed;
    }

    &_layer3 {
        position: fixed;
    }

    &_layer4 {
        position: fixed;
        height: 30%;
        width: 30%;
        top: auto;
        bottom: 3%;
        left: 0;
        right: 0;
        margin: auto;
    }

    &_layer5 {
        height: 51%;
        width: 64%;
        top: auto;
        bottom: 20%;
        left: 0;
    }

    &_layer6 {
        background-size: 10%;
        background-position: 17% 13%;
        position: fixed;
        animation: spin 40s infinite linear;
    }

    &_layer7 {
        top: auto;
        bottom: 40%;
        right: 27%;
        width: 10%;
    }

    &_layer8 {
        height: 38%;
        top: auto;
        bottom: 15%;
    }

    &_layer9 {
        top: auto;
        bottom: 35%;
        height: 8%;
        width: 16%;
        right: 18%;
    }

    &_layer10 {
        top: auto;
        width: 16%;
        height: 22%;
        bottom: 20%;
        left: 15%;
    }

    &_layer11 {
    }

    &_layer12 {
        top: auto;
        height: 12.5%;
        bottom: 0;
    }

    &_layer13 {
        top: auto;
        height: 25%;
        bottom: -30%;
    }

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }   
}