//=================================================================
// Logo
//=================================================================

@mixin logo($custom: ()) {

    //-------------------------------------------------------------
    // Config
    //-------------------------------------------------------------

    $logo: config((
        'name'         : 'logo',
        'text-align'   : left,
        'color'        : white,
        'size'         : font-size('size-5'),
        'padding'      : 0,
        'image-height' : 38px
    ), $custom);

    //-------------------------------------------------------------
    // Component
    //-------------------------------------------------------------

    @include module {	

        color: this('color');
        font-size: this('size');
        text-align: this('text-align');
        padding: this('padding');
        
        // for plain text logos
        a {
            color: this('color');
            display: inline-block;
            &:hover {
                text-decoration: none;
            }
        }
        
        // for image logos
        img {
            height: this('image-height');
            display: inline-block;
            vertical-align: middle;
            transition: base('transition');
        }

    } // component

} // @mixin logo