@import 'modal.json';
/// Modal
///
/// @access public
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
@mixin modal($custom: custom('modal')) {

    // Configuration
    $modal: config($modal, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        @include vertical-center();
        @include horizontal-center();

        visibility: hidden;
        position: fixed;
        max-width: 90%;
        max-height: 90%;
        overflow: auto;
        opacity: 0;

        //*********************************************************
        // Modifiers
        //*********************************************************

        @include modifier('visible') {
            visibility: visible;
            opacity: 1;
        }

        @include modifier('animate') {
            transition: core('transition');

            @include modifier('top') {
                top: 45%;

                @include modifier('visible') {
                    top: 50%;
                }
            }

            @include modifier('bottom') {
                top: 55%;

                @include modifier('visible') {
                    top: 50%;
                }
            }

            @include modifier('left') {
                transform: translateX(-15%) translateY(-50%);

                @include modifier('visible') {
                    transform: translateX(0) translateY(-50%);
                }
            }

            @include modifier('right') {
                transform: translateX(15%) translateY(-50%);

                @include modifier('visible') {
                    transform: translateX(0) translateY(-50%);
                }
            }

            @include modifier('zoom') {
                transform: scale(0.5) translateY(-75%);

                @include modifier('visible') {
                    transform: scale(1) translateY(-50%);
                }
            }
        }

        //*********************************************************
        // Components
        //*********************************************************

        @include component('content');

        @include component('close') {
            position: absolute;
            font-size: this('close', 'size');
            cursor: pointer;

            &:hover {
                color: this('close', 'hover-color');
            }
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

    @include module('overlay') {
        &[class*="dialog-visible"] {
            z-index: 12;
        }
    }

} // @mixin modal