@import 'modal.json';

/// Modal
///
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
@mixin modal($custom: custom('modal')) {

    // Configuration
    $modal: config($modal, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        @include vertical-center();
        @include horizontal-center();

        top: this('top-position');
        visibility: hidden;
        position: fixed;
        max-width: 90%;
        max-height: 90%;
        overflow: auto;
        opacity: 0;

        //*********************************************************
        // Modifiers
        //*********************************************************

        @include modifier('visible') {
            visibility: visible;
            opacity: 1;
        }

        @include modifier('animate') {
            transition: core('transition');

            @include modifier('top') {
                top: this('top-position') * 0.9;

                @include modifier('visible') {
                    top: this('top-position');
                }
            }

            @include modifier('bottom') {
                top: this('top-position') * 1.1;

                @include modifier('visible') {
                    top: this('top-position');
                }
            }

            @include modifier('left') {
                transform: translateX(-15%) translateY(-50%);

                @include modifier('visible') {
                    transform: translateX(0) translateY(-50%);
                }
            }

            @include modifier('right') {
                transform: translateX(15%) translateY(-50%);

                @include modifier('visible') {
                    transform: translateX(0) translateY(-50%);
                }
            }

            @include modifier('zoom') {
                transform: scale(0.5) translateY(-75%);

                @include modifier('visible') {
                    transform: scale(1) translateY(-50%);
                }
            }
        }

        //*********************************************************
        // Components
        //*********************************************************

        @include component('content');

        @include component('close') {
            cursor: pointer;

            @include modifier('icon') {
                position: absolute;
            }
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    }

    @include module('overlay') {
        &[class*="dialog-visible"] {
            @include get-styles(this('overlay'));
        }
    }

}