@import '../../modules/elements/tabs/tabs.json';
/// Tabs
///
/// @access public
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
@mixin tabs($custom:  custom('tabs')) {

    // Configuration
    $tabs: config($tabs, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Components
        //*********************************************************
            
        @include component('nav') {
            
            @include _module('list', ('reset'), false);

            display: table;
            position: relative;
            margin-bottom: 0;
            z-index: 2;
            
            @include modifier('round') {
                @include component('item') {
                    &:first-child {
                        border-top-left-radius: this('nav', 'item', 'round-radius');
                    }
                    &:last-child {
                        border-top-right-radius: this('nav', 'item', 'round-radius');
                    }
                }
            }
            
            @include modifier('center') {
                margin-left: auto;
                margin-right: auto;
            }
            
            @include modifier('left') {
                margin-right: auto;
            }
            
            @include modifier('right') {
                margin-left: auto;
            }
            
            @include modifier('full') {
                width: 100%;
            }
            
            @include component('item') {
                cursor: pointer;
                display: table-cell;
                @include modifier('active') {
                    + li {
                        border-left-color: this('nav', 'item', 'active', 'border-color');
                    }
                    &:hover {
                        color: this('nav', 'item', 'active', 'color');
                        background: this('nav', 'item', 'active', 'background');
                    }
                }
                &:not(:last-child) {
                    border-right: none;
                }
                @include modifier('round') {
                    &:first-child {
                        border-top-left-radius: this('nav', 'item', 'round-radius');
                        border-bottom-left-radius: this('nav', 'item', 'round-radius');
                    }
                    &:last-child {
                        border-top-right-radius: this('nav', 'item', 'round-radius');
                        border-bottom-right-radius: this('nav', 'item', 'round-radius');
                    }
                }
            }

        } // component(nav)
        
        @include component('content') {
            position: relative;
            top: -1px;
            @include modifier('glue') {
                $tabs-glue: this('content', 'glueHeight');
                margin-top: $tabs-glue;
                top: -2px;
                z-index: 2;
                &:before {
                    content: '';
                    position: absolute;
                    left: -1px;
                    top: -$tabs-glue;
                    height: $tabs-glue;
                    width: calc(100% + 2px);
                    border: 1px solid this('content', 'glueColor');
                    background: this('content', 'glueColor');
                }
            }
        }
        
        @include component('item') {
            display: none;
            &.active {
                display: block;
            }
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin tabs