@import '../../modules/objects/preloader/preloader.json';
/// Preloader
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group objects
///
/// @param {map} $custom - where custom config will be passed
@mixin preloader($custom: custom('preloader')) {

    // Configuration
    $preloader: config($preloader, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************

        @include fill-parent(fixed);

        background: this('background');
        z-index: this('z-index');
        transition: this('transition');
        transform: scale(1);
        
        @media (max-width: this('visible-at')) {
            display: none;
        }

        //*********************************************************
        // Components
        //*********************************************************

        @include component ('spinner') {
            @include spinner(this('spinner')...);
            @include vertical-center(absolute);
            @include horizontal-center();
        }

        @include component('close') {
            @include horizontal-center();
            position: absolute;
            text-align: center;
            bottom: 4rem;
        }

        //*********************************************************
        // Modifiers
        //*********************************************************

        @include modifier('loaded') {
            transform: scale(0);
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;
        
    } // module

} // @mixin preloader