@import '../../modules/objects/preloader/preloader.json';
/// Preloader
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group objects
///
/// @param {map} $custom - where custom config will be passed
@mixin preloader($custom: custom('preloader')) {

    // Configuration
    $preloader: config($preloader, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************
        
        background: this('background');
        z-index: this('z-index');
        transition: this('transition');
        transform: scale(1);
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        
        @media (max-width: this('visible-at')) {
            display: none;
        }

        //*********************************************************
        // Components
        //*********************************************************

        @include component('close') {
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            margin: auto;
            bottom: 4rem;
        }

        //*********************************************************
        // Modifiers
        //*********************************************************

        @include modifier('loaded') {
            transform: scale(0);
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;
        
    } // module
    
    //*********************************************************
    // Preloaders
    //*********************************************************
    
    @if this('preloader') == 'balloons' {
        @include awd_balloons();
    }

} // @mixin foo