/// Center an element horizontally
/// @access public
/// @group Tools
@mixin horizontal-center() {
    left: 0;
    right: 0;
    margin: auto;
}

%horizontal-center {
    @include horizontal-center();
}