/// Background Overlay
///
/// @access public
/// @group Tools
///
/// @param {map} $custom - where custom config will be passed
@mixin bg-overlay($background) {
    position: relative;

    &::before {
        @include fill-parent();
        content: '';
        z-index: 0;
        background: $background;
    }
}