// Remove top spacing
@mixin top-rhythm {
    &:first-child {
        margin-top: 0;
    }
}

// Remove bottom spacing
@mixin bottom-rhythm {
    &:last-child {
        margin-bottom: 0;
    }
}

@mixin vertical-rhythm($position: null) {
    @if $position == 'top' {
        @include top-rhythm;
    } @else if $position == 'bottom' {
        @include bottom-rhythm;
    } @else {
        @include top-rhythm;
        @include bottom-rhythm;
    }
}