@import 'forms.json';
/// Forms
///
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
@mixin forms($custom: custom('forms')) {

    // Configuration
    $forms: config($forms, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Components
        //*********************************************************

        @include component('label');

        @include component('group') {

            @include vertical-rhythm('bottom');

            position: relative;
            margin-bottom: (core('margin') / 2);

            @include modifier('compound') {
                margin-bottom: (core('margin') / 4);
            }

            @include modifier('has-icon') {
                @include module {
                    @include component('input') {
                        padding-left: 2em;
                    }
                }
            }

            @include modifier('validate') {
                display: table;
                width: 100%;

                label {
                    display: table-header-group;
                }

                @include module {
                    @include component('input') {
                        display: table-footer-group;
                        float: left;

                        &:focus {
                            &:invalid {
                                &, ~ label, ~ #{selector($module, 'icon')} {
                                    border-color: this('invalid-color');
                                    color: this('invalid-color');
                                }

                                &::placeholder {
                                    border-color: this('invalid-color');
                                    color: this('invalid-color');
                                }
                            }

                            &:valid {
                                &, ~ label, ~ .form_icon {
                                    border-color: this('valid-color');
                                    color: this('valid-color');
                                }

                                &::placeholder {
                                    border-color: this('invalid-color');
                                    color: this('invalid-color');
                                }
                            }
                        }
                    }
                }
            } // modifier('validate')

        } // component('group')

        @include component('icon') {
            @include vertical-center();

            position: absolute;
            left: 0.75em;
            color: this('input', 'color');
        }

        @include component('input') {
            display: block;
            width: 100%;

            &::placeholder {
                transition: core('transition');
                color: this('input', 'color');
            }

            &:focus {
                outline: 0;
            }
        }

        //*********************************************************
        // Child Elements
        //*********************************************************

        fieldset {
            padding: 0;
            border: none;
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin forms