@import '../../modules/elements/tables/tables.json';
/// Tables
///
/// @access public
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
@mixin tables($custom: custom('tables')) {

    // Configuration
    $tables: config($tables, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************

        width: 100%;

        //*********************************************************
        // Modifiers
        //*********************************************************

        @include modifier('fixed') {
            table-layout: fixed;
        }

        //*********************************************************
        // Child Elements
        //*********************************************************

        th, td {
            padding: this('cell-padding');
            border-bottom: 1px solid color('opaque', 'dark-1');
            border-left: 1px solid color('opaque', 'dark-1');
            text-align: left;
            vertical-align: top;

            &:first-child {
                padding-left: 0;
                border-left: none;
            }
        }

        tbody {
            tr {
                &:last-child {
                    td {
                        border-bottom: none;
                    }
                }
            }
        }

        code {
            white-space: nowrap;
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin tables