@import '../../modules/objects/side-nav/side-nav.json';
/// Side-Nav
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group objects
///
/// @param {map} $custom - where custom config will be passed
@mixin side-nav($custom: custom('side-nav')) {

    // Config
    $side-nav: config($side-nav, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {
        
        background: color('greyscale', 'grey-5');
        overflow: auto;
        position: fixed;
        z-index: 13;
        top: 0;
        left: -100%;
        height: 100%;
        width: 400px;
        max-width: 100%;
        transition: core('transition');

        @include modifier('visible') {
            left: 0;
        }
        
        @include option('show-y-scrollbar') {
           overflow-y: scroll;
        }
            
        nav {
            
            ul {
                @include extend(
                    $parent: 'list', $modifiers: 'reset'
                );
                text-align: left;
                margin-top: 0;
                width: 100%;
                position: relative;
                opacity: 1;
                visibility: visible;
                li {
                    display: block;
                    margin-left: 0;
                    &:hover {
                        > a, a:not(:only-child) {
                            border-right: none;
                            background: this('item-hover-bg');
                            border-left: this('item-hover-left-border');
                            color: this('item-hover-color');
                        }
                    }
                }
                a {
                    display: block;
                    position: relative;
                    text-decoration: none;
                    border-radius: 0;
                    
                    padding: this('item-padding');
                    color: this('item-color');
                    border-top: this('item-top-border');
                    border-bottom: this('item-bottom-border');
                    border-left: this('item-left-border');
                    border-right: this('item-right-border');
                    &:after {
                        display: none;
                    }
                }   
                ul {
                    li {
                        &:hover {
                            a {
                                color: this('item-hover-color');
                                background: transparent;
                                border-top: this('item-top-border');
                                border-bottom: this('item-bottom-border');
                            }
                        }
                    }
                    ul {
                        padding-left: 1.5em;
                    }
                }
            }
        
            // Parent Items
            > ul {		
                > li {
                    > a {
                        color: this('parent-color');
                        border-left: this('parent-left-border');
                        background: this('parent-background');
                        &.active {
                            background: this('parent-active-background');
                        }
                    }
                    &:hover {
                        > a {
                            border-color: transparent;
                            border-right: none;
                            background: this('parent-hover-background');
                        }
                    }
                }
            }
        
        } // nav
        
        &::-webkit-scrollbar {
            width: 14px;
        }
        &::-webkit-scrollbar-thumb {
            border-left: 1px solid rgba(white, 0.075);
            background-image: linear-gradient(
                to right, rgba(white, 0.025), rgba(black, 0.5)
            );
        }
            
        @include module(('logo', 'navigation')) {
            display: block;
        }
        
        //*********************************************************
        // Components
        //*********************************************************

        // @TODO perhaps rename to 'toggle'?
        @include component('openClose') {
            position: absolute;
            top: -1px;
            right: 0;
            padding: 1.45em;
            cursor: pointer;
            transition: core('transition');
            opacity: 0.6;
            display: block;
            &:hover {
                background: rgba(color('greyscale', black), 0.2);
                opacity: 1;
            }
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module
	
} // @mixin side-nav