@import '../../modules/objects/side-nav/side-nav.json';
/// sideNav
///
/// @access public
/// @group objects
///
/// @param {map} $custom - where custom config will be passed
@mixin side-nav($custom: custom('sideNav')) {

    // Config
    $side-nav: config($side-nav, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        overflow: auto;
        position: fixed;
        z-index: 13;
        top: 0;
        left: -100%;
        height: 100%;
        max-width: 100%;

        @include modifier('visible') {
            left: 0;
        }

        @include component('dropdown') {
            @include component('toggle') {
                position: absolute;
                top: 0;
                right: 0;
                padding: this('item', 'padding');
                line-height: 1.5;
                cursor: pointer;
                transition: core('transition');
                &:hover {
                    background: this('parent', 'background');
                    color: this('parent', 'color');
                }
            }
        }
            
        nav {
            
            ul {
                @include _module('list', ('reset'), false);
                text-align: left;
                margin-top: 0;
                width: 100%;
                position: relative;
                opacity: 1;
                visibility: visible;
                li {
                    display: block;
                    position: relative;
                    margin-left: 0;
                    &:hover {
                        > a {
                            @include get-styles(this('item', 'hover'));
                            border-right: none;
                        }
                    }
                }
                a {
                    @include get-styles(this('item'));
                    display: block;
                    position: relative;
                    text-decoration: none;
                    border-radius: 0;
                    &:after {
                        display: none;
                    }
                }   
                ul {
                    li {
                        &:hover {
                            a {
                                background: transparent;
                                color: this('item', 'hover', 'color');
                                border-top: this('item', 'top-border');
                                border-bottom: this('item', 'bottom-border');
                            }
                        }
                    }
                    ul {
                        padding-left: 1.5em;
                    }
                }
            }
        
            // Parent Items
            > ul {		
                > li {
                    > a {
                        @include get-styles(this('parent'));
                        &.active {
                            @include get-styles(this('parent', 'active'));
                        }
                    }
                    &:hover {
                        > a {
                            @include get-styles(this('parent', 'hover'));
                            border-color: transparent;
                            border-right: none;
                        }
                    }
                }
            }
        
        } // nav

        .collapsed {
            display: none;
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module
	
} // @mixin side-nav