@import '../../modules/objects/side-nav/side-nav.json';
/// sideNav
///
/// @access public
/// @group objects
///
/// @param {map} $custom - where custom config will be passed
@mixin side-nav($custom: custom('sideNav')) {

    // Config
    $side-nav: config($side-nav, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        position: fixed;
        z-index: 13;
        top: 0;
        left: -100%;
        max-width: 100%;
        height: 100%;
        overflow: auto;

        @include modifier('visible') {
            left: 0;
        }

        @include component('dropdown') {
            @include component('toggle') {
                position: absolute;
                top: 0;
                right: 0;
                padding: this('item', 'padding');
                transition: core('transition');
                line-height: 1.5;
                cursor: pointer;

                &:hover {
                    background: this('parent', 'background');
                    color: this('parent', 'color');
                }
            }
        }

        nav {

            ul {
                @include _module('list', ('reset'), false);
                visibility: visible;
                position: relative;
                width: 100%;
                margin-top: 0;
                opacity: 1;
                text-align: left;

                li {
                    display: block;
                    position: relative;
                    margin-left: 0;

                    &:hover {
                        > a {
                            @include get-styles(this('item', 'hover'));
                            border-right: none;
                        }
                    }
                }

                a {
                    @include get-styles(this('item'));
                    display: block;
                    position: relative;
                    border-radius: 0;
                    text-decoration: none;

                    &::after {
                        display: none;
                    }
                }

                ul {
                    li {
                        &:hover {
                            a {
                                border-top: this('item', 'border-top');
                                border-bottom: this('item', 'border-bottom');
                                background: transparent;
                                color: this('item', 'hover', 'color');
                            }
                        }
                    }

                    ul {
                        padding-left: 1.5em;
                    }
                }
            }

            // Parent Items
            > ul {
                > li {
                    > a {
                        @include get-styles(this('parent'));
                        &.active {
                            @include get-styles(this('parent', 'active'));
                        }
                    }

                    &:hover {
                        > a {
                            @include get-styles(this('parent', 'hover'));
                            border-right: none;
                            border-color: transparent;
                        }
                    }
                }
            }

        } // nav

        .collapsed {
            display: none;
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin side-nav