@import '../../modules/objects/google-map/google-map.json';
/// Google Map
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group objects
///
/// @param {map} $custom - where custom config will be passed
@mixin google-map($custom: custom('google-map')) {

    // Config
    $google-map: config($google-map, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {
        
        background: rgba(black,0.2);
        width: 100%;
        height: 375px;
        display: block;

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;
        
    }// module
	
} // @mixin google-map