@import 'alert.json';
/// Alerts
///
/// @access public
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
@mixin alert($custom: custom('alert')) {

    // Configuration
    $alert: config($alert, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************

        display: block;
        position: relative;
        color: this('text-color');

        //*********************************************************
        // Modifiers
        //*********************************************************

        @each $alert in this('alerts') {
            @include modifier(nth($alert, 1)) {
                background-color: map-get(nth($alert, 2), 'color');
            }
        }

        @include modifier('box') {
            @include component('icon') {
                float: left;
            }
        }

        //*********************************************************
        // Components
        //*********************************************************

        @include component('icon') {
            margin-right: 0.5em;
            line-height: 1.25;

            @include modifier('right') {
                margin-right: 0;
                margin-left: 0.5em;
                float: right;
            }

            @include modifier('close') {
                cursor: pointer;
            }
        }

        //*********************************************************
        // Pseudo States
        //*********************************************************

        &:hover {
            text-decoration: none;
        }

        //*********************************************************
        // Child Elements
        //*********************************************************

        a:not([class*="button"]) {
            border-bottom: 1px dotted;

            &:hover {
                color: inherit;
                text-decoration: none;
            }
        }

        a, b {
            color: inherit;
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin alert