@import '../../modules/elements/wells/wells.json';
/// Wells
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
@mixin wells($custom:  custom('wells')) {

    // Configuration
    $wells: config($wells, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************

        background: this('background');
        border: this('border');
        border-radius: this('radius');
        padding: this('padding');
        color: this('color');
        position: relative;

        //*********************************************************
        // Modifiers
        //*********************************************************
        
        @include modifier('dark') {
            background: this('dark-background');
            border: this('dark-border');
            color: this('dark-color');
        }

        //*********************************************************
        // Components
        //*********************************************************

        @include component('content') {
            @include vertical-center;
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;
        
    } // module
        
} // @mixin wells