@import 'blockquotes.json';
/// Blockquotes
///
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
@mixin blockquotes($custom: custom('blockquotes')) {

    // Configuration
    $blockquotes: config($blockquotes, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************

        position: relative;
        padding: 0;
        border: none;
        margin-left: 0;
        margin-right: 0;

        //*********************************************************
        // Components
        //*********************************************************

        @include component('footer') {
            &::before {
                content: '—';
            }
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin blockquotes