@import 'blockquotes.json';
/// Blockquotes
///
/// @access public
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
@mixin blockquotes($custom: custom('blockquotes')) {

    // Configuration
    $blockquotes: config($blockquotes, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************

        @include object;

        position: relative;
        padding: 0;
        border: none;

        //*********************************************************
        // Modifiers
        //*********************************************************

        @include modifier('icon') {
            @include option('icon', 'openQuote') {
                padding-left: this('icon', 'padding');

                &::before {
                    visibility: visible;
                    opacity: 1;
                    #{nth(this('icon', 'openQuote'), 2)}: 0;
                }
            }

            @include option('icon', 'closeQuote') {
                padding-right: this('icon', 'padding');

                &::after {
                    visibility: visible;
                    opacity: 1;
                    #{nth(this('icon', 'closeQuote'), 2)}: 0;
                }
            }
        }

        @include modifier('pull') {
            margin: this('pull', 'margin');

            @media (min-width: breakpoint('break-2')) {
                width: this('pull', 'width');
                max-width: this('pull', 'max-width');
            }

            @include option('icon', 'openQuote') {
                padding-left: this('icon', 'padding');
            }

            @include option('icon', 'closeQuote') {
                padding-right: this('icon', 'padding');
            }

            @include modifier('top') {
                margin-top: 0;
            }

            @include modifier('bottom') {
                margin-bottom: 0;
            }

            @include modifier('left') {
                margin-left: 0;
                float: left;
            }

            @include modifier('right') {
                margin-right: 0;
                float: right;
            }
        }

        @include modifier('callout') {
            &::before, &::after {
                display: none;
            }
        }

        //*********************************************************
        // Pseudo Elements
        //*********************************************************

        &::before, &::after {
            visibility: hidden;
            position: absolute;
            height: this('icon', 'height');
            opacity: 0;
            font-family: this('icon', 'font-family');
            font-size: this('icon', 'size');
            line-height: 1;
        }

        &::before {
            content: open-quote;
            left: 0;
        }

        &::after {
            content: close-quote;
            right: 0;
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin blockquotes