---
layout: module.hbs
billboard:
    heading: Alert Bars/Boxes
    resource:
        icon: github-alt
        link: https://github.com/esr360/One-Nexus/tree/master/assets/modules/elements/alert-bars
        text: /assets/modules/elements/alert-bars
---

<h3 class="heading-size-5-light">Quick Look</h3>

<p class="alert-bar-help">A helpful alert bar.</p>
<p class="alert-bar-info">An informative alert bar.</p>
<p class="alert-bar-success">A successful alert bar.</p>
<p class="alert-bar-error">An error alert bar.</p>

<pre><code class="html">&lt;div class="alert-bar-help">A helpful alert bar.&lt;/div>
&lt;p class="alert-bar-info">An informative alert bar.&lt;/p>
&lt;div class="alert-bar-success">&lt;p>A successful alert bar.&lt;/p>&lt;/div>
&lt;span class="alert-bar-error">An error alert bar.&lt;/span></code></pre>

<h3 class="heading-size-5">Sass</h3>

<p>Load the alert bar styles by including the <code>alert-bars()</code> mixin:</p>

<pre><code>@include alert-bars();</code></pre>

<p>The following options can be passed to the mixin to customize the alert bars:</p>

<table class="table">
    <thead>
        <tr>
            <th>Option</th>
            <th>Description</th>
            <th>Default</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>name</code></td>
            <td>The name used when generating the CSS selector</td>
            <td><code>'alert'</code></td>
        </tr>
        <tr>
            <td><code>colors</code></td>
            <td>A Sass map where the key will be used as a modifier and the value will be used as the color</td>
            <td><code>palette('alert')</code></td>
        </tr>
        <tr>
            <td><code>text-color</code></td>
            <td>Text color for alert bars</td>
            <td><code>color('greyscale', 'white')</code></td>
        </tr>
        <tr>
            <td><code>bar-padding</code></td>
            <td>Padding for alert bars</td>
            <td><code>0.85em</code></td>
        </tr>
        <tr>
            <td><code>box-padding</code></td>
            <td>Padding for alert boxes</td>
            <td><code>1.5em</code></td>
        </tr>
    </tbody>
</table>

<p>The above options can be passed to the mixin like so:</p>

<pre><code>@include alert-bars((
    'colors':(
        'carrot': #F97E52,
        'error' : #DA4D44,
        'rose'  : #D870AD
    )
));</code></pre>

<p>The above example produces the following alert bars (custom values will be recursively merged with default values):</p>

<p class="alertDemo-1-bar-carrot">A carrot alert bar.</p>

<pre><code class="html">&lt;div class="alert-bar-carrot">A carrot alert bar.&lt;/div></code></pre>

<p class="alertDemo-1-bar-rose">A rose alert bar.</p>
<p class="alertDemo-1-bar-help">A helpful alert bar.</p>
<p class="alertDemo-1-bar-info">An informative alert bar.</p>
<p class="alertDemo-1-bar-success">A successful alert bar.</p>
<p class="alertDemo-1-bar-error">An error alert bar.</p>

<h3 class="heading-size-5">Examples</h3>

<h4 class="heading-size-3">With Icon</h4>

<p class="alert-bar-success"><i class="alert_icon fa fa-check" aria-hidden="true"></i> A successful alert bar.</p>
<p class="alert-bar-error"><i class="alert_icon fa fa-times" aria-hidden="true"></i> An error alert bar.</p>

<pre><code class="html">&lt;div class="alert-bar-success">
    &lt;i class="alert_icon fa fa-times">&lt;/i> A successful alert bar.
&lt;/div>
&lt;div class="alert-bar-error">
    &lt;i class="alert_icon fa fa-times">&lt;/i> An error alert bar.
&lt;/div></code></pre>

<h4 class="heading-size-3">With Right-Aligned Icon</h4>

<p class="alert-bar-error"><i class="alert_icon-right fa fa-times" aria-hidden="true"></i> An error alert bar.</p>

<pre><code class="html">&lt;div class="alert-bar-error">
    &lt;i class="alert_icon-right fa fa-times">&lt;/i> An error alert bar.
&lt;/div></code></pre>

<h4 class="heading-size-3">Alert Box</h4>

<div class="alert-box-info">

    <h3 class="heading-size-4">This is an Alert Box</h3>

    <p>Fusce at nibh augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu justo eget velit rhoncus semper. Fusce et elementum quam. Donec gravida sem nunc, ac dictum tortor semper a. Morbi ac accumsan neque. Nam egestas malesuada ex eu tincidunt. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

</div>

<pre><code class="html">&lt;div class="alert-box-info">
    &lt;h3 class="heading-size-4">This is an Alert Box&lt;/h3>
    &lt;p>...&lt;p>
&lt;/div></code></pre>

<!-- Cloak & dagger UI -->

<link rel="stylesheet" href="/css/alert-bars.css" />