---
layout: module.hbs
billboard:
    heading: Blockquotes
    resource:
        icon: github-alt
        link: https://github.com/esr360/One-Nexus/tree/master/assets/modules/elements/blockquotes
        text: /assets/modules/elements/blockquotes
---

<h3 class="heading-size-5-light">Quick Look</h3>

<blockquote class="blockquote">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus, purus a varius mattis, ligula dui imperdiet nisi, quis tincidunt sem tortor nec diam. Suspendisse id nunc pharetra, pulvinar nisl id, maximus nisl.
</blockquote>
    
<pre><code class="html">&lt;blockquote class="blockquote">
    ...
&lt;/blockquote></code></pre>

<h3 class="heading-size-5">Sass</h3>

<p>Load the alert bar styles by including the <code>alert-bars()</code> mixin:</p>

<pre><code>@include blockquotes();</code></pre>

<p>The following options can be passed to the mixin to customize the alert bars:</p>

<table class="table">
    <thead>
        <tr>
            <th>Option</th>
            <th>Description</th>
            <th>Default</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>name</td>
            <td>The name used when generating the CSS selector</td>
            <td><code>'alert-bar'</code></td>
        </tr>
        <tr>
            <td>colors</td>
            <td>A Sass map where the key will be used as a modifier and the value will be used as the color</td>
            <td><code>palette('alert')</code></td>
        </tr>
        <tr>
            <td>text-color</td>
            <td>Text color for alert bars</td>
            <td><code>color('greyscale', 'white')</code></td>
        </tr>
        <tr>
            <td>padding</td>
            <td>Padding for alert bars</td>
            <td><code>0.85em</code></td>
        </tr>
    </tbody>
</table>

<p>The above options can be passed to the mixin like so:</p>

<pre><code>@include alert-bars((
    'colors':(
        'carrot': #F97E52,
        'error' : #DA4D44,
        'rose'  : #D870AD
    )
));</code></pre>

<p>The above example produces the following alert bars (custom values will be recursively merged with default values):</p>

<p class="alertBarDemo-1-carrot">A carrot alert bar.</p>

<h3 class="heading-size-5">Examples</h3>

<h4 class="heading-size-3">With Icon</h4>

<p class="alert-bar-success"><i class="alert-bar_icon fa fa-check" aria-hidden="true"></i> A successful alert bar.</p>
<p class="alert-bar-error"><i class="alert-bar_icon fa fa-times" aria-hidden="true"></i> An error alert bar.</p>

<pre><code class="html">&lt;div class="alert-bar-success">&lt;i class="alert-bar_icon fa fa-times">&lt;/i> A successful alert bar.&lt;/div>
&lt;div class="alert-bar-error">&lt;i class="alert-bar_icon fa fa-times">&lt;/i> An error alert bar.&lt;/div></code></pre>

<!-- Cloak & dagger UI -->

<link rel="stylesheet" href="/css/alert-bars.css" />