---
layout: module.hbs
billboard:
    heading: Buttons
    resource:
        icon: github-alt
        link: https://github.com/esr360/One-Nexus/tree/master/assets/modules/elements/buttons
        text: /assets/modules/elements/buttons
---

<h3 class="heading-size-5-light">Quick Look</h3>

<button class="button">Button</button>
<div class="button-brand-2">Button</div>
<a href="#" class="button-round-brand-3">Button</a>
<span class="button-round-brand-3-border">Button</span>
<input type="submit" class="button-round-success" value="Button" />
<a href="#" class="button-oval-dribbble"><i class="fa fa-dribbble"></i> Button</a>

<pre><code class="html">&lt;button class="button">Button&lt;/button>
&lt;div class="button-brand-2">Button&lt;/div>
&lt;a href="#" class="button-round-brand-3">Button&lt;/a>
&lt;span class="button-round-brand-3-border">Button&lt;/span>
&lt;input type="submit" class="button-round-success" value="Button" />
&lt;a href="#" class="button-oval-dribbble">&lt;i class="fa fa-dribbble">&lt;/i> Button&lt;/a></code></pre>

<h3 class="heading-size-5">Sass</h3>

<p>Load the alert bar styles by including the <code>buttons()</code> mixin:</p>

<pre><code>@include buttons();</code></pre>

<p>The following options can be passed to the mixin to customize the buttons:</p>

<table class="table">
    <thead>
        <tr>
            <th>Option</th>
            <th>Description</th>
            <th>Default</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>name</code></td>
            <td>The name used when generating the CSS selector</td>
            <td><code>'button'</code></td>
        </tr>
        <tr>
            <td><code>color</code></td>
            <td>The default text-color for buttons</td>
            <td><code>color('greyscale', 'white')</code></td>
        </tr>
        <tr>
            <td><code>background</code></td>
            <td>The default background for buttons</td>
            <td><code>color('greyscale', 'grey-4')</code></td>
        </tr>
        <tr>
            <td><code>transition</code></td>
            <td>The transition speed primarily used for the hover effect</td>
            <td><code>core('transition')</code></td>
        </tr>
        <tr>
            <td><code>h-padding</code></td>
            <td>Thepadding for the left and right of buttons</td>
            <td><code>1em</code></td>
        </tr>
        <tr>
            <td><code>v-padding</code></td>
            <td>Thepadding for the tpp and bottom of buttons</td>
            <td><code>0.65em</code></td>
        </tr>
        <tr>
            <td><code>line-height</code></td>
            <td>The line height for buttons</td>
            <td><code>1</code></td>
        </tr>
        <tr>
            <td><code>font-weight</code></td>
            <td>The default font weight for buttons</td>
            <td><code>normal</code></td>
        </tr>
        <tr>
            <td><code>font-family</code></td>
            <td>The default font family for buttons</td>
            <td><code>typography('typefaces', 'primary')</code></td>
        </tr>
        <tr>
            <td><code>border-width</code></td>
            <td>The border width for buttons with the <code>border</code> modifier</td>
            <td><code>1px</code></td>
        </tr>
        <tr>
            <td><code>border-style</code></td>
            <td>The border style for buttons with the <code>border</code> modifier</td>
            <td><code>solid</code></td>
        </tr>
        <tr>
            <td><code>active-background</code></td>
            <td>The background for buttons with the <code>active</code> modifier</td>
            <td><code>color('brand', 'brand-1')</code></td>
        </tr>
        <tr>
            <td><code>active-color</code></td>
            <td>The text color for buttons with the <code>active</code> modifier</td>
            <td><code>color('greyscale', 'white')</code></td>
        </tr>
        <tr>
            <td><code>disabled-opacity</code></td>
            <td>The opacity for disabled buttons</td>
            <td><code>0.6</code></td>
        </tr>
        <tr>
            <td><code>round-radius</code></td>
            <td>The radius for buttons with the <code>round</code> modifier</td>
            <td><code>0.4em</code></td>
        </tr>
        <tr>
            <td><code>group-spacing</code></td>
            <td>The spacing between buttons within a group component</td>
            <td><code>0.5em</code></td>
        </tr>
        <tr>
            <td><code>group-stack</code></td>
            <td>The width at which buttons in a group component should stack ontop of one another</td>
            <td><code>'break-1'</code></td>
        </tr>
        <tr>
            <td><code>sizes</code></td>
            <td>Map containing list of font-sizes to create a modifier for</td>
            <td><code>typography-config('sizes')</code></td>
        </tr>
        <tr>
            <td><code>palettes</code></td>
            <td>A list of color palettes to create modifiers for</td>
            <td><code>('brand', 'greyscale', 'alert', 'social')</code></td>
        </tr>
    </tbody>
</table>

<p>The above options can be passed to the mixin like so:</p>

<pre><code>@include buttons((
    'background': blue,
    'group-spacing': 10px,
    'sizes':(
        'small': 8px,
        'large': 20px
    )
));</code></pre>

<h3 class="heading-size-3">Color Palettes</h3>

<p>This option accepts a list of palettes defined in the <a href="../utilities/color-palette.html">Color Palette</a> module.</p>

<pre><code>@include buttons((
    'palettes': ('brand', 'greyscale', 'alert', 'social')
));</code></pre>

<p>This will create a modifier for each color in each palette, with the color's key as the modifier name.</p>

<p>If you only want to create modifiers for specific colors in a certain palette, you can pass the keys like so:</p>

<pre><code>@include buttons((
    'palettes': (
        'brand', 
        ('greyscale': ('grey-1', 'grey-3', 'grey-4')), 
        'alert', 
        ('social': ('facebook', 'twitter')
    )
));</code></pre>

<p>You can also pass new colors as a regular map:</p>

<pre><code>@include buttons((
    'palettes': (
        'brand', 'greyscale', 'alert', 'social', 
        ('foo': blue, 'bar': #FF5733)
    )
));</code></pre>

<p>Using your new values like so:</p>

<pre><code class="html">&lt;button class="button-foo">Button&lt;/button>
&lt;button class="button-foo-round">Button&lt;/button>
&lt;button class="button-bar">Button&lt;/button>
&lt;button class="button-bar-border">Button&lt;/button></code></pre>

<button class="buttonDemo-1-foo">Button</button>
<button class="buttonDemo-1-foo-round">Button</button>
<button class="buttonDemo-1-bar">Button</button>
<button class="buttonDemo-1-bar-border">Button</button>

<h3 class="heading-size-5">Examples</h3>

<h4 class="heading-size-4">Sizes</h4>

<ul class="list-clear">
    <li><code>size-1</code></li>
    <li><code>size-2</code></li>
    <li><code>size-3</code></li>
    <li><code>size-4</code></li>
    <li><code>size-5</code></li>
    <li><code>size-6</code></li>
    <li><code>size-7</code></li>
    <li><code>size-8</code></li>
    <li><code>size-9</code></li>
</ul>

<p><button class="button-size-1">Size 1 Button</button></p>
<p><button class="button-size-2">Size 2 Button</button></p>
<p><button class="button">Default Button</button></p>
<p><button class="button-size-3">Size 3 Button</button></p>
<p><button class="button-size-4">Size 4 Button</button></p>
<p><button class="button-size-5">Size 5 Button</button></p>

<pre><code class="html">&lt;button class="button-size-7">Size 7 Button&lt;/button></code></pre>

<h4 class="heading-size-4">Colors</h4>

<h4 class="heading-size-2-uppercase">Brand</h4>

<ul class="list-clear">
    <li><code>brand-1</code></li>
    <li><code>brand-2</code></li>
    <li><code>brand-3</code></li>
</ul>

<button class="button-brand-1">Brand 1 Button</button>
<button class="button-brand-2">Brand 2 Button</button>
<button class="button-brand-3">Brand 3 Button</button>

<pre><code class="html">&lt;button class="button-brand-3">Brand 3 Button&lt;/button></code></pre>

<h4 class="heading-size-2-uppercase">Greyscale</h4>

<ul class="list-clear">
    <li><code>white</code></li>
    <li><code>grey-1</code></li>
    <li><code>grey-2</code></li>
    <li><code>grey-3</code></li>
    <li><code>grey-4</code></li>
    <li><code>grey-5</code></li>
    <li><code>grey-6</code></li>
    <li><code>black</code></li>
</ul>

<button class="button-white">White Button</button>
<button class="button-grey-1">Grey 1 Button</button>
<button class="button-grey-2">Grey 2 Button</button>
<button class="button-grey-3">Grey 3 Button</button>
<button class="button-grey-4">Grey 4 Button</button>
<button class="button-grey-5">Grey 5 Button</button>
<button class="button-grey-6">Grey 6 Button</button>
<button class="button-black">Black Button</button>

<pre><code class="html">&lt;button class="button-grey-3">Grey 3 Button&lt;/button></code></pre>

<h4 class="heading-size-2-uppercase">Alert</h4>

<ul class="list-clear">
    <li><code>error</code></li>
    <li><code>success</code></li>
    <li><code>help</code></li>
    <li><code>info</code></li>
</ul>

<button class="button-error">Error Button</button>
<button class="button-success">Success Button</button>
<button class="button-help">Help Button</button>
<button class="button-info">Info Button</button>

<pre><code class="html">&lt;button class="button-success">Success Button&lt;/button></code></pre>

<h4 class="heading-size-2-uppercase">Social</h4>

<ul class="list-clear">
    <li><code>facebook</code></li>
    <li><code>twitter</code></li>
    <li><code>linkedin</code></li>
    <li><code>github</code></li>
    <li><code>skype</code></li>
    <li><code>pinterest</code></li>
    <li><code>instagram</code></li>
    <li><code>rss</code></li>
    <li><code>youtube</code></li>
    <li><code>flickr</code></li>
    <li><code>vimeo</code></li>
    <li><code>dribbble</code></li>
    <li><code>behance</code></li>
    <li><code>deviantart</code></li>
    <li><code>reddit</code></li>
    <li><code>google-plus</code></li>
    <li><code>email</code></li>
    <li><code>stumbleupon</code></li>
</ul>

<div class="row-flow row-gasp">
    <button class="button-facebook span-3">Facebook Button</button>
    <button class="button-twitter span-3">Twitter Button</button>
    <button class="button-linkedin span-3">LinkedIn Button</button>
    <button class="button-github span-3">Github Button</button>
    <button class="button-skype span-3">Skype Button</button>
    <button class="button-pinterest span-3">Pinterest Button</button>
    <button class="button-instagram span-3">Instagram Button</button>
    <button class="button-rss span-3">RSS Button</button>
    <button class="button-youtube span-3">Youtube Button</button>
    <button class="button-flickr span-3">Flickr Button</button>
    <button class="button-vimeo span-3">Vimeo Button</button>
    <button class="button-dribbble span-3">Dribbble Button</button>
    <button class="button-behance span-3">Behance Button</button>
    <button class="button-deviantart span-3">DevianrArt Button</button>
    <button class="button-reddit span-3">Reddit Button</button>
    <button class="button-google-plus span-3">Google Plus Button</button>
    <button class="button-email span-3">Email Button</button>
    <button class="button-stumbleupon span-3">Stumbleupon Button</button>
</div>

<pre><code class="html">&lt;button class="button-dribbble">Dribbble Button&lt;/button></code></pre>

<h4 class="heading-size-4">Modifiers</h4>

<ul class="list-clear">
    <li><code>block</code></li>
    <li><code>border</code></li>
    <li><code>disabled</code></li>
    <li><code>round</code></li>
    <li><code>circle/oval</code></li>
    <li><code>sharp</code></li>
    <li><code>icon</code></li>
    <li><code>active</code></li>
</ul>
  
<div class="row-flow row-breathe">

    <div class="span-4 va-middle">
        <button class="button-block">Button</button>
    </div>
    <div class="span-8 va-middle">
        <pre><code class="html">&lt;button class="button-block">Button&lt;/button></code></pre>
    </div>
    
    <div class="span-4 va-middle">
        <button class="button-border">Button</button>
    </div>
    <div class="span-8 va-middle">
        <pre><code class="html">&lt;button class="button-border">Button&lt;/button></code></pre>
    </div>
    
    <div class="span-4 va-middle">
        <button class="button-disabled">Button</button>
    </div>
    <div class="span-8 va-middle">
        <pre><code class="html">&lt;button class="button-disabled">Button&lt;/button></code></pre>
    </div>
    
    <div class="span-4 va-middle">
        <button class="button-round">Button</button>
    </div>
    <div class="span-8 va-middle">
        <pre><code class="html">&lt;button class="button-round">Button&lt;/button></code></pre>
    </div>

    <div class="span-4 va-middle">
        <button class="button-oval">Button</button>
    </div>
    <div class="span-8 va-middle">
        <pre><code class="html">&lt;button class="button-oval">Button&lt;/button></code></pre>
    </div>

    <div class="span-4 va-middle">
        <button class="button-sharp">Button</button>
    </div>
    <div class="span-8 va-middle">
        <pre><code class="html">&lt;button class="button-sharp">Button&lt;/button>&lt;!-- ensure button corners are never rounded --></code></pre>
    </div>
    
    <div class="span-4 va-middle">
        <button class="button"><i class="fa fa-download"></i> Button</button>
    </div>
    <div class="span-8 va-middle">
        <pre><code class="html">&lt;button class="button">&lt;i class="fa fa-download">&lt;/i> Button&lt;/button></code></pre>
    </div>
    
    <div class="span-4 va-middle">
        <button class="button-icon"><i class="fa fa-download"></i></button>
    </div>
    <div class="span-8 va-middle">
        <pre><code class="html">&lt;button class="button-icon">&lt;i class="fa fa-download">&lt;/i>&lt;/button></code></pre>
    </div>
    
    <div class="span-4 va-middle">
        <button class="button-active">Button</button>
    </div>
    <div class="span-8 va-middle">
        <pre><code class="html">&lt;button class="button-active">Button&lt;/button></code></pre>
    </div>

</div>

<p>Modifiers can be combined:</p>

<button class="button-icon-oval-rss-size-6"><i class="fa fa-rss"></i></button>
<button class="button-icon-oval-border-youtube"><i class="fa fa-youtube"></i></button>
<button class="button-border-disabled-active">Button</button>

<pre><code class="html">&lt;button class="button-icon-oval-rss-size-6">&lt;i class="fa fa-rss">&lt;/i>&lt;/button>
&lt;button class="button-icon-oval-border-youtube">&lt;i class="fa fa-youtube">&lt;/i>&lt;/button>
&lt;button class="button-border-disabled-active">Button&lt;/button></code></pre>

<div class="alert-box-info">
    <h3 class="heading-size-3 font-2"><i class="alert_icon fa fa-info-circle"></i>Tip: Combine commonly reused modifiers</h3>
    <p>If you are commonly reusing the same combination of modifiers multiple times, you can combine them into a new modifier:</p>

<pre><code>@include buttons((
    'combine':(
        'primary' : ('round', 'size-4', 'brand-1'),
        'social'  : ('icon', 'oval', 'size-6')
    )
));</code></pre>

<pre><code class="html">&lt;button class="button-primary">Primary Action&lt;/button>
&lt;button class="button-social-rss">&lt;i class="fa fa-rss">&lt;/i>&lt;/button></code></pre>

<p>Which is the equivilent of:</p>

<pre><code class="html">&lt;button class="button-round-size-4-brand-1">Primary Action&lt;/button>
&lt;button class="button-icon-oval-size-6-rss">&lt;i class="fa fa-rss">&lt;/i>&lt;/button></code></pre>
</div>

<h4 class="heading-size-4">Components</h4>

<h4 class="heading-size-2-uppercase">Button Group</h4>

<p class="button_group">
    <button class="button">Button</button>
    <button class="button">Button</button>
    <button class="button">Button</button>
</p>

<pre><code class="html">&lt;div class="button_group">
    &lt;button class="button">Button&lt;/button>
    &lt;button class="button">Button&lt;/button>
    &lt;button class="button">Button&lt;/button>
&lt;/div></code></pre>

<h4 class="heading-size-2-uppercase">Button Group - Pills</h4>

<p class="button_group-pills">
    <button class="button">Button</button>
    <button class="button">Button</button>
    <button class="button">Button</button>
</p>

<pre><code class="html">&lt;div class="button_group-pills">
    &lt;button class="button">Button&lt;/button>
    &lt;button class="button">Button&lt;/button>
    &lt;button class="button">Button&lt;/button>
&lt;/div></code></pre>

<h4 class="heading-size-2-uppercase">Button Group - Round Pills</h4>

<p class="button_group-pills-round">
    <button class="button">Button</button>
    <button class="button">Button</button>
    <button class="button">Button</button>
</p>

<pre><code class="html">&lt;div class="button_group-pills-round">
    &lt;button class="button">Button&lt;/button>
    &lt;button class="button">Button&lt;/button>
    &lt;button class="button">Button&lt;/button>
&lt;/div></code></pre>

<!-- Cloak & dagger UI -->

<link rel="stylesheet" href="/css/buttons.css" />