---
layout: base.hbs
billboard:
    heading: Buttons
    resource:
        icon: github-alt
        link: https://github.com/esr360/One-Nexus/tree/master/assets/modules/elements/buttons
        text: /assets/modules/elements/buttons
---

<h3 class="heading-size-5-light">Quick Look</h3>

<button class="button">Button</button>
<div class="button-brand-2">Button</div>
<a href="#" class="button-round-brand-3">Button</a>
<a href="#" class="button-round-brand-3-border">Button</a>
<a href="#" class="button-round-success">Button</a>
<a href="#" class="button-oval-dribbble">Button</a>