---
layout: module.hbs
billboard:
    heading: Carousels
    resource:
        icon: github-alt
        link: https://github.com/esr360/One-Nexus/tree/master/assets/modules/elements/carousels
        text: /assets/modules/elements/carousels
---

<h3 class="heading-size-5-light">Quick Look</h3>

<div class="carousel">
    <img src="http://lorempixel.com/640/480" />
    <img src="http://lorempixel.com/641/480" />
    <img src="http://lorempixel.com/640/481" />
    <img src="http://lorempixel.com/641/481" />
    <img src="http://lorempixel.com/640/479" />
</div>

<pre><code class="html">&lt;div class="carousel">
    &lt;img src="http://lorempixel.com/640/480" />
    &lt;img src="http://lorempixel.com/640/480" />
    &lt;img src="http://lorempixel.com/640/480" />
    &lt;img src="http://lorempixel.com/640/480" />
    &lt;img src="http://lorempixel.com/640/480" />
&lt;/div></code></pre>