---
layout: module.hbs
billboard:
    heading: Forms
    resource:
        icon: github-alt
        link: https://github.com/esr360/One-Nexus/tree/master/assets/modules/elements/forms
        text: /assets/modules/elements/forms
---

<h3 class="heading-size-5-light">Quick Look</h3>

<div class="row">
    <form class="form span-6">
        <div class="form_group">
            <label>Your Name</label>
            <input type="text" class="form_input" placeholder="E.g. John Doe">
        </div>
        <div class="form_group">
            <label>Your Message</label>
            <textarea class="form_input" placeholder="Enter your message..."></textarea>
        </div>
        <button type="submit" class="button">Submit</button>
    </form>
</div>

<pre><code class="html">&lt;form class="form">
    &lt;div class="form_group">
        &lt;label>Your Name&lt;/label>
        &lt;input type="text" class="form_input" placeholder="E.g. John Doe">
    &lt;/div>
    &lt;div class="form_group">
        &lt;label>Your Message&lt;/label>
        &lt;textarea class="form_input" placeholder="Enter your message...">&lt;/textarea>
    &lt;/div>
    &lt;button type="submit" class="button">Submit&lt;/button>
&lt;/form></code></pre>