---
layout: module.hbs
billboard:
    heading: Forms
    resource:
        icon: github-alt
        link: https://github.com/esr360/One-Nexus/tree/master/assets/modules/elements/forms
        text: /assets/modules/elements/forms
---

<h3 class="heading-size-5-light">Quick Look</h3>

<div class="row">
    <div class="span-6">

        <h4 class="heading-size-3">Default</h4>

        <form class="form">
            <div class="form_group">
                <label class="form_label">Your Name</label>
                <input type="text" class="form_input" placeholder="E.g. John Doe">
            </div>
            <div class="form_group">
                <label class="form_label">Your Message</label>
                <textarea class="form_input" placeholder="Enter your message..."></textarea>
            </div>
            <button type="submit" class="button">Submit</button>
        </form>

<pre><code class="html">&lt;form class="form">
    &lt;div class="form_group">
        &lt;label class="form_label">Your Name&lt;/label>
        &lt;input type="text" class="form_input" placeholder="E.g. John Doe">
    &lt;/div>
    &lt;div class="form_group">
        &lt;label class="form_label">Your Message&lt;/label>
        &lt;textarea class="form_input" placeholder="Enter your message...">&lt;/textarea>
    &lt;/div>
    &lt;button type="submit" class="button">Submit&lt;/button>
&lt;/form></code></pre>

    </div>

    <div class="span-6">

        <h4 class="heading-size-3">With HTML5 Validation</h4>

        <form class="form">
            <div class="form_group-validate">
                <input required type="text" class="form_input" placeholder="E.g. John Doe">
                <label class="form_label">Your Name</label>
            </div>
            <div class="form_group-validate">
                <textarea required class="form_input" placeholder="Enter your message..."></textarea>
                <label class="form_label">Your Message</label>
            </div>
            <button type="submit" class="button">Submit</button>
        </form>

<pre><code class="html">&lt;form class="form">
    &lt;div class="form_group-validate">
        &lt;input required type="text" class="form_input" placeholder="E.g. John Doe">
        &lt;label class="form_label">Your Name&lt;/label>
    &lt;/div>
    &lt;div class="form_group-validate">
        &lt;textarea required class="form_input" placeholder="Enter your message...">&lt;/textarea>
        &lt;label class="form_label">Your Message&lt;/label>
    &lt;/div>
    &lt;button type="submit" class="button">Submit&lt;/button>
&lt;/form></code></pre>

    </div>
</div>

<h3 class="heading-size-5">Sass</h3>

<p>Load the form styles by including the <code>forms()</code> mixin:</p>

<pre><code>@include forms();</code></pre>

<p>The following options can be passed to the mixin to customize the forms:</p>

<table class="table">
    <thead>
        <tr>
            <th>Option</th>
            <th>Description</th>
            <th>Default</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>name</code></td>
            <td>The name used when generating the CSS selector</td>
            <td><code>'form'</code></td>
        </tr>
        <tr>
            <td><code>input-color</code></td>
            <td>The text color for input elements</td>
            <td><code>core('text-color')</code></td>
        </tr>
        <tr>
            <td><code>input-border</code></td>
            <td>The border for input elements</td>
            <td><code>1px solid color('greyscale', 'grey-3')</code></td>
        </tr>
        <tr>
            <td><code>input-padding</code></td>
            <td>The padding for input elements</td>
            <td><code>0.75em</code></td>
        </tr>
        <tr>
            <td><code>valid-color</code></td>
            <td>The color for valid HTML5 inputs</td>
            <td><code>color('validation', 'valid')</code></td>
        </tr>
        <tr>
            <td><code>invalid-color</code></td>
            <td>The color for invalid HTML5 inputs</td>
            <td><code>color('validation', 'valid')</code></td>
        </tr>
    </tbody>
</table>

<p>The above options can be passed to the mixin like so:</p>

<pre><code>@include forms((
    'input-color': color('brand', 'brand-3'),
    'input-border': 1px solid color('brand', 'brand-3')
));</code></pre>

<p>The above example produces the following form:</p>

<div class="row">
    <form class="formDemo-1 span-6">
        <div class="formDemo-1_group">
            <label class="formDemo-1_label">Your Name</label>
            <input type="text" class="formDemo-1_input" placeholder="E.g. John Doe">
        </div>
        <div class="formDemo-1_group">
            <label class="formDemo-1_label">Your Message</label>
            <textarea class="formDemo-1_input" placeholder="Enter your message..."></textarea>
        </div>
        <button type="submit" class="button-brand-3">Submit</button>
    </form>
</div>

<pre><code class="html">&lt;form class="form">
    &lt;div class="form_group">
        &lt;label class="form_label">Your Name&lt;/label>
        &lt;input type="text" class="form_input" placeholder="E.g. John Doe">
    &lt;/div>
    &lt;div class="form_group">
        &lt;label class="form_label">Your Message&lt;/label>
        &lt;textarea class="form_input" placeholder="Enter your message...">&lt;/textarea>
    &lt;/div>
    &lt;button type="submit" class="button-brand-3">Submit&lt;/button>
&lt;/form></code></pre>

<h3 class="heading-size-5">Examples</h3>

<h4 class="heading-size-3">Form Group With Icon</h4>

<div class="row">
    <form class="form span-6">
        <label class="form_label">Username</label>
        <div class="form_group-has-icon">
            <input type="text" class="form_input" placeholder="Ex: SkyUX">
            <i class="form_icon fa fa-user"></i>
        </div>
    </form>
</div>

<pre><code class="html">&lt;form class="form">
    &lt;label class="form_label">Username&lt;/label>
    &lt;div class="form_group-has-icon">
        &lt;input type="text" class="form_input" placeholder="Ex: SkyUX">
        &lt;i class="form_icon fa fa-user">&lt;/i>
    &lt;/div>
&lt;/form></code></pre>

<h4 class="heading-size-3">Tighter Form Groups <span class="heading-light">(with icons)</span></h4>

<div class="row">
    <form class="form span-6">
        <div class="form_group-compound-has-icon">
            <input type="text" class="form_input" placeholder="Username">
            <i class="form_icon fa fa-user"></i>
        </div>
        <div class="form_group-compound-has-icon">
            <input type="password" class="form_input" placeholder="••••••••">
            <i class="form_icon fa fa-key"></i>
        </div>
    </form>
</div>

<pre><code class="html">&lt;form class="form">
    &lt;div class="form_group-compound-has-icon">
        &lt;input type="text" class="form_input" placeholder="Username">
        &lt;i class="form_icon fa fa-user">&lt;/i>
    &lt;/div>
    &lt;div class="form_group-compound-has-icon">
        &lt;input type="password" class="form_input" placeholder="••••••••">
        &lt;i class="form_icon fa fa-key">&lt;/i>
    &lt;/div>
&lt;/form></code></pre>

<!-- Cloak & dagger UI -->

<link rel="stylesheet" href="/css/forms.css" />