---
layout: module.hbs
billboard:
    heading: Headings
    resource:
        icon: github-alt
        link: https://github.com/esr360/One-Nexus/tree/master/assets/modules/elements/headings
        text: /assets/modules/elements/headings
---

<h3 class="heading-size-5-light">Quick Look</h3>

<h2 class="heading">Default Heading</h2>

<h3 class="heading-size-5-light">Light Size-5 Heading</h3>

<pre><code class="html">&lt;h2 class="heading">Default Heading&lt;/h2>
&lt;h3 class="heading-size-5-light">Light Heading&lt;/h3>
</code></pre>

<h3 class="heading-size-5">Sass</h3>

<p>Load the button styles by including the <code>headings()</code> mixin:</p>

<pre><code>@include headings();</code></pre>

<p>The following options can be passed to the mixin to customize the headings:</p>

<table class="table">
    <thead>
        <tr>
            <th>Option</th>
            <th>Description</th>
            <th>Default</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>name</code></td>
            <td>The name used when generating the CSS selector</td>
            <td><code>'heading'</code></td>
        </tr>
        <tr>
            <td><code>group_heading-lineHeight</code></td>
            <td>The line-height for headings within a group component</td>
            <td><code>0.8</code></td>
        </tr>
        <tr>
            <td><code>sizes['optional-sizes']</code></td>
            <td>Map of font-sizes to use</td>
            <td><code>typography-config('sizes')</code></td>
        </tr>
        <tr>
            <td><code>sizes['breakpoints']</code></td>
            <td>The name used when generating the CSS selector</td>
            <td><code>('break-3': 0.85)</code></td>
        </tr>
    </tbody>
</table>

<p>The above options can be passed to the mixin like so:</p>

<pre><code>@include headings((
    'input-color': color('brand', 'brand-3'),
    'input-border': 1px solid color('brand', 'brand-3')
));</code></pre>

<h3 class="heading-size-5">Examples</h3>

<h4 class="heading-size-3">Sizes</h4>

<ul class="list-clear">
    <li><code>size-1</code></li>
    <li><code>size-2</code></li>
    <li><code>size-3</code></li>
    <li><code>size-4</code></li>
    <li><code>size-5</code></li>
    <li><code>size-6</code></li>
    <li><code>size-7</code></li>
    <li><code>size-8</code></li>
    <li><code>size-9</code></li>
</ul>

<div class="well">
    <h3 class="heading-size-1">Size-1 Heading</h3>
    <h3 class="heading-size-2">Size-2 Heading</h3>
    <h3 class="heading">Default Heading</h3>
    <h3 class="heading-size-3">Size-3 Heading</h3>
    <h3 class="heading-size-4">Size-4 Heading</h3>
    <h3 class="heading-size-5">Size-5 Heading</h3>
    <h3 class="heading-size-6">Size-6 Heading</h3>
    <h3 class="heading-size-7">Size-7 Heading</h3>
    <h3 class="heading-size-8">Size-8 Heading</h3>
    <h3 class="heading-size-9">Size-9 Heading</h3>
</div>

<h4 class="heading-size-3">Modifiers</h4>

<ul class="list-clear">
    <li><code>heavy</code></li>
    <li><code>light</code></li>
    <li><code>uppercase</code></li>
</ul>
  
<div class="row-flow row-breathe">

    <div class="span-4 va-middle well">
        <h3 class="heading-heavy">Heavy Heading</h3>
    </div>
    <div class="span-8 va-middle">
        <pre><code class="html">&lt;h3 class="heading-heavy">Heavy Heading&lt;/h3></code></pre>
    </div>

    <div class="span-4 va-middle well">
        <h3 class="heading-light">Light Heading</h3>
    </div>
    <div class="span-8 va-middle">
        <pre><code class="html">&lt;h3 class="heading-light">Light Heading&lt;/h3></code></pre>
    </div>

    <div class="span-4 va-middle well">
        <h3 class="heading-uppercase">Uppercase Heading</h3>
    </div>
    <div class="span-8 va-middle">
        <pre><code class="html">&lt;h3 class="heading-uppercase">Uppercase Heading&lt;/h3></code></pre>
    </div>

    <div class="span-4 va-middle well">
        <h3 class="heading-light-uppercase">Light Uppercase Heading</h3>
    </div>
    <div class="span-8 va-middle">
        <pre><code class="html">&lt;h3 class="heading-light-uppercase">Light Uppercase Heading&lt;/h3></code></pre>
    </div>

</div>

<h4 class="heading-size-4">Components</h4>

<h4 class="heading-size-2-uppercase">Heading Group</h4>