@import 'heading.json';
/// Heading
///
/// @access public
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
@mixin heading($custom: custom('heading')) {

    // Configuration
    $heading: config($heading, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************

        line-height: 1;

        //*********************************************************
        // Sizes
        //*********************************************************

        @include font-sizes(('sizes': this('sizes')));

        //*********************************************************
        // Modifiers
        //*********************************************************

        @include modifier('heavy') {
            font-weight: bolder;
            font-weight: 900;
        }

        @include modifier('light') {
            font-weight: lighter;
            font-weight: 100;
        }

        @include modifier('uppercase') {
            text-transform: uppercase;
        }

        @include modifier('flush') {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }

        //*********************************************************
        // Components
        //*********************************************************

        @include component('group') {
            @include vertical-rhythm('bottom');

            position: relative;
            margin-bottom: core('margin');
            background-size: cover;
            font-size: 1rem;

            @include module('heading') {
                @include vertical-rhythm;

                margin-top: 0.5em;
                margin-bottom: 0.5em;
                line-height: this('group_heading-lineHeight');
            }
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin heading