@import 'ui/modules/objects/logo/logo.json';
/// Logo
///
/// @access public
/// @group objects
///
/// @param {map} $custom - where custom config will be passed
@mixin logo($custom: custom('logo')) {

    // Config
    $logo: config($logo, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        // for plain text logos
        a {
            display: inline-block;
            color: this('color');

            &:hover {
                text-decoration: none;
            }
        }

        // for image logos
        img {
            display: inline-block;
            height: this('image-height');
            vertical-align: middle;
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // component

} // @mixin logo