@import 'alert-bars.json';
/// Alert Bars
///
/// @access public
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
@mixin alert-bars($custom: custom('alert-bars')) {

    // Configuration
    $alert-bars: config($alert-bars, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************

        display: block;
        position: relative;
        color: this('text-color');

        //*********************************************************
        // Modifiers
        //*********************************************************

        @include modifier('box') {
            @include object;
        }

        @each $name, $color in this('colors') {
            @include modifier($name) {
                background-color: $color;
            }
        }

        //*********************************************************
        // Components
        //*********************************************************

        @include component('icon') {
            @include modifier('right') {
                margin-right: 0;
                float: right;
            }
        }

        //*********************************************************
        // Pseudo States
        //*********************************************************

        &:hover {
            text-decoration: none;
        }

        //*********************************************************
        // Child Elements
        //*********************************************************

        a:not([class*="button"]) {
            border-bottom: 1px dotted;

            &:hover {
                color: inherit;
                text-decoration: none;
            }
        }

        a, b {
            color: inherit;
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin alert-bars