/// Blockquotes
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
/// @outputs all blockquote styles
///
/// @example
///     @include blockquotes((
///         'font'      : 'Times New Roman',
///         'icon-size' : 24px
///     ));
@mixin blockquotes($custom: ()) {

    //*************************************************************
    // Configuration
    //*************************************************************

    $blockquotes: config((
        'name'                  : 'blockquote',
        'font-family'           : Georgia,
        'quotes'                : '\201C''\201D''\2018''\2019',
        'icon':(
            'size'              : 4rem,
            'height'            : 0.5em,
            'padding'           : 2.5em,
            'font-family'       : inherit,
            'left'              : (true, top),
            'right'             : (false, bottom)
        ),
        'pull':(
            'width'             : 340px,
            'max-width'         : 50%,
            'margin'            : 1em
        )
    ), $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************
            
        margin: 0;
        border: 0;
        padding: 0;
        position: relative;
        quotes: this('quotes');
        font-family: this('font-family'), serif;

        &:before, &:after {
            font-size: this('icon', 'size');
            font-family: this('icon', 'font-family');
            height: this('icon', 'height');
            line-height: 1;
            position: absolute;
            opacity: 0;
            visibility: hidden;
        }

        &:before {
            content: open-quote;
            left: 0;
        }

        &:after {
            content: close-quote;
            right: 0;
        }

        //*********************************************************
        // Modifiers
        //*********************************************************

        @include modifier('icon') {
            @include option('icon', 'left') {
                padding-left: this('icon', 'padding');
                &:before {
                    opacity: 1;
                    visibility: visible;
                    #{nth(this('icon', 'left'), 2)}: 0;
                }
            }
            @include option('icon', 'right') {
                padding-right: this('icon', 'padding');
                &:after {
                    opacity: 1;
                    visibility: visible;
                    #{nth(this('icon', 'right'), 2)}: 0;
                }
            }
        }
        
        @include modifier('pull') {

            margin: this('pull', 'margin');
            padding-left: enabled(
                ('icon', 'left'), this('icon', 'padding'), 0
            );
            padding-right: enabled(
                ('icon', 'right'), this('icon', 'padding'), 0
            );

            @media (min-width: breakpoint('break-2')) {
                width: this('pull', 'width');
                max-width: this('pull', 'max-width');
            }

            @include modifier('top') {
                margin-top: 0;
            }

            @include modifier('bottom') {
                margin-bottom: 0;
            }

            @include modifier('left') {
                float: left;
                margin-left: 0;
            }

            @include modifier('right') {
                float: right;
                margin-right: 0;
            }

        }
        
        /// @todo add callout styles to config
        @include modifier('callout') {
            padding: 0.75em;
            font-size: font-size('size-4');
            font-style: italic;
            border-left: 7px solid color('brand', 'brand-2');
            &:before, &:after { 
                display: none;
            }
        }

    } // module

} // @mixin blockquotes