/// Blockquotes
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
/// @outputs all blockquote styles
///
/// @example
///     @include blockquotes((
///         'font'      : 'Times New Roman',
///         'icon-size' : 24px
///     ));
@mixin blockquotes($custom: ()) {

    //*************************************************************
    // Configuration
    //*************************************************************

    $blockquotes: config((
        'name'                  : 'blockquote',
        'font'                  : typography('typefaces', 'secondary'),
        'icon-size'             : 1.75rem,
        'left-icon'             : true,
        'right-icon'            : false,
        'pull-width'            : 340px,
        'pull-max-width'        : 50%,
        'pull-font-style'       : italic,
        'pull-margin'           : 1em
    ), $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************
            
        margin: 0;
        border: 0;
        padding: 0 2.5em;
        position: relative;
        font-family: this('font');

        //*********************************************************
        // Modifiers
        //*********************************************************
        
        @include modifiers(('pull-left', 'pull-right')) {
            font-style: this('pull-font-style');
            margin: this('pull-margin');
            @media (min-width: breakpoint('break-2')) {
                width: this('pull-width');
                max-width: this('pull-max-width');
                text-align: left;
            }
            @include modifier('top') {
                margin-top: 0;
            }
            @include modifier('bottom') {
                margin-bottom: 0;
            }
        }
        
        @include modifier('pull-left') {
            float: left;
            margin-left: 0;
        }
        
        @include modifier('pull-right') {
            float: right;
            margin-right: 0;
        }

        //*********************************************************
        // Components
        //*********************************************************
        
        @include modifier('callout') {
            padding: 0.75em;
            font-size: font-size('size-4');
            font-style: italic;
            color: lighten(color('greyscale', 'grey-4'), 20%);
            border-left: 7px solid color('brand', 'brand-2');
        }
            
    } // module

} // @mixin blockquotes