@import 'lists.json';
/// Buttons
///
/// @access public
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
@mixin lists($custom: custom('lists')) {

    // Configuration
    $lists: config($lists, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Modifiers
        //*********************************************************

        @include modifier('reset') {
            padding-left: 0;
            list-style: none;
        }

        @include modifier('clear') {
            padding-left: 1em;
        }

        @include modifier('inline') {
            > li {
                display: inline-block;

                + li {
                    margin-left: this('inline-spacing');
                }
            }
        }

        @include modifier('divider') {
            > li {
                &:not(:last-child) {
                    margin-bottom: 1em;
                    padding-bottom: 1em;
                    border-bottom: 1px dotted color('opaque', 'dark-2');
                }
            }
        }

        @include modifier('arrow') {
            @include extend('reset');

            > li {
                position: relative;
                margin-bottom: 0;
                padding-left: 1.5em;
                line-height: 1.7;

                &::before {
                    @include vertical-center();

                    content: this('arrow-icon');
                    display: inline-block;
                    left: 0;
                    margin-right: 0.5em;
                    font-family: FontAwesome;
                }
            }

            @include modifier('highlight') {
                color: this('arrow-color');
            }
        }

        @include modifier('group') {
            > li + li {
                margin-top: 1em;
            }
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin lists