///****************************************************************
/// One-Nexus - A toolkit for architecting and constructing
/// front-end user-interfaces - https://github.com/esr360/One-Nexus
///
/// @author [@esr360](http://twitter.com/esr360)
///****************************************************************

// Tools/Utilities
//*****************************************************************

// Sass librarys
@import '../node_modules/normalize-scss/sass/normalize';
@import '../../../Cell/Cell/src/cell';

// CSS librarys
@import '../node_modules/flickity/dist/flickity';

// Modules
//*****************************************************************

// @import './ui/modules/elements/Accordion/assets/layout.scss';

//*****************************************************************

@include normalize;

@keyframes animate--spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate--spin {
  animation: animate--spin 1s infinite linear;
}