/// Forms
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
/// @outputs all form styles
///
/// @example
///     @include forms((
///         'font'      : 'Times New Roman',
///         'icon-size' : 24px
///     ));
@mixin forms($custom: ()) {

    //*************************************************************
    // Configuration
    //*************************************************************

    $forms: config((
        'name'             : 'form',
        'input-color'      : core('text-color'),
        'input-border'     : 1px solid color('greyscale', 'grey-3'),
        'input-padding'    : 0.75em,
        'valid-color'      : color('validation', 'valid'),
        'invalid-color'    : color('validation', 'invalid')
    ), $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************

        fieldset {
            padding: 0;
            border: none;
        }

        //*********************************************************
        // Components
        //*********************************************************

        @include component('label') {
            transition: core('transition');
            color: this('input-color');
        }

        @include component('group') {

            position: relative;
            margin-bottom: (core('margin') / 2);
            @include vertical-rhythm('bottom');

            @include modifier('compound') {
                margin-bottom: (core('margin') / 4);
            }

            @include modifier('has-icon') {
                @include overwrite-component('input') {
                    padding-left: 2em;
                }
            }

            @include modifier('validate') {

                display: table;
                width: 100%;
                
                label { 
                    display: table-header-group; 
                }

                @include overwrite-component('input') {
                    display: table-footer-group;
                    float: left;
                    &:focus {
                        &:invalid {
                            &, ~ label, ~ .form_icon {
                                border-color: this('invalid-color');
                                color: this('invalid-color');
                            }
                            &::placeholder {
                                border-color: this('invalid-color');
                                color: this('invalid-color');
                            }
                        }
                        &:valid {
                            &, ~ label, ~ .form_icon {
                                border-color: this('valid-color');
                                color: this('valid-color');
                            }
                            &::placeholder {
                                border-color: this('invalid-color');
                                color: this('invalid-color');
                            }
                        }
                    }
                }

            }

        }

        @include component('icon') {
            @include vertical-center(absolute);
            color: this('input-color');
            position: absolute;
            left: 0.75em;
        }

        @include component('input') {
            display: block;
            width: 100%;
            padding: this('input-padding');
            border: this('input-border');
            transition: core('transition');
            color: this('input-color');
            font-family: typography('typefaces', 'primary');
            &::placeholder {
                color: this('input-color');
                transition: core('transition');
            }
            &:focus {
                outline: 0;
            }
        }
        
    } // module

} // @mixin forms