@import '../../modules/elements/forms/forms.json';
/// Forms
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
@mixin forms($custom: custom('forms')) {

    // Configuration
    $forms: config($forms, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************

        fieldset {
            padding: 0;
            border: none;
        }

        //*********************************************************
        // Components
        //*********************************************************

        @include component('label') {
            transition: core('transition');
            color: this('input-color');
        }

        @include component('group') {

            position: relative;
            margin-bottom: (core('margin') / 2);
            @include vertical-rhythm('bottom');

            @include modifier('compound') {
                margin-bottom: (core('margin') / 4);
            }

            @include modifier('has-icon') {
                @include module {
                    @include component('input') {
                        padding-left: 2em;
                    }
                }
            }

            @include modifier('validate') {

                display: table;
                width: 100%;
                
                label { 
                    display: table-header-group; 
                }

                @include module {
                    @include component('input') {
                        display: table-footer-group;
                        float: left;
                        &:focus {
                            &:invalid {
                                &, ~ label, ~ .form_icon {
                                    border-color: this('invalid-color');
                                    color: this('invalid-color');
                                }
                                &::placeholder {
                                    border-color: this('invalid-color');
                                    color: this('invalid-color');
                                }
                            }
                            &:valid {
                                &, ~ label, ~ .form_icon {
                                    border-color: this('valid-color');
                                    color: this('valid-color');
                                }
                                &::placeholder {
                                    border-color: this('invalid-color');
                                    color: this('invalid-color');
                                }
                            }
                        }
                    }
                }

            }

        }

        @include component('icon') {
            @include vertical-center(absolute);
            color: this('input-color');
            position: absolute;
            left: 0.75em;
        }

        @include component('input') {
            display: block;
            width: 100%;
            padding: this('input-padding');
            border: this('input-border');
            transition: core('transition');
            color: this('input-color');
            font-family: typography('typefaces', 'primary');
            &::placeholder {
                color: this('input-color');
                transition: core('transition');
            }
            &:focus {
                outline: 0;
            }
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;
        
    } // module

} // @mixin forms