@import '../../modules/objects/site-overlay/site-overlay.json';
/// Overlay
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group objects
///
/// @param {map} $custom - where custom config will be passed
@mixin site-overlay($custom: custom('site-overlay')) {

	// Config
	$site-overlay: config($site-overlay, $custom);
	
    //*************************************************************
    // Module
    //*************************************************************
	
	@include module {
	
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    cursor: pointer;
		z-index: this('z-index');
	    background: this('background');
	    transform: translateZ(0);
	    transition: this('transition');
	    visibility: hidden;
	    opacity: 0;
        
        @include modifier('visible') {
	        visibility: visible;
	        opacity: 1;
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;
		
	}
		
} // @mixin site-overlay