/// Print styles
///
/// @access public
/// @group utilities
@mixin print() {

    @include module('print') {

        @at-root {

            @media print {
                * {
                    background: transparent !important;
                    color: color('greyscale', 'black') !important;
                    text-shadow: none !important;
                    filter: none !important;
                }

                a, a:visited {
                    color: color('greyscale', 'grey-5') !important;
                    text-decoration: underline;

                    // show links on printed pages
                    &::after {
                        content: ' (' attr(href) ')';
                    }

                    // show title too
                    abbr::after {
                        content: ' (' attr(title) ')';
                    }
                }

                .ir a::after,
                [href^='javascript:']::after,
                [href^='#']::after {
                    content: '';
                }

                pre, blockquote {
                    border: 1px solid color('greyscale', 'grey-3');
                    page-break-inside: avoid;
                }

                thead {
                    display: table-header-group;
                }

                tr, img {
                    page-break-inside: avoid;
                }

                img {
                    max-width: 100% !important;
                }

                @page {
                    margin: 0.5cm;
                }

                p, h2, h3 {
                    orphans: 3;
                    widows: 3;
                }

                h2,
                h3 {
                    page-break-after: avoid;
                }
            } // @media print

        }

    } // module('print')

}