// Asset Path
$asset-path: "../../.." !default;

// Path to FontAwesome
$fa-font-path: "#{$asset-path}/fonts";

// Output module configuration data to JSON
$to-JSON: true;

// Vendor Files
@import "../../assets/vendor/Kayzen-GS/src/kayzen-gs";
@import "../../assets/vendor/Sass-Boost/src/sass-boost";
@import "../../assets/vendor/Synergy/src/scss/synergy";

// Tools
@import "../../assets/tools/scss/animations";
@import "../../assets/tools/scss/background";
@import "../../assets/tools/scss/fill-parent";
@import "../../assets/tools/scss/font-sizes";
@import "../../assets/tools/scss/horizontal-center";
@import "../../assets/tools/scss/overlay";
@import "../../assets/tools/scss/triangle";
@import "../../assets/tools/scss/vertical-center";
@import "../../assets/tools/scss/vertical-rhythm";

// Utilities
@import "../../assets/modules/utilities/grid/grid";
@import "../../assets/modules/utilities/color-palette/color-palette";
@import "../../assets/modules/utilities/typography/typography";
@import "../../assets/modules/utilities/helpers/helpers";
@import "../../assets/modules/utilities/sections/sections";

// Elements
@import "../../assets/modules/elements/accordions/accordions";
@import "../../assets/modules/elements/alert-bars/alert-bars";
@import "../../assets/modules/elements/buttons/buttons";
@import "../../assets/modules/elements/blockquotes/blockquotes";
@import "../../assets/modules/elements/carousels/carousels";
@import "../../assets/modules/elements/forms/forms";
@import "../../assets/modules/elements/headings/headings";
@import "../../assets/modules/elements/images/images";
@import "../../assets/modules/elements/lists/lists";
@import "../../assets/modules/elements/modals/modals";
@import "../../assets/modules/elements/progress-bars/progress-bars";
@import "../../assets/modules/elements/tables/tables";
@import "../../assets/modules/elements/tabs/tabs";
@import "../../assets/modules/elements/thumbnails/thumbnails";
@import "../../assets/modules/elements/tooltips/tooltips";
@import "../../assets/modules/elements/wells/wells";
@import "../../assets/modules/elements/widgets/widgets";

// Objects
@import "../../assets/modules/objects/billboard/billboard";
@import "../../assets/modules/objects/breadcrumb/breadcrumb";
@import "../../assets/modules/objects/flyout-nav/flyout-nav";
@import "../../assets/modules/objects/footer/footer";
@import "../../assets/modules/objects/google-map/google-map";
@import "../../assets/modules/objects/header/header";
@import "../../assets/modules/objects/logo/logo";
@import "../../assets/modules/objects/mega-menu/mega-menu";
@import "../../assets/modules/objects/navigation/navigation";
@import "../../assets/modules/objects/dropdown/dropdown";
@import "../../assets/modules/objects/preloader/preloader";
@import "../../assets/modules/objects/scroll-top/scroll-top";
@import "../../assets/modules/objects/search/search";
@import "../../assets/modules/objects/side-nav/side-nav";
@import "../../assets/modules/objects/site-overlay/site-overlay";
@import "../../assets/modules/objects/top-bar/top-bar";
@import "../../assets/modules/objects/twitter-feed/twitter-feed";

@include palettes;

@include typography((
    'import-fonts': false,
    'colors':(
        'link' : color('brand', 'brand-2')
    )
));

$grid: map-merge-deep((
    'name'             : 'grid',
    'output-json'      : true,
    'options':(
        'base-width'   : 95%,
        'small-width'  : 940px,
        'medium-width' : 1200px,
        'large-width'  : 1800px
    ),
    'breakpoints':(
        'break-5'      : 1400px
    )
), $kayzenGS);

$core:(
    'name'        : 'base',
    'output-json' : true,
    'background'  : color('greyscale', 'grey-1'),
    'font-family' : typography('typefaces', 'primary'),
    'text-color'  : typography('colors', 'base'),
    'font-size'   : typography('sizes', 'base'),
    'margin'      : 2rem,
    'line-height' : 1.4,
    'radius'      : 0.4em,
    'oval-radius' : 1.5em,
    'transition'  : 0.4s
)!global;

@function breakpoint($breakpoint) {
    @return kgs-breakpoint($breakpoint);
}