///************************************************************
/// Module Demos
///************************************************************

@import '_app';

@include blockquotes((
    'name': 'blockquoteDemo-1',
    'quotes': '\f10d''\f10e''\f053''\f054',
    'icon':(
        'font-family': FontAwesome,
        'size': 2em,
        'height': 1em,
        'left': (true, top),
        'right': (true, bottom)
    )
));

@include json-encode($_modules, $selector: '#demoConfig');