@import '../../modules/elements/accordions/accordions.json';
/// Accordions
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
@mixin accordions($custom: custom('accordions')) {

    // Configuration
    $accordions: config($accordions, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************

        margin-bottom: core('margin');
        @include vertical-rhythm('bottom');
        
        > * {
            > *:first-child { 
                cursor: pointer;			
            }
            > *:last-child { 
                display: none;	
                &.active {
                    display: block;
                }			
            }
        }

        //*********************************************************
        // Components
        //*********************************************************

        @include component('section') {
            margin: 0;
            &:not(:last-child) {
                margin-bottom: this('section', 'margin');
            }
            @if (this('section', 'margin') == 0) {
                &:not(:last-child) {
                    > *:first-child, > *:last-child {
                        border-bottom: 0 !important;
                    }
                }
            }
            &:hover,
            &.active {
                @include module {
                    @include component('title') {
                        background: this('title', 'active', 'background');
                        color: this('title-active-color');
                        // open/close icon
                        &:after {
                            color: this('icon', 'active-color');
                        }
                    }
                }
            }
            &.active {
                @include module {
                    @include component('title') {
                        border-color: this('title', 'active', 'border');
                        border-radius: this('title', 'active', 'radius');
                        // open/close icon
                        &:after {		
                            transform: rotate(90deg) translateZ(0);
                        }
                    }
                }
            }
        }

        @include component('title') {
            display: block;
            margin: 0;
            font-weight: normal;
            line-height: 1;
            backface-visibility: hidden;
            padding: this('title', 'padding');
            background: this('title', 'background');
            color: this('title', 'color');
            border: this('title', 'border');
            border-radius: this('title', 'radius');
            transition: core('transition');
            // open/close icon
            &:after {
                font-family: FontAwesome;
                float: right;
                line-height: 0.75;
                content: this('icon', 'glyph');
                color: this('icon', 'color');
                transition: core('transition');
            }
        }

        @include component('content') {
            margin: 0;
            margin-top: -1px;	
            border: this('content', 'border');
            border-radius: this('content', 'radius');
            padding: this('content', 'padding');
            background: this('content', 'background');
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin accordions