/// Accordions
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group elements
///
/// @param {map} $custom - where custom config will be passed
/// @outputs all accordion styles
///
/// @example
///     @include accordions((
///         'title-bg'    : blue,
///         'title-color' : white
///     ));
@mixin accordions($custom: ()) {

    //*************************************************************
    // Configuration
    //*************************************************************

    $accordions: config((
        'name'                  : 'accordion',
        'output-json'           : true,
        'icon'                  : '\f138',
        'icon-color'            : rgba(color('greyscale', 'grey-3'), 0.6),
        'icon-active-color'     : color('greyscale', 'white'),
        'section-margin'        : 0,
        'title-bg'              : transparent,
        'title-color'           : core('text-color'),
        'title-border'          : 1px solid rgba(black, 0.15),
        'title-radius'          : 0,
        'title-padding'         : 1em,
        'title-active-bg'       : color('brand', 'brand-1'),
        'title-active-color'    : color('greyscale', 'white'),
        'title-active-border'   : transparent,
        'title-active-radius'   : 0,
        'content-bg'            : color('greyscale', 'white'),
        'content-color'         : core('text-color'),
        'content-border'        : 1px solid rgba(black, 0.15),
        'content-radius'        : 0,
        'content-padding'       : 1.5em
    ), $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        //*********************************************************
        // Core Styles
        //*********************************************************

        margin-bottom: core('margin');
        @include vertical-rhythm('bottom');
        
        > * {
            > *:first-child { 
                cursor: pointer;			
            }
            > *:last-child { 
                display: none;	
                &.active {
                    display: block;
                }			
            }
        }

        //*********************************************************
        // Components
        //*********************************************************

        @include component('section') {
            margin: 0;
            &:not(:last-child) {
                margin-bottom: this('section-margin');
            }
            @if (this('section-margin') == 0) {
                &:not(:last-child) {
                    > *:first-child, > *:last-child {
                        border-bottom: 0 !important;
                    }
                }
            }
            &:hover,
            &.active {
                @include module {
                    @include component('title') {
                        background: this('title-active-bg');
                        color: this('title-active-color');
                        // open/close icon
                        &:after {
                            color: this('icon-active-color');
                        }
                    }
                }
            }
            &.active {
                @include module {
                    @include component('title') {
                        border-color: this('title-active-border');
                        border-radius: this('title-active-radius');
                        // open/close icon
                        &:after {		
                            transform: rotate(90deg) translateZ(0);
                        }
                    }
                }
            }
        }
        
        @include component('title') {
            display: block;
            margin: 0;
            font-weight: normal;
            line-height: 1;
            backface-visibility: hidden;
            padding: this('title-padding');
            background: this('title-bg');
            color: this('title-color');
            border: this('title-border');
            border-radius: this('title-radius');
            transition: core('transition');
            // open/close icon
            &:after {
                font-family: FontAwesome;
                float: right;
                line-height: 0.75;
                content: this('icon');
                color: this('icon-color');
                transition: core('transition');
            }
        }
        
        @include component('content') {
            margin: 0;
            margin-top: -1px;	
            border: this('content-border');
            border-radius: this('content-radius');
            padding: this('content-padding');
            background: this('content-bg');
        }

        //*********************************************************
        // Custom Content
        //*********************************************************

        @content;

    } // module

} // @mixin accordions