//=================================================================
// Accordions
//=================================================================

@mixin accordions($custom: ()) {

    //-------------------------------------------------------------
    // Config
    //-------------------------------------------------------------

    $accordions: config((
        'name'                  : 'accordion',
        'output-JSON'           : true,
        // icon (open/close)
        'icon'                  : '\f138', // FontAwesome value
        'icon-color'            : rgba(color('greyscale', 'grey-3'), 0.6),
        'icon-active-color'     : color('greyscale', 'white'),
        // each section
        'section-margin'        : 0,
        // title (clickable part)
        'title-bg'              : transparent,
        'title-color'           : base('text-color'),
        'title-border'          : 1px solid rgba(black, 0.15),
        'title-radius'          : 0,
        'title-padding'         : 1em,
        // title.active
        'title-active-bg'       : color('brand', 'brand-1'),
        'title-active-color'    : color('greyscale', 'white'),
        'title-active-border'   : transparent,
        'title-active-radius'   : 0,
        // content
        'content-bg'            : color('greyscale', 'white'),
        'content-color'         : base('text-color'),
        'content-border'        : 1px solid rgba(black, 0.15),
        'content-radius'        : 0,
        'content-padding'       : 1.5em
    ), $custom);

    //-------------------------------------------------------------
    // Module
    //-------------------------------------------------------------

    @include module {

    // Core Styles
    //-------------------------------------------------------------

        margin-bottom: base('margin');
        @include vertical-rhythm('bottom');

    // Components
    //-------------------------------------------------------------

        @include component('section') {
            margin: 0;
            &:not(:last-child) {
                margin-bottom: this('section-margin');
            }
            @if (this('section-margin') == 0) {
                &:not(:last-child) {
                    > *:first-child, > *:last-child {
                        border-bottom: 0 !important;
                    }
                }
            }
            &:hover,
            &.active {
                @include overwrite-component('title') {
                    background: this('title-active-bg');
                    color: this('title-active-color');
                    &:after { // open/close icon
                        color: this('icon-active-color');
                    }
                }
            }
            &.active {
                @include overwrite-component('title') {
                    border-color: this('title-active-border');
                    border-radius: this('title-active-radius');
                    &:after { // open/close icon		
                        transform: rotate(90deg) translateZ(0);
                    }
                }
            }
        }
        
        @include component('title') {
            display: block;
            padding: 1em;
            margin: 0;
            background: this('title-bg');
            color: this('title-color');
            border: this('title-border');
            border-radius: this('title-radius');
            font-weight: normal;	
            line-height: 1;		
            transition: base('transition');
            backface-visibility: hidden;
            &:after { // open/close icon
                content: this('icon');
                font-family: FontAwesome;
                float: right;
                color: this('icon-color');
                transition: base('transition');
            }
        }
        
        @include component('content') {
            border: this('content-border');
            border-radius: this('content-radius');
            padding: this('content-padding');
            margin: 0;
            margin-top: -1px;	
            font-weight: lighter;
            background: this('content-bg');
        }
        
        > * {
            > *:first-child { 
                cursor: pointer;			
            }
            > *:last-child { 
                display: none;	
                &.active {
                    display: block;
                }			
            }
        }
        
    // Modifiers
    //-------------------------------------------------------------

        @include modifier('minimal') {
            > * {
                > *:first-child { 
                    position: relative;
                    &:after { // open/close icon
                        content: '\f105';
                        font-family: FontAwesome;
                        position: absolute;
                        font-size: font-size('size-4');
                        right: 0;
                        top: -0.25em;
                        color: this('icon-color');
                        transition: base('transition');
                    }			
                }
                &.active {
                    > *:first-child { 
                        &:after {
                            transform: rotate(90deg);
                        }
                    }
                }
            }
        }

    } // module

} // @mixin accordions