
/* Breadcrumb
======================================================================= */

.breadcrumb {	

	font-size: 0.9em;
	margin: $base-margin 0;
	ul {
		@extend ul.reset;
	}
	li {
		display: inline;
		&:not(:last-child) {
			margin-right: 0.2em;
			&:after {
				content: "\f105";
				font-family: FontAwesome;
				margin-left: 0.4em;
			}
		}
	}

} // End .breadcrumb