
// Dropdown Navigation
// Used in: "modules/_main-nav.scss"
// ================================================================

ul {

//-----------------------------------------------------------------
// Core Layout
//-----------------------------------------------------------------

	@extend ul.reset;
	display: none;
	position: absolute;
	z-index: 999;
	min-width: 185px;
	text-align: left;
	li {
		display: block;
		a {
			background: $dark-grey;
			color: white;
			line-height: 45px;
		}
		&:hover {
			a {
				background: darken($brand-1, 10%);
			}
			> ul {
				display: block;
				a:hover {
					background: darken($brand-1, 20%);
				}
			}
		}
	}
	ul {
		top: 0;
		right: 100%;
	}

//-----------------------------------------------------------------
// Larger Resolutions
//-----------------------------------------------------------------

	@media (min-width: $breakpoint-4) {
		ul {
			left: 100%;
			right: auto;
		}
	}

} // End dropdown ul

&:hover > ul {
	display: block;
}