
/* Footer
================================================================ */

//-----------------------------------------------------------------
// Core Layout
//-----------------------------------------------------------------

.app-footer {
	text-align: center;	
	margin-bottom: $base-margin;
}

.footer-nav {
	ul {
	    @extend ul.reset;
	}
    li {
	    display: inline-block;
	    &:not(:last-child) {
			margin-right: 1em;
	    }
    }
}

//-----------------------------------------------------------------
// Larger Resolutions
//-----------------------------------------------------------------

@media (min-width: $breakpoint-2) {
	.footer-wrapper {			
		display: table;
		width: 100%;
		text-align: left;
	}
	.copyright, 
	.footer-nav {
		display: table-cell;
		vertical-align: middle;
	}
	.footer-nav {
		text-align: right;
	}
}