
/* Header
================================================================ */

//-----------------------------------------------------------------
// Core Layout
//-----------------------------------------------------------------

.app-header {
	background-color: $dark-grey;
}

//-----------------------------------------------------------------
// Larger Resolutions
//-----------------------------------------------------------------

@media (min-width: $breakpoint-3) {
	.header-wrapper {			
		display: table;
		width: 100%;
	}	
	.logo, 
	.main-nav {
		display: table-cell;
		vertical-align: middle;
	}
}

