
/* Logo
================================================================ */

.logo {	

	padding: 1em 0;
	// for plain text logos
	a {
		color: white;
		display: inline-block;
		&:hover {
			text-decoration: none;
		}
	}
	// for image logos
	img {
		height: 34px;
		display: inline-block;
		vertical-align: middle;
	}

} // end .logo