
/* Main Navigation
================================================================ */

.app-nav {

//-----------------------------------------------------------------
// Core Layout
//-----------------------------------------------------------------

	ul {
		@extend ul.reset;
		display: none;
		font-size: 0;
	}
    li {
	    @import "dropdown-nav";
	    ul {
	    	padding-left: 2em;
	    }  
    	a {
			text-decoration: none;
			display: block;	
			line-height: 4.2em;
			color: $grey;
			padding: 0 1em;
			font-size: 1rem;
    	}
	    &:hover {
	    	> a {		    		
				color: white;
				background: darken($brand-1, 10%);
	    	}
	    }
    }

//-----------------------------------------------------------------
// Larger Resolutions
//-----------------------------------------------------------------

	@media (min-width: $breakpoint-3) {
		text-align: right;
		ul {
			white-space: nowrap;
		    li {
				display: inline-block;
				position: relative;
		    }
		}
		> ul {
			display: block;
		}
	}

} // end .app-nav