
/* Scroll to Top
================================================================ */

.scroll-top {

	display: none;
	opacity: 0;
	visibility: hidden;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	transform: translateZ(0);
	&.active {
		opacity: 1;
		visibility: visible;
	}
	&:hover {
		text-decoration: none;
		opacity: 1;
	}

} // end .scroll-top